---
layout: default
title: Marketplace
description: Find extensions and commercial support for Kimai
lang: en
lang-ref: store
redirect_from:
  - /apps/
  - /kimai-mobile/
---

<div class="container">
	{% include page-title.html title="Extend your time-tracking" %}

	<div class="row row-cards">
		<div class="col-lg-9">
			{% assign products = site.store | where_exp:"product", "product.featured != nil" | sort: 'name' %}
			{% include store-list.html products=products %}

            {% assign temp = "" | split: "," %}
            {% assign products = site.store | where_exp:"product", "product.featured == nil" | sort: 'name' %}
            {% for product in products %}
                {% if product.tags contains "support" %}
                    {% assign temp = temp | push: product %}
                {% endif %}
            {% endfor %}
            {% include store-list.html products=temp %}

            {% assign temp = "" | split: "," %}
            {% assign products = site.store | where_exp:"product", "product.featured == nil" | sort: 'name' %}
            {% for product in products %}
                {% unless product.tags contains "support" %}
                    {% assign temp = temp | push: product %}
                {% endunless %}
            {% endfor %}
            {% include store-list.html products=temp %}
		</div>
		<div class="col-lg-3">
			<div class="row">
				<div class="col-md-6 col-lg-12">
					<div class="card">
						<div class="card-body">
							<div class="mb-4 text-center">
								<i class="fas fa-shopping-cart fa-4x"></i>
							</div>
							<h3 class="card-title text-center">Kimai Marketplace</h3>
							<div class="card-subtitle">
								<p>
									The central place to find new plugins and commercial support for Kimai.
								</p>
								<p>
									Any bundle, plugin and Kimai extension in here does only work with Kimai 1.0 or above.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Contribute</h4>
							<div class="card-subtitle">
								<p>
									Are you a developer? Read how to:
								<ul>
									<li>
										<a href="{% link _documentation/plugins.md %}">create a new plugin</a>
									</li>
									<li>
										<a href="{% link _documentation/store.md %}">add your software here</a>
									</li>
									</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Find more plugins</h4>
							<div class="card-subtitle">
								<p>
									You can search through the following Github topics to find more plugins:
								<ul>
									<li>
										<a href="https://github.com/topics/kimai2" target="_blank">kimai2</a>
									</li>
									<li>
										<a href="https://github.com/topics/kimai-plugin" target="_blank">kimai-plugin</a>
									</li>
									<li>
										<a href="https://github.com/topics/kimai-bundle" target="_blank">kimai-bundle</a>
									</li>
									</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
