---
title: Kimai - Kostenlose Zeiterfassung (open-source)
description: Kimai - Kostenlose und einfach zu bedienende Zeiterfassung für Freiberufler, Agenturen und Unternehmen.
lang-ref: home
lang: de
permalink: /de/
redirect_from:
  - /de/meinungen.html
  - /meinungen.html
  - /feedback.html
---

	<blockquote>
		Mit Kimai wird der langweilige Prozess Excel Tabellen mit Ihren Arbeitszeiten zu füttern nicht nur vereinfacht,
		es bietet auch noch dutzende weiterer spannender Funktionen, von denen Sie bisher noch nicht mal wussten, das Sie sie bisher schmerzlich vermissen!
	</blockquote>

	<div class="row row-cards">
		<div class="col-sm-6 col-lg-4">
			{% include card-image.html image="timesheet" %}
		</div>
		<div class="col-sm-6 col-lg-4">
			{% include card-image.html image="invoice" %}
		</div>
		<div class="col-sm-6 col-lg-4">
			{% include card-image.html image="dashboard" %}
		</div>
	</div>

	<p>
		Kimai muss während der Aufnahme nicht laufen, Sie können sogar Ihren Browser beenden.
		Ihre Zeit wird noch aufgezeichnet, bis Sie sie von einem Webbrowser aus stoppen, welcher Zugriff auf Ihre Installation hat.
		Kimai ist für viele Benutzer ausgelegt, aber Sie können es auch für einen einzelnen Benutzer verwenden, ganz wie Sie möchten.
	</p>

	<div class="alert alert-success">
		<h4>Kostenlose Zeiterfassung für jedermann</h4>
		<p>
			Kimai ist eine kostenlose und quelloffene Zeiterfassung. Es erfasst Deine Arbeitszeiten und druckt bei Bedarf eine Zusammenfassung aller Aktivitäten aus.
			Jährlich, monatlich, täglich, sortiert nach Kunden oder Projekten… es können Rechnungen oder Exporte erstellt werden oder Sie verfolgenden den Stand ihrer Projekte.
			Die Einfachheit ist die große Stärke von Kimai. Dank der browserbasierten Benutzeroberfläche läuft es plattformübergreifend, sogar auf Ihrem Handy.
		</p>
		<div class="btn-list">
			<a href="{% link _pages/de/download.md %}" class="btn btn-primary">Jetzt herunterladen!</a>
			<a href="{% link _pages/de/demo.md %}" class="btn btn-secondary">Ausprobieren</a>
		</div>
	</div>

	<h2>Funktionen der Zeiterfassung</h2>
	<p>
		Die folgende Liste ist <b>nicht</b> vollständig, sondern stellt nur einige der aufregenden Funktionen von Kimai vor.
	</p>

	<table class="table table-striped table-responsive-sm">
		<thead>
		<tr>
			<th class="text-nowrap">Name</th>
			<th>Beschreibung</th>
		</tr>
		</thead>
		<tbody>
			{% assign features = site.features | sort:"order" %}
			{% for feature in features %}
				<tr>
					<td class="text-nowrap">
						{% if feature.documentation != nil %}
							{% assign url = feature.documentation | replace: '_store/', '/store/' | replace: '_documentation/', '/documentation/' | replace: '.md', '.html' %}
							<a href="{{ url }}">{{ feature.title }}</a>
						{% else %}
							{{ feature.title }}
						{% endif %}
					</td>
					<td>{{ feature.excerpt }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<p>
		Klingt interessant? Dann warte nicht länger und hol Dir jetzt Deine kostenlose Kopie:
		<a href="{% link _pages/de/download.md %}" class="btn btn-primary"><i class="fas fa-download"></i> Herunterladen</a>
	</p>
