_site/
.sass-cache
.jekyll-cache
.idea
.DS_Store
.jekyll-metadata

_includes/cards/
assets/sass/bootstrap/dist/
assets/sass/bootstrap/js/
node_modules
vendor
assets/img/
assets/json/
src/js/
src/scss/
_IDEAS/
