rewrite ^/hr/o-programu-kimai.html$ /hr/about.html permanent;
rewrite ^/fr/apropos-kimai.html$ /fr/about.html permanent;
rewrite ^/de/ueber-kimai.html$ /de/about.html permanent;
rewrite ^/plugins/news/rss.php$ /feed.xml permanent;
rewrite ^/en/compare/openproject.html$ /en/alternatives/openproject permanent;
rewrite ^/en/alternative-to-openproject$ /en/alternatives/openproject permanent;
rewrite ^/en/alternative-to-clockify$ /en/alternatives/clockify permanent;
rewrite ^/en/alternative-to-toggl$ /en/alternatives/toggl permanent;
rewrite ^/en/alternative-to-traggo$ /en/alternatives/traggo permanent;
rewrite ^/documentation/2.0/api-pagination.html$ /documentation/api-pagination.html permanent;
rewrite ^/v1/administration.html$ /documentation/chapter-manual.html permanent;
rewrite ^/documentation/branding.html$ /documentation/configurations.html permanent;
rewrite ^/documentation/team/$ /documentation/ permanent;
rewrite ^/documentation/create-release.html$ /documentation/ permanent;
rewrite ^/v1/team.html$ /documentation/ permanent;
rewrite ^/documentation/developer/documentation.html$ /documentation/developers.html permanent;
rewrite ^/documentation/developer/introduction.html$ /documentation/developers.html permanent;
rewrite ^/documentation/development/installation.html$ /documentation/developers.html permanent;
rewrite ^/documentation/developer/index.html$ /documentation/developers.html permanent;
rewrite ^/documentation/developer/$ /documentation/developers.html permanent;
rewrite ^/v1/developer.html$ /documentation/developers.html permanent;
rewrite ^/documentation/impersonate-user.html$ /documentation/developers.html permanent;
rewrite ^/documentation/email/$ /documentation/emails.html permanent;
rewrite ^/v1/email.html$ /documentation/emails.html permanent;
rewrite ^/documentation/2.0/emails.html$ /documentation/emails.html permanent;
rewrite ^/documentation/export/$ /documentation/export.html permanent;
rewrite ^/v1/export.html$ /documentation/export.html permanent;
rewrite ^/documentation/2.0/fresh-ubuntu-18.html$ /documentation/fresh-ubuntu-18.html permanent;
rewrite ^/documentation/development/fresh-ubuntu-20.html$ /documentation/fresh-ubuntu-20.html permanent;
rewrite ^/documentation/2.0/i18n-am-pm.html$ /documentation/i18n-am-pm.html permanent;
rewrite ^/documentation/inital-setup.html$ /documentation/initial-setup.html permanent;
rewrite ^/documentation/installation/$ /documentation/installation.html permanent;
rewrite ^/documentation/ftp.html$ /documentation/installation.html permanent;
rewrite ^/v1/installation.html$ /documentation/installation.html permanent;
rewrite ^/documentation/invoices/$ /documentation/invoices.html permanent;
rewrite ^/documentation/developer/invoice-templates.html$ /documentation/invoices.html permanent;
rewrite ^/documentation/invoice-templates/$ /documentation/invoices.html permanent;
rewrite ^/v1/invoice-templates.html$ /documentation/invoices.html permanent;
rewrite ^/v1/invoices.html$ /documentation/invoices.html permanent;
rewrite ^/documentation/2.0/invoices.html$ /documentation/invoices.html permanent;
rewrite ^/documentation/2.0/keyboard-shortcuts.html$ /documentation/keyboard-shortcuts.html permanent;
rewrite ^/documentation/administrator/authenticator.html$ /documentation/ldap.html permanent;
rewrite ^/documentation/authenticator/$ /documentation/ldap.html permanent;
rewrite ^/v1/authenticator.html$ /documentation/ldap.html permanent;
rewrite ^/v1/upgrade-v2.html$ /documentation/migration-v1.html permanent;
rewrite ^/documentation/upgrade-kimai-v1.html$ /documentation/migration-v1.html permanent;
rewrite ^/documentation/expenses/$ /documentation/plugin-expenses.html permanent;
rewrite ^/documentation/extensions/$ /documentation/plugin-management.html permanent;
rewrite ^/documentation/manual/projects.html$ /documentation/project.html permanent;
rewrite ^/documentation/manual/administration/projects.html$ /documentation/project.html permanent;
rewrite ^/documentation/2.0/project.html$ /documentation/project.html permanent;
rewrite ^/manual/rates.html$ /documentation/rates.html permanent;
rewrite ^/manual/manual/rates.html$ /documentation/rates.html permanent;
rewrite ^/documentation/manual/rates.html$ /documentation/rates.html permanent;
rewrite ^/documentation/fees/$ /documentation/rates.html permanent;
rewrite ^/documentation/rates/$ /documentation/rates.html permanent;
rewrite ^/v1/rates.html$ /documentation/rates.html permanent;
rewrite ^/rates/$ /documentation/rates.html permanent;
rewrite ^/store/keleo-recalculate-rates-bundle.html$ /documentation/rates.html permanent;
rewrite ^/documentation/api/$ /documentation/rest-api.html permanent;
rewrite ^/v1/api.html$ /documentation/rest-api.html permanent;
rewrite ^/documentation/azure.html$ /documentation/saml-azure.html permanent;
rewrite ^/documentation/keycloak.html$ /documentation/saml-keycloak.html permanent;
rewrite ^/documentation/2.0/theme.html$ /documentation/theme.html permanent;
rewrite ^/documentation/manual/timesheet.html$ /documentation/timesheet.html permanent;
rewrite ^/documentation/timesheet/$ /documentation/timesheet.html permanent;
rewrite ^/v1/timesheet.html$ /documentation/timesheet.html permanent;
rewrite ^/documentation/developer/translations.html$ /documentation/translations.html permanent;
rewrite ^/documentation/translations/$ /documentation/translations.html permanent;
rewrite ^/v1/translations.html$ /documentation/translations.html permanent;
rewrite ^/documentation/installation/updates.html$ /documentation/updates.html permanent;
rewrite ^/documentation/updates/$ /documentation/updates.html permanent;
rewrite ^/v1/updates.html$ /documentation/updates.html permanent;
rewrite ^/documentation/manual/users.html$ /documentation/users.html permanent;
rewrite ^/documentation/manual/administration/users.html$ /documentation/users.html permanent;
rewrite ^/documentation/cloud-charity.html$ /en/non-profit permanent;
rewrite ^/about$ /en/about.html permanent;
rewrite ^/about/$ /en/about.html permanent;
rewrite ^/en/donate.html$ /en/about.html permanent;
rewrite ^/donate/$ /en/about.html permanent;
rewrite ^/en/blog/Kimai-Blog.html$ /en/blog/ permanent;
rewrite ^/forum/$ /en/blog/ permanent;
rewrite ^/kontakt.html$ /de/support.html permanent;
rewrite ^/en/faq.html$ /de/support.html permanent;
rewrite ^/cs/donate.html$ /cs/about.html permanent;
rewrite ^/spenden.html$ /de/about.html permanent;
rewrite ^/de/spenden.html$ /de/about.html permanent;
rewrite ^/dokumentation/$ /documentation/ permanent;
rewrite ^/de/meinungen.html$ /de/ permanent;
rewrite ^/meinungen.html$ /de/ permanent;
rewrite ^/feedback.html$ /de/ permanent;
rewrite ^/impressum.html$ /de/site-notice.html permanent;
rewrite ^/demo/$ /en/demo.html permanent;
rewrite ^/demo.html$ /en/demo.html permanent;
rewrite ^/v1/demo.html$ /en/demo.html permanent;
rewrite ^/documentation/manual/index.html$ /documentation/ permanent;
rewrite ^/en/documentation/$ /documentation/ permanent;
rewrite ^/documentation/howto.html$ /documentation/ permanent;
rewrite ^/documentation/administration/$ /documentation/ permanent;
rewrite ^/documentation/manual/administration.html$ /documentation/ permanent;
rewrite ^/documentation/faq.html$ /documentation/ permanent;
rewrite ^/download$ /en/download.html permanent;
rewrite ^/latest.html$ /en/download.html permanent;
rewrite ^/download/$ /en/download.html permanent;
rewrite ^/download.html$ /en/download.html permanent;
rewrite ^/es/donate.html$ /es/about.html permanent;
rewrite ^/fr/soutenez.html$ /fr/about.html permanent;
rewrite ^/he/donate.html$ /he/about.html permanent;
rewrite ^/hr/donacije.html$ /hr/about.html permanent;
rewrite ^/en/$ / permanent;
rewrite ^/en/feedback.html$ / permanent;
rewrite ^/testimonials/$ / permanent;
rewrite ^/v1/$ / permanent;
rewrite ^/de/v1.html$ / permanent;
rewrite ^/fr/v1.html$ / permanent;
rewrite ^/hr/v1.html$ / permanent;
rewrite ^/pl/donate.html$ /pl/about.html permanent;
rewrite ^/nl/donate.html$ /nl/about.html permanent;
rewrite ^/it/donate.html$ /it/about.html permanent;
rewrite ^/privacy-policy/$ /en/privacy-policy.html permanent;
rewrite ^/pt/donate.html$ /pt/about.html permanent;
rewrite ^/pt_BR/donate.html$ /pt_BR/about.html permanent;
rewrite ^/ru/donate.html$ /ru/about.html permanent;
rewrite ^/site-notice/$ /en/site-notice.html permanent;
rewrite ^/apps/$ /en/store/ permanent;
rewrite ^/kimai-mobile/$ /en/store/ permanent;
rewrite ^/v1/extensions.html$ /en/store/ permanent;
rewrite ^/v1/kimai-mobile.html$ /en/store/ permanent;
rewrite ^/v1/apps.html$ /en/store/ permanent;
rewrite ^/sv/donate.html$ /sv/about.html permanent;
rewrite ^/uk/donate.html$ /uk/about.html permanent;
rewrite ^/store/hmr-it-hasworked-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/store/mr-software-hasworked-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/store/hmr-it-period-insert-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/store/mr-software-period-insert-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/store/hmr-it-recordbook-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/store/mr-software-recordbook-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/de/store/hmr-it-hasworked-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/de/store/mr-software-hasworked-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/de/store/hmr-it-period-insert-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/de/store/mr-software-period-insert-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/de/store/hmr-it-recordbook-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/de/store/mr-software-recordbook-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/cs/store/mr-software-recordbook-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/hr/store/mr-software-empty-description-checker-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/uk/store/mr-software-hasworked-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/pt_BR/store/mr-software-period-insert-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/pt_BR/store/mr-software-hasworked-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/pt/store/mr-software-hasworked-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/he/store/mr-software-period-insert-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/store/(hmr-it|mr-software)-android-offline-tracker\.html$ /en/store/cloudrizon-kimai-mobile-app-android.html permanent;
rewrite ^/store/(hmr-it|mr-software)-ios-offline-tracker\.html$ /en/store/cloudrizon-kimai-mobile-app-ios.html permanent;
rewrite ^/store/(hmr-it|mr-software)-(controlling-bundle|sickday-bundle|vacation-bundle)\.html$ /en/store/controlling.html permanent;
rewrite ^/(cs|de|fr|he|hr|pt|pt_BR|ru|sv|uk)/store/(hmr-it|mr-software)-android-offline-tracker\.html$ /$1/store/cloudrizon-kimai-mobile-app-android.html permanent;
rewrite ^/(cs|de|fr|he|hr|pt|pt_BR|ru|sv|uk)/store/(hmr-it|mr-software)-ios-offline-tracker\.html$ /$1/store/cloudrizon-kimai-mobile-app-ios.html permanent;
rewrite ^/(cs|de|fr|he|hr|pt|pt_BR|ru|sv|uk)/store/(hmr-it|mr-software)-(controlling-bundle|sickday-bundle|vacation-bundle)\.html$ /$1/store/controlling.html permanent;
rewrite ^/store/work-contract-bundle.html$ /en/store/controlling.html permanent;
rewrite ^/store/kevinpapst-custom-plugins.html$ /en/store/custom-plugins.html permanent;
rewrite ^/v1/expenses.html$ /en/store/expenses-bundle.html permanent;
rewrite ^/store/keleo-installation-support.html$ /en/store/installation-support.html permanent;
rewrite ^/store/keleo-kiosk-barcode-bundle.html$ /en/store/kiosk-barcode-bundle.html permanent;
rewrite ^/fr/store/mr-software-recordbook-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/pt_BR/store/mr-software-recordbook-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/ru/store/mr-software-recordbook-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/he/store/mr-software-recordbook-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/uk/store/mr-software-recordbook-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/pt/store/mr-software-recordbook-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/zh_Hans/store/mr-software-recordbook-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/uk/store/keleo-recalculate-rates-bundle.html$ /documentation/rates.html permanent;
rewrite ^/cs/store/keleo-recalculate-rates-bundle.html$ /documentation/rates.html permanent;
rewrite ^/ru/store/keleo-recalculate-rates-bundle.html$ /documentation/rates.html permanent;
rewrite ^/pt/store/keleo-recalculate-rates-bundle.html$ /documentation/rates.html permanent;
rewrite ^/pt_BR/store/keleo-recalculate-rates-bundle.html$ /documentation/rates.html permanent;
rewrite ^/ru/store/mr-software-hasworked-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/cs/store/mr-software-period-insert-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/fr/store/mr-software-hasworked-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/sv/store/mr-software-hasworked-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/pt/store/mr-software-period-insert-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/uk/store/mr-software-period-insert-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
rewrite ^/hr/store/mr-software-period-insert-bundle.html$ /en/blog/2023/controlling-plugin-mr-software/ permanent;
# renamed to customer-portal
rewrite ^/store/vettersolutions-shared-project-timesheets-bundle.html$ /en/store/customer-portal.html permanent;
rewrite ^/(cs|de|es|fr|he|hr|it|nl|pl|pt|pt_BR|ru|sk|sv|uk|zh_Hans|zh_Hant)/store/vettersolutions-shared-project-timesheets-bundle\.html$ /$1/store/customer-portal.html permanent;
rewrite ^/store/derpilzcc-readonly-access-bundle.html$ /en/store/customer-portal.html permanent;
rewrite ^/(cs|de|es|fr|he|hr|it|nl|pt|pt_BR|ru|sk|sv|uk|zh_Hans|zh_Hant)/store/derpilzcc-readonly-access-bundle\.html$ /$1/store/customer-portal.html permanent;
# old pages that were moved or merged
rewrite ^/blog/2014/kimai-apps/$ /en/store/ permanent;
rewrite ^/de/dokumentation/$ /documentation/ permanent;
rewrite ^/(cs|es|fr|he|hr|it|nl|pl|pt|pt_BR|ru|sk|sv|uk|zh_Hans|zh_Hant)/documentation/$ /documentation/ permanent;
rewrite ^/pricing/$ /en/pricing/ permanent;
rewrite ^/documentation/docker-updates.html$ /documentation/docker.html permanent;
rewrite ^/documentation/buy-a-plugin.html$ /en/terms-plugins.html permanent;
rewrite ^/en/industry.html$ /en/industry permanent;
rewrite ^/blog/tags-apps-plugins.html$ /en/blog/tags-general.html permanent;
# merged with support page
rewrite ^/store/installation-support.html$ /en/support.html permanent;
rewrite ^/(cs|de|es|fr|he|hr|it|nl|pl|pt|pt_BR|ru|sk|sv|ta|uk|zh_Hans|zh_Hant)/store/keleo-installation-support\.html$ /$1/support.html permanent;
rewrite ^/store/custom-plugins.html$ /en/support.html permanent;
rewrite ^/(cs|de|es|fr|he|hr|it|nl|pl|pt|pt_BR|ru|sk|sv|ta|uk|zh_Hans|zh_Hant)/store/keleo-custom-plugins\.html$ /$1/support.html permanent;
# Moving the blog from /blog/ to the language directories /en/blog/
rewrite ^/blog/$ /en/blog/ permanent;
rewrite ^/blog/tags-cloud.html$ /en/blog/tags/cloud permanent;
rewrite ^/blog/tags-general.html$ /en/blog/tags/cloud permanent;
rewrite ^/blog/tags-on-premise.html$ /en/blog/tags/cloud permanent;
rewrite ^/blog/tags-version-1.html$ /en/blog/tags/cloud permanent;

# Moving changelog to language specific subdirectory
rewrite ^/blog/2026/cloud-update-125$ /en/changelog/2026/cloud-update-125 permanent;
rewrite ^/blog/2025/cloud-update-124$ /en/changelog/2025/cloud-update-124 permanent;
rewrite ^/blog/2025/cloud-update-123$ /en/changelog/2025/cloud-update-123 permanent;
rewrite ^/blog/2025/cloud-update-122$ /en/changelog/2025/cloud-update-122 permanent;
rewrite ^/blog/2025/cloud-update-121$ /en/changelog/2025/cloud-update-121 permanent;
rewrite ^/blog/2025/cloud-update-120$ /en/changelog/2025/cloud-update-120 permanent;
rewrite ^/blog/2025/cloud-update-119$ /en/changelog/2025/cloud-update-119 permanent;
rewrite ^/blog/2025/cloud-update-118$ /en/changelog/2025/cloud-update-118 permanent;
rewrite ^/blog/2025/cloud-update-117$ /en/changelog/2025/cloud-update-117 permanent;
rewrite ^/blog/2025/cloud-update-116$ /en/changelog/2025/cloud-update-116 permanent;
rewrite ^/blog/2025/cloud-update-115$ /en/changelog/2025/cloud-update-115 permanent;
rewrite ^/blog/2024/cloud-update-114$ /en/changelog/2024/cloud-update-114 permanent;
rewrite ^/blog/2024/cloud-update-113$ /en/changelog/2024/cloud-update-113 permanent;
rewrite ^/blog/2024/cloud-update-112$ /en/changelog/2024/cloud-update-112 permanent;
rewrite ^/blog/2024/cloud-update-111$ /en/changelog/2024/cloud-update-111 permanent;
rewrite ^/blog/2024/cloud-update-110$ /en/changelog/2024/cloud-update-110 permanent;
rewrite ^/blog/2024/cloud-update-109$ /en/changelog/2024/cloud-update-109 permanent;
rewrite ^/blog/2024/cloud-update-108$ /en/changelog/2024/cloud-update-108 permanent;
rewrite ^/blog/2024/cloud-update-107$ /en/changelog/2024/cloud-update-107 permanent;
rewrite ^/blog/2024/cloud-update-106$ /en/changelog/2024/cloud-update-106 permanent;
rewrite ^/blog/2024/cloud-update-105$ /en/changelog/2024/cloud-update-105 permanent;
rewrite ^/blog/2024/cloud-update-104$ /en/changelog/2024/cloud-update-104 permanent;
rewrite ^/blog/2024/cloud-update-103$ /en/changelog/2024/cloud-update-103 permanent;
rewrite ^/blog/2024/cloud-update-102$ /en/changelog/2024/cloud-update-102 permanent;
rewrite ^/blog/2024/cloud-update-101$ /en/changelog/2024/cloud-update-101 permanent;
rewrite ^/blog/2024/cloud-update-100$ /en/changelog/2024/cloud-update-100 permanent;
rewrite ^/blog/2024/cloud-update-99$ /en/changelog/2024/cloud-update-99 permanent;
rewrite ^/blog/2023/cloud-update-98$ /en/changelog/2023/cloud-update-98 permanent;
rewrite ^/blog/2023/cloud-update-97$ /en/changelog/2023/cloud-update-97 permanent;
rewrite ^/blog/2023/cloud-update-96$ /en/changelog/2023/cloud-update-96 permanent;
rewrite ^/blog/2023/cloud-update-95$ /en/changelog/2023/cloud-update-95 permanent;
rewrite ^/blog/2023/cloud-update-2-2-1$ /en/changelog/2023/cloud-update-2-2-1 permanent;
rewrite ^/blog/2023/cloud-update-2-1-0$ /en/changelog/2023/cloud-update-2-1-0 permanent;
rewrite ^/blog/2023/cloud-update-2-0-35$ /en/changelog/2023/cloud-update-2-0-35 permanent;
rewrite ^/blog/2023/cloud-update-2-0-33$ /en/changelog/2023/cloud-update-2-0-33 permanent;
rewrite ^/blog/2023/cloud-update-2-0-31$ /en/changelog/2023/cloud-update-2-0-31 permanent;
rewrite ^/blog/2023/cloud-update-2-0-27$ /en/changelog/2023/cloud-update-2-0-27 permanent;
rewrite ^/blog/2023/cloud-update-2-0-26$ /en/changelog/2023/cloud-update-2-0-26 permanent;
rewrite ^/blog/2023/cloud-update-2-0-24$ /en/changelog/2023/cloud-update-2-0-24 permanent;
rewrite ^/blog/2023/cloud-updates-2-0-21$ /en/changelog/2023/cloud-updates-2-0-21 permanent;
rewrite ^/blog/2023/cloud-update-2-0-18$ /en/changelog/2023/cloud-update-2-0-18 permanent;
rewrite ^/blog/2023/cloud-update-2-0-17$ /en/changelog/2023/cloud-update-2-0-17 permanent;
rewrite ^/blog/2023/cloud-update-2-0-15$ /en/changelog/2023/cloud-update-2-0-15 permanent;
rewrite ^/blog/2023/cloud-update-2-0-14$ /en/changelog/2023/cloud-update-2-0-14 permanent;
rewrite ^/blog/2023/cloud-update-2-0-13$ /en/changelog/2023/cloud-update-2-0-13 permanent;
rewrite ^/blog/2023/cloud-update-2-0-12$ /en/changelog/2023/cloud-update-2-0-12 permanent;
rewrite ^/blog/2023/cloud-update-2-0-11$ /en/changelog/2023/cloud-update-2-0-11 permanent;
rewrite ^/blog/2023/cloud-update-2-0-10$ /en/changelog/2023/cloud-update-2-0-10 permanent;
rewrite ^/blog/2023/cloud-update-2-0-7$ /en/changelog/2023/cloud-update-2-0-7 permanent;
rewrite ^/blog/2023/cloud-update-2-0-4$ /en/changelog/2023/cloud-update-2-0-4 permanent;
rewrite ^/blog/2023/server-maintenance$ /en/changelog/2023/server-maintenance permanent;
rewrite ^/blog/2023/cloud-update-2-0-2$ /en/changelog/2023/cloud-update-2-0-2 permanent;
rewrite ^/blog/2022/maintenance-18-20-november$ /en/changelog/2022/maintenance-18-20-november permanent;
rewrite ^/blog/2022/updates-end-of-october-2022$ /en/changelog/2022/updates-end-of-october-2022 permanent;
rewrite ^/blog/2022/new-features-september-2022$ /en/changelog/2022/new-features-september-2022 permanent;
rewrite ^/blog/2022/new-features-july-2022$ /en/changelog/2022/new-features-july-2022 permanent;
rewrite ^/blog/2022/new-features-in-june-2022$ /en/changelog/2022/new-features-in-june-2022 permanent;
rewrite ^/blog/2022/cloud-updates-april-2022$ /en/changelog/2022/cloud-updates-april-2022 permanent;
rewrite ^/blog/2022/cloud-updates-march-2022$ /en/changelog/2022/cloud-updates-march-2022 permanent;
rewrite ^/blog/2022/cloud-updates-january-2022$ /en/changelog/2022/cloud-updates-january-2022 permanent;
rewrite ^/blog/2021/cloud-updates-december-2021$ /en/changelog/2021/cloud-updates-december-2021 permanent;
rewrite ^/blog/2021/cloud-updates-november-2021$ /en/changelog/2021/cloud-updates-november-2021 permanent;
rewrite ^/blog/2021/cloud-update-on-21-23-may-2021$ /en/changelog/2021/cloud-update-on-21-23-may-2021 permanent;
rewrite ^/blog/2021/scheduled-maintenance-24-25-april$ /en/changelog/2021/scheduled-maintenance-24-25-april permanent;
rewrite ^/blog/2021/cloud-updates-week-07-february-2021$ /en/changelog/2021/cloud-updates-week-07-february-2021 permanent;
rewrite ^/blog/2020/cloud-update-on-7-8-nov-2020$ /en/changelog/2020/cloud-update-on-7-8-nov-2020 permanent;
rewrite ^/blog/2020/updating-cloud-instances-to-1-9$ /en/changelog/2020/updating-cloud-instances-to-1-9 permanent;
rewrite ^/blog/2020/updating-cloud-instances-to-1-8$ /en/changelog/2020/updating-cloud-instances-to-1-8 permanent;
rewrite ^/blog/2020/updating-cloud-instances-to-1-7$ /en/changelog/2020/updating-cloud-instances-to-1-7 permanent;
rewrite ^/blog/2019/updating-cloud-instances-to-1-6$ /en/changelog/2019/updating-cloud-instances-to-1-6 permanent;

# Redirect moved blog pages
rewrite ^/blog/2025/managing-easter-holidays/$ /en/blog/2026/managing-easter-holidays permanent;
rewrite ^/en/blog/2025/managing-easter-holidays$ /en/blog/2026/managing-easter-holidays permanent;

# Redirect remaining /blog/{year}/{slug} URLs to /en/blog/{year}/{slug}
rewrite "^/blog/([0-9]{4})/([a-z0-9-]+)/?$" /en/blog/$1/$2 permanent;

# security subdirectory without content
rewrite ^/en/security$ /documentation/bughunter.html permanent;
rewrite ^/en/security/$ /documentation/bughunter.html permanent;
rewrite ^/en/blog/2026/kimai-cve-2026-23626-authenticated-server-side-template-injection /en/security/ghsa-jg2j-2w24-54cg permanent;

# Redirects for permalink basename cleanup
rewrite ^/de/kimai-rabatt-codes$ /de/discount-codes permanent;
rewrite ^/de/zeiterfassung-non-profit.html$ /de/non-profit permanent;
rewrite ^/en/kimai-discount-codes$ /en/discount-codes permanent;
rewrite ^/en/time-tracking-non-profit.html$ /en/non-profit permanent;
rewrite ^/(cs|de|es|fr|he|hr|it|nl|pl|pt|pt_BR|ru|sk|sv|ta|uk|zh_Hans|zh_Hant)/store/keleo-(audit-trail-bundle|console-phar|controlling|custom-content-bundle|custom-fields-bundle|expenses-bundle|fail2ban-bundle|grandtotal-plugin-for-kimai|invoice-bundle|kiosk-barcode-bundle|lockdown-per-user-bundle|task-management-bundle|translation-bundle).html$ /$1/store/$2.html permanent;

# Redirect /store/ to /en/store/
rewrite ^/store/?$ /en/store/ permanent;
rewrite ^/store/(.+)$ /en/store/$1 permanent;
rewrite ^/(cs|de|en|es|fr|he|hr|it|nl|pl|pt|pt_BR|ru|sk|sv|ta|uk|zh_Hans|zh_Hant)/compare/?$ /$1/alternatives/ permanent;
rewrite ^/(cs|de|en|es|fr|he|hr|it|nl|pl|pt|pt_BR|ru|sk|sv|ta|uk|zh_Hans|zh_Hant)/([^/]+)-alternative/?$ /$1/alternatives/$2 permanent;
