---
layout: none
---
{%- for collection in site.collections -%}
{%- for page in site[collection.label] -%}
{%- if page.redirect_from != nil -%}
{%- for redirect in page.redirect_from -%}
rewrite ^{{ redirect }}$ {% if page.permalink == nil %}{{ page.url }}{% else %}{{ page.permalink }}{% endif %} permanent;
{% endfor %}
{%- endif -%}
{%- endfor -%}
{%- endfor -%}
