# Site
title: "Kimai Time-Tracking"
feed_title: "Kimai - Open Source Time-Tracking"
locale: "en"
lang: "en"
baseurl: ""
url: "https://www.kimai.org"
timezone: "Europe/Vienna"
collections_dir: "collections"
kimai_customers: "3.2k"
kimai_v2_version: "2.25.0"
kimai_v2_website: https://github.com/kimai/www.kimai.org
kimai_v2_repo: https://github.com/kimai/kimai
kimai_v2_forum: https://github.com/kimai/kimai/discussions
kimai_v2_file: https://github.com/kimai/kimai/blob/main
kimai_v1_repo: https://github.com/kimai/kimai1
kimai_v2_docker: https://github.com/kimai/kimai
kimai_v2_composer_flags: "--no-dev --optimize-autoloader"
#testimonial_add: "https://forms.gle/4vqHS7yR4DM3dvCM8"
testimonial_add: "https://senja.io/p/kimai-time/r/add-testimonial"
avatar_fallback: '<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" /></svg>'
hetzner_cloud: "https://hetzner.cloud/?ref=dvgY87DqAfIv"
digital_ocean: "https://m.do.co/c/a9b9582c5979"
support_email: "support@kimai.org"

cloud:
    country: Austria
    backup_archive_days: 60
    url: https://www.kimai.cloud
    support: https://www.kimai.cloud/go/profile_support
    support_email: support@kimai.cloud

languages:
    - cs
    - de
    - en
    - es
    - fr
    - he
    - hr
    - it
    - nl
    - pl
    - pt
    - pt_BR
    - ru
    - sk
    - sv
    - uk
    - zh_Hans
    - zh_Hant

date_format:
    cs: "%d.%m.%Y"
    de: "%d.%m.%Y"
    en: "%Y-%m-%d"
    es: "%d/%m/%Y"
    fr: "%d.%m.%Y"
    he: "%Y-%m-%d"
    hr: "%-d. %-m. %Y."
    it: "%d/%m/%Y"
    nl: "%d-%m-%Y"
    pl: "%d.%m.%Y"
    pt: "%Y-%m-%d"
    pt_BR: "%Y-%m-%d"
    ru: "%d.%m.%Y"
    sk: "%d. %m. %Y"
    sv: "%Y-%m-%d"
    uk: "%Y-%m-%d"
    zh_Hans: "%Y-%m-%d"
    zh_Hant: "%Y-%m-%d"

language_base:
    cs: 'https://www.kimai.org'
    de: 'https://www.kimai.org'
    en: 'https://www.kimai.org'
    es: 'https://www.kimai.org'
    fr: 'https://www.kimai.org'
    he: 'https://www.kimai.co.il'
    hr: 'https://www.kimai.org'
    it: 'https://www.kimai.org'
    nl: 'https://www.kimai.org'
    pl: 'https://www.kimai.org'
    pt: 'https://www.kimai.org'
    pt_BR: 'https://www.kimai.org'
    ru: 'https://www.kimai.org'
    sk: 'https://www.kimai.org'
    sv: 'https://www.kimai.org'
    uk: 'https://www.kimai.org'
    zh_Hans: 'https://www.kimai.org'
    zh_Hant: 'https://www.kimai.tw'

custom_domain:
    cs: false
    de: false
    en: false
    es: false
    fr: false
    he: true
    hr: false
    it: false
    nl: false
    pl: false
    pt: false
    pt_BR: false
    ru: false
    sk: false
    sv: false
    uk: false
    zh_Hans: false
    zh_Hant: true

language_names:
    cs: Čeština
    de: Deutsch
    en: English
    es: Español
    fr: Français
    he: עברית
    hr: Hrvatski
    it: Italiano
    nl: Nederlands
    pl: Polski
    pt: Português
    pt_BR: Português (Brasil)
    ru: Rусский
    sk: Slovenčina
    sv: Svenska
    uk: Українська
    zh_Hans: 中文（中国）
    zh_Hant: 中文（繁體）

rtl:
    - ar
    - fa
    - he

collections:
    documentation:
        output: true
        permalink: "/:collection/:name.html"
    docu_versioned:
        output: true
        permalink: "/documentation/:path.html"
    pages:
        output: true
        permalink: "/:name/"
    error:
        output: true
        permalink: "/:path.html"
    store:
        output: true
        permalink: "/store/:title.html"
    alternative:
        output: true
    keywords:
        output: true
    landingpage:
        output: true
    industries:
        output: true
    blog_tags:
        output: true
    changelogs:
        output: true

defaults:
    -
        scope:
            path: ""
            type: posts
        values:
            permalink: "/blog/:year/:title/"
            layout: post
            author: kevinpapst
            lang: en
    -
        scope:
            path: ""
            type: pages
        values:
            layout: page
            lang: en
    -
        scope:
            path: ""
            type: error
        values:
            layout: error
            lang: en
            sitemap: false
            robots: noindex,follow
    -
        scope:
            path: ""
            type: documentation
        values:
            layout: documentation
            lang: en
    -
        scope:
            path: ""
            type: docu_versioned
        values:
            layout: docu-versioned
            lang: en
            sitemap: false
    -
        scope:
            path: ""
            type: store
        values:
            layout: store-item
            lang: en
    -
        scope:
            path: "_alternative/en/"
            type: alternative
        values:
            layout: alternative
            lang: en
            permalink: "/en/:title-alternative"
    -
        scope:
            path: "_keywords/de/"
        values:
            lang: de
    -
        scope:
            path: "_keywords/en/"
        values:
            lang: en
    -
        scope:
            path: "_landingpage/de/"
        values:
            layout: landingpage
            permalink: "/de/:title"
            lang: de
    -
        scope:
            path: "_landingpage/en/"
        values:
            layout: landingpage
            permalink: "/en/:title"
            lang: en
    -
        scope:
            path: "_industries/en/"
        values:
            layout: industry
            permalink: "/en/:title-time-tracking"
            lang: en
    -
        scope:
            path: "_changelogs/"
        values:
            layout: changelogs
            permalink: "/blog/:year/:title"
            lang: en
            author: kevinpapst
            image: /images/blog/cloud-update.webp
            tags: [Changelog]

markdown: kramdown
kramdown:
    input: GFM
    syntax_highlighter: rouge

# see Gemfile
plugins:
    - jekyll-mentions
    - jekyll-paginate

jekyll-mentions:
    base_url: https://github.com

exclude:
    - .DS_Store/
    - .git/
    - .github/
    - .idea/
    - .jekyll-cache/
    - .sass-cache/
    - _includes/
    - _site/
    - node_modules/
    - scripts/
    - src/
    - vendor/
    - gulpfile.js
    - package.json
    - package-lock.json
    - README.md
    - Gemfile
    - Gemfile.lock
    - CNAME
    - LICENSE
    - .gitignore
    - _config.dev.yml
    - composer.json
    - composer.lock
    - webpack.config.js
