# Site
title:        "Kimai Time-Tracking"
bio:          "Kimai Time-Tracking"
description:  "Kimai time-tracking app - a free and open-source PHP based time-tracker for agencies and freelancer"
locale:       "en_US"
lang:         "en_US"
baseurl:      ""

# jekyll-sitemap: base hostname & protocol for your site
url:          "https://www.kimai.org"
bing-id:      "874E17F27A8EABE9DDAED762FC498BC4"

collections:
  documentation:
    output: true
    permalink: /:collection/:name.html
  docu_versioned:
    output: true
    permalink: /documentation/:path.html
  v1:
    output: true
    permalink: /:collection/:name.html
  pages:
    output: true
    permalink: /:name/
  error:
    output: true
    permalink: /:name.html
  store:
    output: true
    permalink: /store/:title.html
  features:
    output: false

defaults:
  - scope:
      path: ""
      type: posts
    values:
      permalink: "/blog/:year/:title/"
      layout: post
      author: kevinpapst
      lang: en
  - scope:
      path: ""
      type: pages
    values:
      layout: page
      lang: en
  - scope:
      path: ""
      type: error
    values:
      layout: error
      sitemap: false
      lang: en
  - scope:
      path: ""
      type: v1
    values:
      layout: v1
      lang: en
  - scope:
      path: ""
      type: documentation
    values:
      layout: documentation
      lang: en
  - scope:
      path: ""
      type: docu_versioned
    values:
      layout: documentation
      lang: en
  - scope:
      path: ""
      type: store
    values:
      layout: store-item
      lang: en

# Jekyll
markdown:           kramdown
kramdown:
  auto_ids:         true
  footnote_nr:      1
  entity_output:    as_char
  toc_levels:       1..6
  enable_coderay:   false
  syntax_highlighter_opts:
    css_class: ''
    span:
      line_numbers: false
sass:
  sass_dir:         assets/sass
  style:            compressed

# Gems
plugins:
  - jekyll-sitemap
  - jekyll-mentions
  - jekyll-paginate
  - jekyll-redirect-from

jekyll-mentions:
    base_url: https://github.com

jekyll_tidy:
  compress_html: false
  ignore_env: development

base_color: '#467fcf'

author:
   name: Kevin Papst
   url: https://www.kevinpapst.de

# Kimai exclusive
use_pagination: false
permalink: /blog/:year/:title/
name: Kimai Time-Tracking
download_url: /download/

# Kimai v2
kimai_v2_version: "1.17.1"
kimai_v2_website: https://github.com/kimai/www.kimai.org
kimai_v2_repo: https://github.com/kevinpapst/kimai2
kimai_v2_forum: https://github.com/kevinpapst/kimai2/discussions
kimai_v2_file: https://github.com/kevinpapst/kimai2/blob/master
kimai_v2_demo: https://demo.kimai.org

# Kimai v1
kimai_v1_repo: https://github.com/kimai/kimai

# Exclude list
exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - node_modules
  - gulpfile.js
  - package.json
  - _site
  - src
  - vendor
  - CNAME
  - LICENSE
  - Rakefile
  - old
  - .gitignore
  - .git
  - .idea
  - _includes
  - .DS_Store
  - .sass-cache/
  - assets/scss/*

colors:
  blue:
    hex: '#467fcf'
    name: Blue
  azure:
    hex: '#45aaf2'
    name: Azure
  indigo:
    hex: '#6574cd'
    name: Indigo
  purple:
    hex: '#a55eea'
    name: Purple
  pink:
    hex: '#f66d9b'
    name: Pink
  red:
    hex: '#e74c3c'
    name: Red
  orange:
    hex: '#fd9644'
    name: Orange
  yellow:
    hex: '#f1c40f'
    name: Yellow
  lime:
    hex: '#7bd235'
    name: Lime
  green:
    hex: '#5eba00'
    name: Green
  teal:
    hex: '#2bcbba'
    name: Teal
  cyan:
    hex: '#17a2b8'
    name: Cyan
  gray:
    hex: '#868e96'
    name: Gray
  gray-dark:
    hex: '#343a40'
    name: Dark gray

theme-colors:
  primary:
    hex: '#467fcf'
    name: Primary
  secondary:
    hex: '#868e96'
    name: Secondary
  success:
    hex: '#38c172'
    name: Success
  info:
    hex: '#17a2b8'
    name: Info
  warning:
    hex: '#f8b700'
    name: Warning
  danger:
    hex: '#f90049'
    name: Danger
#  light:
#    hex: '#f8f9fa'
#    name: Light
#  dark:
#    hex: '#343a40'
#    name: Dark

whitelist:
    - jekyll-redirect-from
