{% assign alertType = include.type | default: 'primary' %}
{% if include.icon %}
<div class="alert d-flex alert-{{ alertType }}" role="alert">
    <i class="bx bx-{{ include.icon }} lead me-3"></i>
    <div>
        {{ include.alert | default: "No alert content given" | replace: "<p>", "" | replace: "</p>", ""  }}
    </div>
</div>
{% else %}
<div class="alert alert-{{ alertType }}" role="alert">
    {{ include.alert | default: "No alert content given" | replace: "<p>", "" | replace: "</p>", ""  }}
</div>
{% endif %}
