{% assign date_format = include.date | default: "%Y-%m-%d" %}

    <div class="row row-cards row-deck">

        {% for article in site.posts limit:6 %}
        <div class="col-lg-4">
            {% include card-blog-single.html article=article id=forloop.index %}
        </div>
        {% endfor %}

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="markdown">
                        <h1>{{ include.archive | default: "Archive" }}</h1>
                        <p>
                            {{ include.jump_to | default: "Jump to tag" }}:&nbsp;
                            {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
                            {% assign sortedTags = site_tags | split:',' | sort %}
                            {% for tag in sortedTags %}
                            <a href="#{{ tag | cgi_escape }}" class="badge">{{ tag }} </a>
                            {% endfor %}
                        </p>
                        {% for tag in sortedTags %}
                        <h3 id="{{ tag | cgi_escape }}">{{ tag }}</h3>
                        <ul>
                            {% for post in site.tags[tag] %}
                            <li><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{ post.title }}</a> <span class="text-muted"> — <time class="published" datetime="{{ post.date | date: date_format }}">{{ post.date | date: date_format }}</time></span></li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
