{% assign tag_page = site.blog_tags | filter_slug_lang: include.tag %}
{% assign tag = tag_page.display_tag %}
{% assign limit = include.limit %}
<div class="d-flex align-items-center justify-content-between my-2 pb-1 pb-md-3">
    <h2 class="mb-3">{{ tag_page.title }}</h2>
    <div class="nav flex-nowrap ms-sm-4 ms-3">
        <a href="{% link _blog_tags/{{ english_german }}/{{ tag | slugify  }}.html %}" class="btn btn-dark rounded-pill py-1 px-3" aria-label="{{ site.data[page.lang].translation.blog.archive-tags }}">
            {{ site.data[page.lang].translation.blog.archive-tags }}
            <i class="bx bx-right-arrow-alt fs-4"></i>
        </a>
    </div>
</div>
<div class="masonry-grid row row-cols-lg-3 row-cols-md-2 row-cols-1 g-4 shuffle mb-5">
{% assign tagged_posts = site.tags[tag] | filter_page_lang %}
{% for post in tagged_posts limit: limit %}
    {% assign image = '/images/blog/cover-fallback.webp' %}
    {% if post.image != nil %}
        {% assign image = post.image %}
    {% endif %}
    <div class="masonry-grid-item col pb-2 pb-lg-3 shuffle-item shuffle-item--visible {% if forloop.index0 == 2 %}d-md-none d-lg-block{% endif %}">
        <article class="card bg-transparent border-0">
            <div class="position-relative overflow-hidden rounded-3">
                <a href="{{ post.url }}" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                {% comment %}
                <a href="#" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Read later" data-bs-original-title="Read later">
                    <i class="bx bx-bookmark"></i>
                </a>
                {% endcomment %}
                <img src="{{ image }}" alt="Blog article logo" class="w-100">
            </div>
            <div class="card-body pb-1 px-0">
                {% comment %}<a href="#" class="badge fs-sm text-white bg-info shadow-info text-decoration-none mb-3">Digital</a>{% endcomment %}
                <h3 class="h4">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h3>
                <p class="mb-4">
                    {{ post.excerpt | strip_html | truncate: 250 }}
                </p>
                <div class="d-flex align-items-center text-muted">
                    <div class="fs-sm pe-3 me-3">{{ post.date | date_to_string }}</div>
                </div>
            </div>
        </article>
    </div>
{% endfor %}
</div>
