<div class="row row-cards row-deck">
    <div class="col-md-12">
        <div class="card">
            <div class="card-status bg-info"></div>
            <div class="card-header">
                <h4 class="card-title">How to reload Kimai cache</h4>
            </div>
            <div class="card-body">
{% highlight plaintext %}
bin/console kimai:reload --env=prod
{% endhighlight %}

                <p>It is not advised, but in case the above command fails you could try:</p>

{% highlight plaintext %}
rm -r var/cache/prod/*
{% endhighlight %}
            </div>
        </div>
    </div>
</div>
