<div class="row row-cards row-deck">
    <div class="col-md-12">
        <div class="card">
            <div class="card-status bg-info"></div>
            <div class="card-header">
                <h4 class="card-title">How to reload Kimai cache</h4>
            </div>
            <div class="card-body">
{% highlight plaintext %}
bin/console kimai:reload --env=prod
{% endhighlight %}

                <p>
                    FTP users: please have a look at <a href="{%link _documentation/ftp.md %}">this documentation</a>.
                </p>

                <p>If you are running an older version of Kimai (before 1.8) you have to use:</p>

{% highlight plaintext %}
bin/console cache:clear --env=prod
bin/console cache:warmup --env=prod
{% endhighlight %}
            </div>
        </div>
    </div>
</div>
