
<div class="col-sm-12 col-lg-4">
    <div class="card card-md">
        <div class="card-body text-center">
            <h4>{{ site.data[page.lang].translation.cloud-title }}</h4>
            <ul class="list-unstyled lh-lg">
                <li>
                    {{ site.data[page.lang].translation.cloud-feature-ssl }}
                    <i class="fas fa-check text-success"></i>
                </li>
                <li>
                    {{ site.data[page.lang].translation.cloud-feature-hosting }}
                    <i class="fas fa-check text-success"></i>
                </li>
                <li>
                    {{ site.data[page.lang].translation.cloud-feature-backups }}
                    <i class="fas fa-check text-success"></i>
                </li>
                <li>
                    {{ site.data[page.lang].translation.cloud-plugin-fields }}
                    <i class="fas fa-check text-success"></i>
                </li>
                <li>
                    {{ site.data[page.lang].translation.cloud-plugin-tasks }}
                    <i class="fas fa-check text-success"></i>
                </li>
                <li>
                    {{ site.data[page.lang].translation.cloud-plugin-expenses }}
                    <i class="fas fa-check text-success"></i>
                </li>
                <li>
                    {{ site.data[page.lang].translation.cloud-plugin-audit }}
                    <i class="fas fa-check text-success"></i>
                </li>
                <li>
                    <br>
                    {{ site.data[page.lang].translation.cloud-free-plan }}
                </li>
            </ul>
            <div class="text-center mt-4">
                {% assign cloud_url = "https://www.kimai.cloud/start-trial" %}
                {% if page.lang == "de" %}
                    {% assign cloud_url = "https://www.kimai.cloud/de/testphase-beginnen" %}
                {% endif %}
                <a href="{{ cloud_url }}" class="btn btn-danger w-100">{{ site.data[page.lang].translation.cloud-call-to-action }}</a>
            </div>
        </div>
    </div>
</div>
