
<div class="col-sm-12 col-lg-4">
    <div class="card card-link card-link-pop">
        <div class="card-body">
            <h3 class="card-title">{{ site.data[page.lang].translation.cloud-title }}</h3>
            {% include list-cloud-features.html %}
            <div class="text-center mt-4">
                {% assign cloud_url = "https://www.kimai.cloud/start-trial" %}
                {% if page.lang == "de" %}
                    {% assign cloud_url = "https://www.kimai.cloud/de/testphase-beginnen" %}
                {% endif %}
                <a href="{{ cloud_url }}" class="btn btn-danger w-100">{{ site.data[page.lang].translation.cloud-call-to-action }}</a>
            </div>
        </div>
    </div>
</div>
