<div class="card d-table border-0 p-3 mx-auto mb-4">
    <i class="bx {{ include.icon }} bx-lg"></i>
</div>
<h3 class="h5 mb-3">{{ include.title }}</h3>
<p class="px-5">{{ include.description|raw }}</p>
<div class="text-center mt-4">
    <a href="{{ include.url }}" class="btn btn-{{ include.color }} w-50" target="_blank">{{ site.data[page.lang].translation.access-demo }}</a>
    {% capture demo_id %}<span id="demo_box_{{ include.id }}">?</span>{% endcapture %}
    <small class="d-block mt-3">{{ site.data[page.lang].translation.demo-reinstall | replace: "%X%", demo_id }}</small>
</div>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        let scriptElement = document.createElement('script');
        scriptElement.type = 'text/javascript';
        scriptElement.src = "{{ include.url }}/status.php";
        document.head.appendChild(scriptElement);
    });
</script>
