
<div class="col-sm-12 col-lg-4">
    <div class="card card-md">
        <div class="card-body text-center">
            <h4>{{ site.data.trans[page.lang].cloud-title }}</h4>
            <ul class="list-unstyled lh-lg">
                <li>
                    {{ site.data.trans[page.lang].cloud-feature-ssl }}
                    <i class="fas fa-check text-success"></i>
                </li>
                <li>
                    {{ site.data.trans[page.lang].cloud-feature-hosting }}
                    <i class="fas fa-check text-success"></i>
                </li>
                <li>
                    {{ site.data.trans[page.lang].cloud-feature-backups }}
                    <i class="fas fa-check text-success"></i>
                </li>
                <li>
                    {{ site.data.trans[page.lang].cloud-plugin-fields }}
                    <i class="fas fa-check text-success"></i>
                </li>
                <li>
                    {{ site.data.trans[page.lang].cloud-plugin-tasks }}
                    <i class="fas fa-check text-success"></i>
                </li>
                <li>
                    {{ site.data.trans[page.lang].cloud-plugin-expenses }}
                    <i class="fas fa-check text-success"></i>
                </li>
                <li>
                    {{ site.data.trans[page.lang].cloud-plugin-audit }}
                    <i class="fas fa-check text-success"></i>
                </li>
                <li>
                    <br>
                    {{ site.data.trans[page.lang].cloud-free-plan }}
                </li>
            </ul>
            <div class="text-center mt-4">
                <a href="https://www.kimai.cloud/pricing" class="btn btn-danger w-100">{{ site.data.trans[page.lang].cloud-call-to-action }}</a>
            </div>
        </div>
    </div>
</div>
