
{% assign feature_name = include.name %}
{% assign feature_title = include.title | default: feature_name %}
{% assign feature_description = include.description %}
{% assign feature_icon = include.icon %}
<div class="card card-hover h-100 shadow-sm border-primary p-md-1 p-xl-3">
    <div class="d-table bg-secondary rounded-3 p-3 mx-auto mt-3 mt-md-4">
        <a href="{% if include.link %}{% link {{ include.link }} %}{% else %}{{ include.url }}{% endif %}" class="stretched-link" title="{{ feature_title }}"><i class="{{ feature_icon | icon }} fs-2"></i></a>
    </div>
    <div class="card-body text-center">
        <p class="h5 pb-1 mb-2">{{ feature_name }}</p>
        <p class="mb-0">{{ feature_description }}</p>
    </div>
</div>
