{% if include.image %}
{% assign image = site.data.photos[include.image] %}
<div class="card">
	<a href="{{ image.large }}">
		<img class="card-img-top" src="{{ image.small }}" alt="{{ image.alt[page.lang] | default: image.title[page.lang] }}">
	</a>
	<div class="card-body">
		<h4 class="card-title">{{ image.title[page.lang] }}</h4>
		<div class="card-subtitle">{{ image.description[page.lang] }}</div>
		{% comment %}<p class="card-text">{{ image.description[page.lang] }}</p>{% endcomment %}
		{% if include.url %}
			<a href="{{ include.url }}" class="btn btn-primary">Read more</a>
		{% endif %}
	</div>
</div>
{% endif %}
