<div class="row row-cards row-deck">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">UPDATE WARNING</h4>
<p>
    As this plugin uses composer to install further dependencies, your next update will not work as usual.
    Please read this <a href="{% link _documentation/updates.md %}#changed-files">troubleshooting guide</a> how to handle the situation.
    After reverting all local changes and updating Kimai, you have to reinstall the composer package.
</p>

            </div>
        </div>
    </div>
</div>
