
<section class="container pt-3 pb-4 pb-md-5">
    <div class="card border-0 bg-dark">
        <div class="card-body p-md-5 p-4 bg-size-cover" style="background-image: url(/images/layout/contact-bg.webp);">
            <div class="py-md-5 py-4 text-center">
                <h2 class="text-light pb-3 pb-lg-0 mb-lg-5">Tell us about your work</h2>
                <p>
                Share your details via email. There's no obligation, no fee, and no automated approval — a member of the Kimai team reviews each submission.
                </p>
                <div class="pt-md-5 pt-4 pb-md-2">
                    <a href="mailto:{{ site.support_email }}" class="btn btn-lg btn-primary">We want to hear from you!</a>
                </div>
            </div>
        </div>
    </div>
</section>
