<!-- FIXME translate and URL -->

<section class="container pt-3 pb-4 pb-md-5">
    <div class="card border-0 bg-gradient-primary">
        <div class="card-body p-md-5 p-4 bg-size-cover" style="background-image: url(/images/layout/contact-bg.webp);">
            <div class="py-md-5 py-4 text-center">
                <h3 class="h4 fw-normal text-light opacity-75">Need support?</h3>
                <h2 class="h1 text-light pb-3 pb-lg-0">Find out how Kimai can help you<br> and your organization</h2>
                <div class="pt-md-5 pt-4 pb-md-2">
                    <a href="{% link _pages/support.html %}" class="btn btn-lg btn-light">Find out</a>
                </div>
            </div>
        </div>
    </div>
</section>
