
<section class="container pt-3 pb-4 pb-md-5">
    <div class="card border-0 bg-dark">
        <div class="card-body p-md-5 p-4 bg-size-cover" style="background-image: url(/images/layout/contact-bg.webp);">
            <div class="py-md-5 py-4 text-center">
                <p class="lead text-light opacity-70 mb-3">{{ site.data[page.lang].translation.cta.get-started.question }}</p>
                <h2 class="h1 text-light pb-3 pb-lg-0 mb-lg-5">{{ site.data[page.lang].translation.cta.get-started.answer }}</h2>
                {% include link-cloud-start.html classes="btn btn-success btn-lg" %}
            </div>
        </div>
    </div>
</section>
