
<section class="container mb-5">
    <div class="position-relative bg-dark rounded-3 overflow-hidden px-3 py-5">
        <span class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(255, 255, 255, .05)"></span>
        <div class="position-relative zindex-5 text-center my-xl-3 py-1 py-md-4 py-lg-5">
            {% if include.question %}
            <p class="lead text-light opacity-70 mb-3">{{ include.question }}</p>
            {% endif %}
            <h2 class="h1 text-light pb-3 pb-lg-0 mb-lg-5">{{ include.title }}</h2>
            {% include link-cloud-start.html classes="btn btn-success btn-lg" %}
        </div>
    </div>
</section>
