<div class="nav-item dropdown me-3">
    <a href="#" class="{{ include.class | default: 'btn btn-primary' }} dropdown-toggle" data-bs-toggle="dropdown" tabindex="-1" aria-label="Choose chapter">
        <span class="d-none d-md-flex">
            {% assign choose_title = 'Select chapter' %}
            {% for group in site.data.menu-documentation %}
                {% assign group_key = group[0] %}
                {% for group2 in group[1] %}
                    {% if group2[0] == 'slug' %}
                        {% if group2[1] == page.slug %}
                            {% assign choose_title = page.title %}
                        {% endif %}
                    {% else %}
                        {% for page_slug in group2[1].pages %}
                            {% if page_slug == page.slug %}
                                {% assign choose_title = site.documentation | where: "slug", group[1].slug | map: "title" | first %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {{ choose_title }}
        </span>
        <i class="fas fa-book d-flex d-md-none"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end">
        {% for group in site.data.menu-documentation %}
            {% assign docs_page = site.documentation | where: "slug", group[1].slug | first %}
            <a class="dropdown-item" href="{{ docs_page.url }}">
                {{ docs_page.title }}
            </a>
        {% endfor %}
    </div>
</div>
