{% assign versions = '' | split: ',' %}
{% assign paths = '' | split: ',' %}
{% assign items = site.docu_versioned | sort: 'path' | reverse %}
{% for item in items %}
    {% if item.slug == page.slug %}
        {% assign version = item.path | split:'/' %}
        {% if version.size > 2 %}
            {% assign versions = versions | push: version[1] %}
            {% assign paths = paths | push: item.url %}
        {% endif %}
    {% endif %}
{% endfor %}
{% if versions.size > 0 %}
    <div class="dropdown">
        <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Older versions
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            {% for v in versions %}
            <a class="dropdown-item" href="{{ paths[forloop.index0] }}">Kimai {{ v }}</a>
            {% endfor %}
            {% assign actual_doc = site.documentation | find: "slug", page.slug %}
            <a class="dropdown-item" href="{% link {{ actual_doc.path }} %}">{{ site.kimai_v2_version }} (latest version)</a>
        </div>
    </div>
{% endif %}
