{% assign doc_chapter = site.data.menu-documentation[include.navigation] %}
{% for group in doc_chapter.chapter %}
    {% assign group_key = group.id %}
    {% assign group_name = group.name %}
    {% assign group_desc = group.description %}
    <div class="card mb-4">
        <div class="row g-0 align-items-center">
            <div class="col-sm-3 col-xl-2 mt-2 mt-sm-0">
                <div class="steps">
                    <div class="step justify-content-center">
                        <div class="step-number text-primary">
                            <div class="step-number-inner">
                                <i class="{{ group.icon }} fs-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-xl-10">
                <div class="card-body">
                    <h5 class="card-title">{{ group_name }}</h5>
                    <p class="card-text fs-sm">{{ group_desc }}</p>
                    <div class="lh-lg">
                    {% for p in group.pages %}
                        {% if p != "-" %}
                            {% assign doc = site.documentation | where: "slug", p | first %}
                            <a class="btn btn-sm btn-primary mb-1" href="{{ doc.url }}">
                                {% if doc.navigation != nil %}
                                {{ doc.navigation }}
                                {% else %}
                                {{ doc.title }}
                                {% endif %}
                            </a>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
