<div class="d-md-flex align-items-center justify-content-between pt-sm-2 pt-md-4 pt-lg-5 pb-2 mt-4 {{ include.class | default: '' }}">
    <ul class="nav order-md-1 ms-md-0 mb-3 mb-md-0">
        <li class="nav-item">
            {% include link-translated-menu.html language=page.lang item="index" class="nav-link fs-sm fw-medium ps-0" %}
        </li>
        <li class="nav-item">
            {% include link-translated-menu.html language=page.lang item="site-notice" class="nav-link fs-sm fw-medium" %}
        </li>
        <li class="nav-item">
            {% include link-translated-menu.html language=page.lang item="privacy-policy" class="nav-link fs-sm fw-medium" %}
        </li>
        <li class="nav-item">
            <a href="https://uptime.kimai.cloud/" target="_blank" class="nav-link fs-sm fw-medium">Cloud-Status</a>
        </li>
    </ul>
    <div class="nav order-md-2 mb-3 mb-md-0">
        {% include section-social-links.html %}
    </div>
    <p class="nav d-block fs-sm mb-0 order-md-3">
        <span class="text-body">{{ site.data[page.lang].translation.made-with-love }} </span>
        <a class="nav-link d-inline-block p-0" href="https://www.kevinpapst.de/" target="_blank" rel="noopener">Kevin Papst</a>
    </p>
</div>
