<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/stylesheets/style.css?20180623" type="text/css" media="screen, projection">
    <link rel="alternate" type="application/rss+xml" title="News Feed" href="http://www.kimai.org/feed.xml">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="robots" content="index,follow">
    <title>{{ page.title }}</title>
</head>
<body>
<div class="container">
    <header>
        <a href="/" class="homepage">Back to Kimai Homepage</a>
        <ul id="menu">
            <li><a href="/download/">Download</a></li>
            <li><a href="/demo/">Demo</a></li>
            <li><a href="{{ site.issues_url }}">Help</a></li>
            <li><a href="{{ site.docu_url }}">Documentation</a></li>
            <li><a href="/blog/">News</a></li>
            <li><a href="/donate/">Donate</a></li>
            <li><a href="/testimonials/">Testimonials</a></li>
            <li><a href="/apps/">Apps</a></li>
            <li class="social"><a href="http://www.kimai.org/feed.xml"><i class="fa fa-rss"></i></a></li>
            <li class="social"><a href="http://twitter.com/kimai_org"><i class="fa fa-twitter"></i></a></li>
            <li class="social"><a href="https://github.com/kimai/kimai"><i class="fa fa-github"></i></a></li>
        </ul>
    </header>
