{% assign is_light = true %}
{% assign is_dark = false %}
{% assign is_bg_dark = false %}
{% assign downloadBtnClasses = "btn btn-sm fs-sm d-none d-md-inline-flex me-2" %}
{% assign is_absolute = false %}
{% if include.light != nil %}
    {% assign is_light = include.light %}
{% endif %}
{% if page.navi_dark != nil %}
    {% assign is_dark = page.navi_dark %}
{% endif %}
{% if include.dark != nil %}
    {% assign is_dark = include.dark %}
{% endif %}
{% if page.bg_dark != nil %}
    {% assign is_bg_dark = page.bg_dark %}
{% endif %}
{% if is_dark %}
    {% assign is_light = false %}
    {% assign downloadBtnClasses = downloadBtnClasses | append: " btn-outline-light" %}
{% else %}
    {% assign downloadBtnClasses = downloadBtnClasses | append: " btn-outline-secondary" %}
{% endif %}
{% if include.absolute != nil %}
    {% assign is_absolute = include.absolute %}
{% endif %}
{% if page.navi_absolute != nil %}
    {% assign is_absolute = page.navi_absolute %}
{% endif %}
{% assign homepage = site.pages | where: "slug", "index" | find: "lang", page.lang %}
{% assign store = site.pages | where: "slug", "store" | find: "lang", page.lang %}
{% assign documentation = site.pages | where: "slug", "documentation" | find: "lang", page.lang %}
<header class="header navbar navbar-expand-lg {% if is_absolute %}position-absolute{% endif %} {% if is_dark %}navbar-dark{% endif %} {% if is_bg_dark %}bg-dark{% endif %} {% if is_light %}bg-light{% endif %} navbar-sticky">
    <div class="container px-3">
        <a href="{{ homepage.url }}" class="navbar-brand pe-3">
        <img src="/images/kimai_logo_48.webp" style="height:36px;width:36px;" alt="{{ site.data[page.lang].translation.index.title }}"> Kimai
        </a>
        <div id="navbarNav" class="offcanvas offcanvas-end{% if is_dark %} bg-dark{% endif %}">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title">Menu</h5>
                <button type="button" class="btn-close {% if is_dark %}btn-close-white{% endif %}" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-current="page">{{ site.data[page.lang].translation.product.name }}</a>
                        <ul class="dropdown-menu">
                            <li>{% include link-translated-menu.html item="about" language=page.lang class="dropdown-item" %}</li>
                            <li>{% include link-translated-menu.html type="landingpage" item="open-source-community" language=english_german class="dropdown-item" %}</li>
                            <li class="dropdown-divider"></li>
                            <li>{% include link-translated-menu.html item="integrations" language=page.lang class="dropdown-item" %}</li>
                            <li>{% include link-translated-menu.html item="demo" language=page.lang class="dropdown-item" %}</li>
                            <li class="dropdown-divider"></li>
                            <li>{% include link-translated-menu.html item="blog" language="en" class="dropdown-item" %}</li>
                            <li>{% include link-translated-menu.html item="support" language=page.lang class="dropdown-item" %}</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-current="page">{{ site.data[page.lang].translation.hosted.name }}</a>
                        <ul class="dropdown-menu">
                            <li>{% include link-translated-menu.html item="pricing" language=page.lang class="dropdown-item" %}</li>
                            <li>{% include link-translated-menu.html item="changelogs" language=page.lang class="dropdown-item" %}</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-current="page">{{ site.data[page.lang].translation.onpremise.name }}</a>
                        <ul class="dropdown-menu">
                            <li>{% include link-translated-menu.html item="download" language=page.lang class="dropdown-item" %}</li>
                            <li>{% include link-translated-menu.html item="store" language=page.lang class="dropdown-item" %}</li>
                            <li><a href="{{ site.kimai_v2_forum }}" target="_blank" class="dropdown-item">{{ site.data[page.lang].translation.forum.name }} <i class="bx bx-link-external me-2"></i></a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-current="page">{{ site.data[page.lang].translation.documentation.name }}</a>
                        <ul class="dropdown-menu">
                        {% for group in site.data.menu-documentation %}
                            {% assign docs_config = group[1] %}
                            {% assign docs_page = site.documentation | find: "slug", docs_config.slug %}
                            <li><a href="{{ docs_page.url | full_url: 'en' }}" class="dropdown-item">
                                <i class="{{ docs_config.icon }} me-2"></i>
                                {% assign tkey = docu- | append: docs_config.translation %}
                                {{ site.data[page.lang].translation[tkey].name }}
                            </a></li>
                        {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pe-lg-1 ms-auto me-2">
            {% include link-cloud-login.html classes=downloadBtnClasses %}
            {% include link-cloud-start.html classes="btn btn-success btn-sm fs-sm d-inline-flex" %}
        </div>
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</header>
