<section class="position-relative pt-5" style="background-color: #151922;" data-bs-theme="dark">

    <div class="container position-relative zindex-2 pt-5 pb-2 pb-md-0">

        <div class="row justify-content-center pt-3 mt-3">
            <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10 text-center">
                <h1 class="mb-4">{{ include.title }}</h1>
                <p class="text-body fs-lg pb-3 mb-3">{{ include.intro }}</p>
            </div>
        </div>
    </div>

    <div class="d-flex position-absolute top-100 start-0 w-100 overflow-hidden mt-n5" style="color: #151922;">
        <div class="position-relative start-50 translate-middle-x flex-shrink-0 mt-n5 mt-md-n3 mt-lg-n1" style="width: 3788px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="3788" height="144" viewBox="0 0 3788 144"><path fill="currentColor" d="M0,0h3788.7c-525,90.2-1181.7,143.9-1894.3,143.9S525,90.2,0,0z"></path></svg>
        </div>
    </div>
</section>
