
<section class="pt-lg-4 mt-lg-3">
    <div class="position-relative overflow-hidden">

        <div class="container-fluid position-relative position-lg-absolute top-0 start-0 h-100">
            <div class="row h-100 me-n4 me-n2">
                <div class="col-lg-7 position-relative">
                    <div class="d-none d-sm-block d-lg-none" style="height: 400px;"></div>
                    <div class="d-sm-none" style="height: 300px;"></div>
                    <div class="jarallax position-absolute top-0 start-0 w-100 h-100 rounded-3 rounded-start-0 overflow-hidden">
                        <div class="jarallax-img" style="background-image: url({{ include.image }});"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container position-relative zindex-5 pt-lg-5 px-0 px-lg-3">
            <div class="row pt-lg-5 mx-n4 mx-lg-n3">
                <div class="col-xl-6 col-lg-7 offset-lg-5 offset-xl-6 pb-5">
                    <div class="card bg-dark border-light overflow-hidden py-4 px-2 p-sm-4">
                        <span class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(255,255,255,.05);"></span>
                        <div class="card-body position-relative zindex-5">
                            <p class="fs-xl fw-bold text-primary text-uppercase mb-3">{{ include.subtitle }}</p>
                            <h1 class="display-5 text-light pb-3 mb-3">{{ include.title }}</h1>
                            <p class="fs-lg text-light opacity-70 mb-3">
                                {{ include.intro }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
