{% assign features = include.features | default: page.hero_features | default: '' %}
{% assign bg_color = '' %}
{% if include.color == 'onpremise' %}
    {% assign bg_color = 'bg-hero' %}
{% elsif include.color == 'cloud' %}
    {% assign bg_color = 'bg-hero' %}
{% endif %}

{% if bg_color == '' %}
<section class="hero container pt-md-1 pt-lg-4 pt-xl-5">
    <div class="mt-4 py-2 pb-sm-3 pb-md-4 pb-lg-5 mx-auto text-center" style="max-width: 46.625rem;">
        {% if eyebrow %}
            <p class="eyebrow mb-1">{{ eyebrow }}</p>
        {% elsif features contains 'austria' %}
            <p class="eyebrow mb-1">{{ site.slogan }}</p>
        {% endif %}
        <h1 class="page-title {% if subtitle %} mb-lg-4 mb-3{% endif %}">
            {{ pagetitle }}
        </h1>
        {% if subtitle %}
        <p class="mb-4">{{ subtitle|newline_to_br }}</p>
        {% endif %}
    </div>
</section>
{% else %}
<section class="hero position-relative pt-5">
    <div  class="position-absolute top-0 start-0 w-100 h-100 {{ bg_color }}"></div>
    <div class="container position-relative zindex-2 py-lg-4 pt-xxl-5 pt-3">
        <div class="row justify-content-center flex-md-nowrap">
            <div class="d-flex flex-column justify-content-between mb-3 text-center">
                {% if eyebrow %}
                    <p class="eyebrow mb-1">{{ eyebrow }}</p>
                {% elsif features contains 'austria' %}
                    <p class="eyebrow mb-1">{{ site.slogan }}</p>
                {% endif %}
                <h1 class="page-title mb-lg-4 mb-3">
                    {{ pagetitle }}
                </h1>
                {% if subtitle %}
                <p class="mb-4 pb-xl-3 pb-lg-2 fs-lg mx-auto" style="max-width: 30.5rem;">
                    {{ subtitle|newline_to_br }}
                </p>
                {% endif %}

            </div>
        </div>
    </div>
</section>
{% endif %}
