{%- if include.item != nil and include.language != nil -%}
    {%- assign type = include.type | default: 'pages' -%}
    {%- assign menu = site[type] | where: "slug", include.item | find: "lang", include.language -%}
    {%- assign class = '' -%}
    {%- if include.class != nil -%}
        {%- assign class = include.class -%}
    {%- endif -%}
    <a href="{{ menu.url }}"{% if include.target != nil %} target="{{ include.target }}"{% endif %}{% if class != '' %} class="{{ class }}"{% endif %}>
        {%- if include.icon != nil %}<i class="{{ include.icon }}"></i>{% endif -%}
        {%- if include.title != nil -%}
            {{- include.title -}}
        {%- elsif site.data[page.lang].translation[menu.slug] != nil -%}
            {{- site.data[page.lang].translation[menu.slug].name -}}
        {%- elsif site.data[include.language].translation[menu.slug] != nil -%}
            {{- site.data[include.language].translation[menu.slug].name -}}
        {%- else -%}
            {{- menu.title -}}
        {%- endif -%}
    </a>
{%- endif -%}

