{%- assign lang = include.language | default: page.lang | default: 'en' -%}
{%- if include.item != nil -%}
    {%- assign type = include.type | default: 'pages' -%}
    {%- assign menu = site[type] | filter_slug_lang: include.item -%}
    {%- assign class = '' -%}
    {%- if include.class != nil -%}
        {%- assign class = include.class -%}
    {%- endif -%}
    {%- if include.active == true and page.slug == menu.slug -%}
        {%- assign class = class | append: ' active' -%}
    {%- endif -%}
    <a href="{{ menu.url }}"{% if include.target != nil %} target="{{ include.target }}"{% endif %}{% if class != '' %} class="{{ class }}"{% endif %}>
        {%- if include.icon != nil %}<i class="{{ include.icon }}"></i>{% endif -%}
        {%- if include.title != nil -%}
            {{- include.title -}}
        {%- elsif site.data[page.lang].translation[menu.slug] != nil -%}
            {{- site.data[page.lang].translation[menu.slug].name -}}
        {%- elsif site.data[lang].translation[menu.slug] != nil -%}
            {{- site.data[lang].translation[menu.slug].name -}}
        {%- elsif site.data['en'].translation[menu.slug] != nil -%}
            {{- site.data['en'].translation[menu.slug].name -}}
        {%- else -%}
            {{- menu.title -}}
        {%- endif -%}
        {%- if include.icon_after != nil -%}
        <i class="{{ include.icon_after }}"></i>
        {%- endif -%}
    </a>
{%- endif -%}

