<ul class="list-unstyled fs-sm pb-md-3 mb-3">
    <li class="d-flex mb-2">
        <i class="bx bx-check fs-xl text-primary me-1"></i>
        {{ site.data[page.lang].translation.cloud-feature-ssl }}
    </li>
    <li class="d-flex mb-2">
        <i class="bx bx-check fs-xl text-primary me-1"></i>
        {{ site.data[page.lang].translation.cloud-feature-hosting }}
    </li>
    <li class="d-flex mb-2">
        <i class="bx bx-check fs-xl text-primary me-1"></i>
        {{ site.data[page.lang].translation.cloud-feature-backups }}
    </li>
    <li class="d-flex mb-2">
        <i class="bx bx-check fs-xl text-primary me-1"></i>
        {{ site.data[page.lang].store.items.custom-fields-bundle.title }}
    </li>
    <li class="d-flex mb-2">
        <i class="bx bx-check fs-xl text-primary me-1"></i>
        {{ site.data[page.lang].store.items.task-management-bundle.title }}
    </li>
    <li class="d-flex mb-2">
        <i class="bx bx-check fs-xl text-primary me-1"></i>
        {{ site.data[page.lang].store.items.expenses-bundle.title }}
    </li>
    <li class="d-flex mb-2">
        <i class="bx bx-check fs-xl text-primary me-1"></i>
        {{ site.data[page.lang].store.items.audit-trail-bundle.title }}
    </li>
    <li class="d-flex mb-2">
        <i class="bx bx-check fs-xl text-primary me-1"></i>
        {{ site.data[page.lang].store.items.controlling.title }}
    </li>
    <li class="d-flex">
        <i class="bx bx-check fs-xl text-primary me-1"></i>
        {{ site.data[page.lang].translation.cloud-free-plan }}
    </li>
</ul>
