<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
    {% assign menu = site.data.menu-documentation %}
    {% assign menu_levels = layout.menu | default: page.menu | split: '.' %}
    {% assign showIcons = false %}
    {% assign homepage = site.data.trans-menu[page.lang].docs %}

    <li class="nav-item d-md-inline d-none">
		<a href="{{ homepage.url }}" class="nav-link{% if page.url == homepage.url %} active{% endif %}" style="height: 100%; padding: 0;">
            <img src="{{ '/assets/icon/apple-touch-icon.png' | absolute_url }}" style="display: block;height: 2rem;width: auto;" alt="Kimai logo">
        </a>
    </li>

	{% for data in menu %}
	<li class="nav-item{% if data.pages %} dropdown{% endif %}">

		<a href="{% if data.url %}{% if data.url != '#' %}{{ data.url | absolute_url }}{% else %}#{% endif %}{% else %}javascript:void(0){% endif %}" class="nav-link dropdown-toggle{% if page.url contains data.url %} active{% endif %}{% if data.disabled %} disabled{% endif %}"{% if data.pages %} data-toggle="dropdown"{% endif %}>{% if showIcons && data.icon %}<i class="{{ data.icon }}"></i>{% endif %} {{ data.name }}{% if data.count %} <span class="badge badge-pill bg-primary text-white ml-2">{{ data.count }}</span>{% endif %}</a>

		{% if data.pages %}
			<div class="dropdown-menu dropdown-menu-arrow">
				{% for p in data.pages %}
                    {% assign doc = site.documentation | where: "slug", p | first %}
					<a href="{{ doc.url }}" class="dropdown-item {% if page.url == doc.url %}active{% endif %}">{{ doc.title }}</a>
				{% endfor %}
			</div>
		{% endif %}
	</li>
	{% endfor %}
</ul>
