<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
    {%- assign menu = site.data[layout.menu] -%}
    {%- assign homepage_url = site.pages | where: "lang", page.lang | where: "slug", layout.homepage | map: "url" | first -%}
    {%- assign homepage_name = site.data[page.lang].translation.menu.default[layout.homepage].name -%}
    {%- assign collectionType = layout.type -%}

    <li class="nav-item d-md-inline d-none">
        <a href="{{ homepage_url }}" class="nav-link{% if page.url == homepage_url %} active{% endif %}">
            {{ homepage_name }}
        </a>
    </li>

	{% for data in menu %}
        {% assign menu_key = data[0] %}
        {% assign menu_settings = data[1] %}
        {% assign menu_url = menu_settings.url %}
        {% assign menu_name = site.data[page.lang].translation.menu[layout.menu][menu_key].name %}
        {% assign subpages = menu_settings.pages %}
        <li class="nav-item{% if subpages.size > 0 %} dropdown{% endif %}">
            <a href="{% if menu_url != nil %}{% if menu_url != '#' %}{{ menu_url }}{% else %}#{% endif %}{% else %}javascript:void(0){% endif %}" class="nav-link{% if subpages.size > 0 %} dropdown-toggle{% endif %}{% if page.url contains menu_url %} active{% endif %}"{% if subpages.size > 0 %} data-toggle="dropdown"{% endif %}>
                {{- menu_name -}}
            </a>

            {% if subpages.size > 0 %}
                <div class="dropdown-menu dropdown-menu-arrow">
                    {% for p in subpages %}
                        {% if p == "-" %}
                            <div class="dropdown-divider"></div>
                        {% else %}
                            {% assign doc = site[collectionType] | where: "slug", p | first %}
                            <a href="{{ doc.url }}" class="dropdown-item {% if page.url == doc.url %}active{% endif %}">{{ doc.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </li>
    {% endfor %}

    {% if layout.with_languages == nil %}
        {% for lang in site.languages %}
            {% if page.lang != lang %}
                {% assign targetUrl = site.pages | where: "lang", lang | where: "slug", "index" | map: "url" | first %}
                {% if page.lang != nil %}
                    {% assign targetUrl = site[collectionType] | where: "lang", lang | where: "slug", page.slug | map: "url" | first %}
                {% endif %}
                <li class="nav-item d-sm-none">
                    <a href="{{ targetUrl }}" title="{{ site.data[lang].translation.menu.default.index.title }}" class="first nav-link">{{ site.language_names[lang] }}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>
