<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                {% if include.subtitle %}
                <div class="page-pretitle">
                    {{ include.subtitle }}
                </div>
                {% endif %}
                <h2 class="page-title">
                    {{ include.title | default: page.title }}
                </h2>
            </div>
            {% if include.cloud != nil %}
            <div class="col-12 col-md-auto ms-auto d-print-none">
                <div class="page-options">
                    {% if include.cloud != nil %}
                        {%- assign cloud_url = 'https://www.kimai.cloud/' -%}
                        {%- if page.lang == 'de' %}
                            {%- assign cloud_url = 'https://www.kimai.cloud/de/' -%}
                        {%- endif -%}
                        {% include link-translated.html class="btn btn-primary" name="hosted" url=cloud_url target="_blank" %}
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
