<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                {% if include.subtitle %}
                <div class="page-pretitle">
                    {{ include.subtitle }}
                </div>
                {% endif %}
                <h2 class="page-title">
                    {{ include.title | default: page.title }}
                </h2>
            </div>
            {% if include.options %}
            <div class="col-12 col-md-auto ms-auto d-print-none">
                <div class="page-options">{{ include.options }}</div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
