<div class="pb-3 pb-lg-4 mb-4">
    {% if page.slug == 'find-a-partner' %}
    <a href="{% link _pages/{{ english_german }}/partner-program.html %}" class="btn btn-success me-2">
        {{ site.data[page.lang].translation.partner-program.eyebrow }}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="arrow-right" style="width: 18px; height: 18px; display: inline-flex;" class="lucide lucide-arrow-right"><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg>
    </a>
    <a href="{% link _pages/{{ english_german }}/become-a-partner.html %}" class="btn btn-outline-secondary">
        {{ site.data[page.lang].translation.become-a-partner.eyebrow }}
    </a>
    {% elsif page.slug == 'become-a-partner' %}
    <a href="{% link _pages/{{ english_german }}/partner-program.html %}" class="btn btn-success me-2">
        {{ site.data[page.lang].translation.partner-program.eyebrow }}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="arrow-right" style="width: 18px; height: 18px; display: inline-flex;" class="lucide lucide-arrow-right"><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg>
    </a>
    <a href="{% link _pages/{{ english_german }}/find-a-partner.html %}" class="btn btn-outline-secondary">
        {{ site.data[page.lang].translation.find-a-partner.eyebrow }}
    </a>
    {% else %}
    <a href="{% link _pages/{{ english_german }}/find-a-partner.html %}" class="btn btn-success me-2">
        {{ site.data[page.lang].translation.find-a-partner.eyebrow }}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="arrow-right" style="width: 18px; height: 18px; display: inline-flex;" class="lucide lucide-arrow-right"><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg>
    </a>
    <a href="{% link _pages/{{ english_german }}/become-a-partner.html %}" class="btn btn-outline-secondary">
        {{ site.data[page.lang].translation.become-a-partner.eyebrow }}
    </a>
    {% endif %}
</div>
