{% assign starter = site.data.plans.starter %}
{% assign starter_month = site.data.plans.starter_month %}
{% assign pro = site.data.plans.pro %}
{% assign pro_month = site.data.plans.pro_month %}
{% assign nonprofit = site.data.plans.nonprofit %}
<div class="table-responsive-lg">
    <div class="d-flex justify-content-center align-items-stretch pb-4 flex-wrap gap-3 gap-lg-4">
        <div id="pricing-starter" class="zindex-2 border-primary rounded-5 shadow-lg w-50" style="flex: 1 1 20rem; max-width: 30rem;">
            <div class="card bg-light h-100 py-3 py-sm-4 rounded-5">
                <div class="card-body px-4 px-lg-5">
                    <h4 class="text-primary">{{ starter.name }}</h4>
                    <p class="text-muted fs-sm mb-4">{{ site.data[page.lang].translation.plans.standard_intro }}</p>
                    <div class="fw-bold fs-1 text-dark" data-monthly-price="">{% include money.html amount=starter.price %}</div>
                    <div class="d-none fw-bold fs-1 text-dark" data-annual-price="">{% include money.html amount=starter_month.price %}</div>
                    <div class="text-muted opacity-70 mb-4">{{ site.data[page.lang].translation.pricing.short_monthly }}</div>
                    <div class="mb-5">
                        {% include link-cloud-start.html classes="btn btn-outline-primary btn-lg w-100" %}
                    </div>
                    <div class="fs-lg text-start">
                        <ul class="list-unstyled" data-monthly-price="">
                            {% for feature_name in starter.teaser %}
                            {% assign k = feature_name[0] %}
                            <li>
                                <i class="{{ 'check-yes' | icon }} text-success fs-6 me-2"></i>
                                {% if feature_name[0] == '' %}&nbsp;{% else %}{{ site.data[page.lang].translation.plans[k] }}{% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        <ul class="list-unstyled d-none" data-annual-price="">
                            {% for feature_name in starter_month.teaser %}
                            {% assign k = feature_name[0] %}
                            <li>
                                <i class="{{ 'check-yes' | icon }} text-success fs-6 me-2"></i>
                                {% if feature_name[0] == '' %}&nbsp;{% else %}{{ site.data[page.lang].translation.plans[k] }}{% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="pricing-pro" class="zindex-2 bg-primary rounded-5 shadow-primary w-50" style="flex: 1 1 20rem; max-width: 30rem;">
            <div class="card bg-transparent h-100 border-0 py-3 py-sm-4 rounded-5">
                <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-white text-primary p-2 px-3 fw-bold text-uppercase" data-monthly-price="">★ {{ site.data[page.lang].translation.pricing.favorite }}</span>
                <div class="card-body text-light px-4 px-lg-5">
                    <h4 class="text-light">{{ pro.name }}</h4>
                    <p class="fs-sm mb-4">{{ site.data[page.lang].translation.plans.pro_intro }}</p>
                    <div class="fw-bold fs-1" data-monthly-price="">{% include money.html amount=pro.price %}</div>
                    <div class="d-none fw-bold fs-1" data-annual-price="">{% include money.html amount=pro_month.price %}</div>
                    <div class="opacity-70 mb-4">{{ site.data[page.lang].translation.pricing.short_monthly }}</div>
                    <div class="mb-5">
                        {% include link-cloud-start.html classes="btn btn-light btn-lg w-100 shadow-secondary" %}
                    </div>
                    <div class="fs-lg text-start">
                        <ul class="list-unstyled" data-monthly-price="">
                            <li>
                                <i class="{{ 'check-yes' | icon }} text-white fs-6 me-2"></i>
                                {{ site.data[page.lang].translation.plans.all_from_plan | replace: '%plan%', starter.name }}
                            </li>
                            {% for feature_name in pro.teaser %}
                            {% assign k = feature_name[0] %}
                            <li>
                                <i class="{{ 'check-yes' | icon }} text-white fs-6 me-2"></i>
                                {% if feature_name[0] == '' %}&nbsp;{% else %}{{ site.data[page.lang].translation.plans[k] }}{% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        <ul class="list-unstyled d-none" data-annual-price="">
                            <li>
                                <i class="{{ 'check-yes' | icon }} text-white fs-6 me-2"></i>
                                {{ site.data[page.lang].translation.plans.all_from_plan | replace: '%plan%', starter.name }}
                            </li>
                            {% for feature_name in pro_month.teaser %}
                            {% assign k = feature_name[0] %}
                            <li>
                                <i class="{{ 'check-yes' | icon }} text-white fs-6 me-2"></i>
                                {% if feature_name[0] == '' %}&nbsp;{% else %}{{ site.data[page.lang].translation.plans[k] }}{% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
