{% assign starter = site.data.plans.starter %}
{% assign starter_month = site.data.plans.starter_month %}
{% assign pro = site.data.plans.pro %}
{% assign pro_month = site.data.plans.pro_month %}
{% assign nonprofit = site.data.plans.nonprofit %}
{% assign show_nonprofit = true %}
<div class="price-switch-wrapper">
    <div class="pb-2 pb-lg-3" data-bs-theme="dark">
        <div class="form-check form-switch price-switch justify-content-center mt-2 mb-4" data-bs-toggle="price">
            <input type="checkbox" class="form-check-input" id="pricing">
            <label class="form-check-label d-flex align-items-start" for="pricing">{{ site.data[page.lang].translation.pricing.annual }} <span class="text-danger fs-xs fw-semibold mt-n2 ms-2">-20%</span></label>
            <label class="form-check-label" for="pricing">{{ site.data[page.lang].translation.pricing.monthly }}</label>
        </div>
    </div>
    <div class="table-responsive-lg">
        <div class="d-flex align-items-center pb-4">
            <div class="border rounded-3 rounded-end-0 shadow-sm me-n1" style="width: {% if show_nonprofit %}35%{% else %}50%{% endif %}; min-width: 16rem;">
                <div class="card bg-light h-100 border-0 border-end rounded-end-0 py-3 py-sm-4 py-lg-5">
                    <div class="card-body text-center">
                        <h3 class="mb-5">{{ starter.name }}</h3>
                        <div class="display-5 text-dark mb-1" data-monthly-price="">{% include money.html amount=starter.price %}</div>
                        <div class="d-none display-5 text-dark mb-1" data-annual-price="">{% include money.html amount=starter_month.price %}</div>
                        <div class="text-muted mb-5">{{ site.data[page.lang].translation.pricing.short_monthly }}</div>
                        <div class="fs-lg opacity-70 pb-4 mb-3">
                            <ul class="list-unstyled" data-monthly-price="">
                                {% for feature_name in starter.teaser %}
                                {% assign k = feature_name[0] %}
                                <li>{% if feature_name[0] == '' %}&nbsp;{% else %}{{ site.data[page.lang].translation.plans[k] }}{% endif %}</li>
                                {% endfor %}
                            </ul>
                            <ul class="list-unstyled d-none" data-annual-price="">
                                {% for feature_name in starter_month.teaser %}
                                {% assign k = feature_name[0] %}
                                <li>{% if feature_name[0] == '' %}&nbsp;{% else %}{{ site.data[page.lang].translation.plans[k] }}{% endif %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer border-0 text-center pt-0 pb-4">
                        {% include link-cloud-start.html classes="btn btn-outline-primary btn-lg" %}
                    </div>
                </div>
            </div>
            <div class="bg-primary position-relative rounded-3 shadow-primary shadow-dark-mode-none zindex-2 p-4" style="width: {% if show_nonprofit %}35%{% else %}50%{% endif %}; min-width: 18rem;">
                <div class="card bg-transparent border-light py-3 py-sm-4 py-lg-5">
                    <div class="card-body text-light text-center">
                        <h3 class="text-light mb-5">{{ pro.name }}</h3>
                        <div class="display-5 mb-1" data-monthly-price="">{% include money.html amount=pro.price %}</div>
                        <div class="d-none display-5 mb-1" data-annual-price="">{% include money.html amount=pro_month.price %}</div>
                        <div class="opacity-50 mb-5">{{ site.data[page.lang].translation.pricing.short_monthly }}</div>
                        <div class="fs-lg opacity-70 pb-4 mb-3">
                            <ul class="list-unstyled" data-monthly-price="">
                                <li>{{ site.data[page.lang].translation.plans.all_from_plan | replace: '%plan%', starter.name }}</li>
                                {% for feature_name in pro.teaser %}
                                {% assign k = feature_name[0] %}
                                <li>{% if feature_name[0] == '' %}&nbsp;{% else %}{{ site.data[page.lang].translation.plans[k] }}{% endif %}</li>
                                {% endfor %}
                            </ul>
                            <ul class="list-unstyled d-none" data-annual-price="">
                                <li>{{ site.data[page.lang].translation.plans.all_from_plan | replace: '%plan%', starter.name }}</li>
                                {% for feature_name in pro_month.teaser %}
                                {% assign k = feature_name[0] %}
                                <li>{% if feature_name[0] == '' %}&nbsp;{% else %}{{ site.data[page.lang].translation.plans[k] }}{% endif %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer border-0 text-center pt-0 pb-4">
                        {% include link-cloud-start.html classes="btn btn-light btn-lg shadow-secondary" %}
                    </div>
                </div>
            </div>
{% if show_nonprofit %}
            <div class="border rounded-3 rounded-start-0 shadow-sm" style="width: 30%; min-width: 16rem;">
                <div class="card bg-light h-100 border-0 rounded-start-0 py-3 py-sm-4 py-lg-5">
                    <div class="card-body text-center">
                        <h3 class="mb-5">{{ nonprofit.name }}</h3>
                        <div class="display-5 text-dark mb-1" data-monthly-price="">{% include money.html amount=site.data.plans.nonprofit.price %}</div>
                        <div class="d-none display-5 text-dark mb-1" data-annual-price=""><s class="text-muted">{% include money.html amount=site.data.plans.nonprofit.price %}</s></div>
                        <div class="text-muted mb-5">{{ site.data[page.lang].translation.pricing.short_monthly }}</div>
                        <div class="fs-lg pb-4 mb-3" data-monthly-price="">
                            <ul class="list-unstyled mt-2">
                                <li>{{ site.data[page.lang].translation.plans.all_from_plan | replace: '%plan%', pro.name }}</li>
                                <li class="mt-3"><a href="#">{{ site.data[page.lang].translation.non-profit.eligible }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer border-0 text-center pt-0 pb-4" data-monthly-price="">
                        {% include link-cloud-start.html classes="btn btn-outline-primary btn-lg" %}
                    </div>
                    <div class="d-none card-footer border-0 text-center pt-0 pb-4" data-annual-price="">
                        <button class="btn btn-secondary btn-lg disabled">{{ site.data[page.lang].translation.pricing.not_available }}</button>
                    </div>
                </div>
            </div>
{% endif %}
        </div>
    </div>
</div>
