<section class="container position-relative zindex-2 mt-xl-3 bg-secondary rounded-5 p-5">

    <div class="row text-center">
        <p class="fs-sm text-muted mb-0 text-uppercase fw-bold">
            {{ site.data[page.lang].translation.oss-cloud-compare.subtitle }}
        </p>
        <h2 class="h1 pb-2 pb-lg-3">
            {{ site.data[page.lang].translation.oss-cloud-compare.title | newline_to_br }}
        </h2>
        <p class="fs-lg text-muted pb-3 pb-lg-4 w-5">
            {{ site.data[page.lang].translation.oss-cloud-compare.intro }}
        </p>
    </div>

    <div class="row row-cols-1 row-cols-sm-2">

        <div class="col">
            <div class="card card-hover border-primary rounded-5 p-5 bg-faded-primary">
                <div class="card-body pt-3 pb-2 pb-sm-3 pt-sm-4 pt-md-0 px-3 px-sm-4 px-lg-0">
                    <span class="badge rounded-pill bg-faded-primary text-primary fs-sm mb-2">
                        {{ site.data[page.lang].translation.oss-cloud-compare.cloud.badge }}
                    </span>
                    <h2 class="mb-lg-4">{{ site.cloud.title }}</h2>
                    <p class="text-muted">
                        {{ site.data[page.lang].translation.oss-cloud-compare.cloud.intro }}
                    </p>
                    {% comment %}
                        {{ site.data[page.lang].translation.cloud-feature-ssl }}
                        {{ site.data[page.lang].translation.cloud-feature-hosting }}
                        {{ site.data[page.lang].translation.cloud-feature-backups }}
                        {{ site.data[page.lang].store.items.custom-fields-bundle.title }}
                        {{ site.data[page.lang].store.items.task-management-bundle.title }}
                        {{ site.data[page.lang].store.items.expenses-bundle.title }}
                        {{ site.data[page.lang].store.items.audit-trail-bundle.title }}
                        {{ site.data[page.lang].store.items.controlling.title }}
                    {% endcomment %}
                    <ul class="list-unstyled fs-sm pb-md-3 mb-3">
                        <li class="d-flex mb-2">
                            <i class="bx bx-check fs-xl text-primary me-1"></i>
                            {{ site.data[page.lang].translation.oss-cloud-compare.cloud.reason_1 }}
                        </li>
                        <li class="d-flex mb-2">
                            <i class="bx bx-check fs-xl text-primary me-1"></i>
                            {{ site.data[page.lang].translation.oss-cloud-compare.cloud.reason_2 }}
                        </li>
                        <li class="d-flex mb-2">
                            <i class="bx bx-check fs-xl text-primary me-1"></i>
                            {{ site.data[page.lang].translation.oss-cloud-compare.cloud.reason_3 }}
                        </li>
                        <li class="d-flex mb-2">
                            <i class="bx bx-check fs-xl text-primary me-1"></i>
                            {{ site.data[page.lang].translation.oss-cloud-compare.cloud.reason_4 }}
                        </li>
                        <li class="d-flex mb-2">
                            <i class="bx bx-check fs-xl text-primary me-1"></i>
                            {{ site.data[page.lang].translation.oss-cloud-compare.cloud.reason_5 }}
                        </li>
                    </ul>

                    {% include link-cloud-start.html classes="btn btn-primary mb-2" %}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-hover border-primary rounded-5 p-5 bg-faded-info">
                <div class="card-body pt-3 pb-2 pb-sm-3 pt-sm-4 pt-md-0 px-3 px-sm-4 px-lg-0">
                    <span class="badge rounded-pill bg-faded-info text-info fs-sm mb-2">
                        {{ site.data[page.lang].translation.oss-cloud-compare.on-premise.badge }}
                    </span>
                    <h2 class="mb-lg-4">{{ site.data[page.lang].translation.on-premise.name }}</h2>
                    <p class="text-muted">
                        {{ site.data[page.lang].translation.oss-cloud-compare.on-premise.intro }}
                    </p>
                    {% comment %}
                        {{ site.data[page.lang].translation.homepage-alert-intro }}
                        {{ site.data[page.lang].translation.homepage-quote-excel }}
                    {% endcomment %}
                    <ul class="list-unstyled fs-sm pb-md-3 mb-3">
                        <li class="d-flex mb-2">
                            <i class="bx bx-check fs-xl text-info me-1"></i>
                            {{ site.data[page.lang].translation.oss-cloud-compare.on-premise.reason_1 }}
                        </li>
                        <li class="d-flex mb-2">
                            <i class="bx bx-check fs-xl text-info me-1"></i>
                            {{ site.data[page.lang].translation.oss-cloud-compare.on-premise.reason_2 }}
                        </li>
                        <li class="d-flex mb-2">
                            <i class="bx bx-check fs-xl text-info me-1"></i>
                            {{ site.data[page.lang].translation.oss-cloud-compare.on-premise.reason_3 }}
                        </li>
                        <li class="d-flex mb-2">
                            <i class="bx bx-check fs-xl text-info me-1"></i>
                            {{ site.data[page.lang].translation.oss-cloud-compare.on-premise.reason_4 }}
                        </li>
                        <li class="d-flex mb-2">
                            <i class="bx bx-check fs-xl text-info me-1"></i>
                            {{ site.data[page.lang].translation.oss-cloud-compare.on-premise.reason_5 }}
                        </li>
                    </ul>

                    {% include link-translated-menu.html item="download" language=page.lang class="btn btn-info mb-2" %}
                </div>
            </div>
        </div>

    </div>
</section>
