<section class="container py-5 my-md-2 my-lg-4 my-xl-5">
    <div class="row justify-content-center pt-5 pb-1 pb-sm-2 pb-md-3 text-center">
        <h3 class="mb-4">{{ site.data[page.lang].translation.landing_oss.version_choose }}</h3>
    </div>
    <div class="row justify-content-center pt-5 pb-1 pb-sm-2 pb-md-3">
        <div class="col-xxl-10 col-xl-11 col-lg-12 pt-sm-2 pt-md-5">
            <div class="d-sm-flex">
                <div class="card w-sm-50 border-0 bg-transparent px-sm-1 px-md-3">
                    <div class="card-body p-0 pb-2 pb-sm-3 mb-3 text-center">
                        <div class="d-inline-block bg-secondary text-primary rounded-circle fs-3 lh-1 p-3 mb-3">
                            <i class="bx bx-lock-open-alt"></i>
                        </div>
                        <h3 class="fs-5 mb-4">On-Premise</h3>
                        <p>
                            {{ site.data[page.lang].translation.landing_oss.version_onpremise }}
                        </p>
                    </div>
                </div>
                <div class="vr text-border d-none d-sm-inline-block m-4"></div>
                <div class="card w-sm-50 border-0 bg-transparent px-sm-1 px-md-3">
                    <div class="card-body p-0 pb-2 pb-sm-3 mb-3 text-center">
                        <div class="d-inline-block bg-secondary text-primary rounded-circle fs-3 lh-1 p-3 mb-3">
                            <i class="bx bx-cloud"></i>
                        </div>
                        <h3 class="fs-5 mb-4">Cloud</h3>
                        <p>
                            {{ site.data[page.lang].translation.landing_oss.version_cloud }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pt-5 pb-1 pb-sm-2 pb-md-3 text-center">
        <h3 class="mb-5">{{ site.data[page.lang].translation.oss-cloud-compare.title }}</h3>
    </div>
    <div class="row justify-content-center pt-5 pb-1 pb-sm-2 pb-md-3">
        <table class="table compare-versions">
            <thead>
            <tr>
                <th></th>
                <th class="text-center">
                    {{ site.data[page.lang].translation.oss-cloud-compare.onpremise }}
                    <br>
                    On-Premise
                </th>
                <th class="text-center">
                    {{ site.data[page.lang].translation.oss-cloud-compare.saas }}
                    <br>
                    Cloud
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-start">Number of users</td>
                <td class="text-center">
                    Unlimited
                </td>
                <td class="text-center">
                    Unlimited
                </td>
            </tr>
            <tr>
                <td class="text-start">Number of customers</td>
                <td class="text-center">
                    Unlimited
                </td>
                <td class="text-center">
                    Unlimited
                </td>
            </tr>
            <tr>
                <td class="text-start">Number of projects</td>
                <td class="text-center">
                    Unlimited
                </td>
                <td class="text-center">
                    Unlimited
                </td>
            </tr>
            <tr>
                <td class="text-start">Number of activities</td>
                <td class="text-center">
                    Unlimited
                </td>
                <td class="text-center">
                    Unlimited
                </td>
            </tr>
            <tr>
                <td class="text-start">Invoice printing</td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="text-start">Data export</td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="text-start">Community Forum</td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="text-start">Working time accounts (holiday, public holidays, sickness)</td>
                <td class="text-center">
                    {% assign pluginTitle = site.data.store.controlling.subscription | append: ' ' | append: site.data[page.lang].translation.per-year %}
                    {% include link-translated-shop.html item="controlling" title=pluginTitle %}
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="text-start">Audit-Log</td>
                <td class="text-center">
                    {% assign pluginTitle = site.data.store.audit-trail-bundle.subscription | append: ' ' | append: site.data[page.lang].translation.per-year %}
                    {% include link-translated-shop.html item="audit-trail-bundle" title=pluginTitle %}
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="text-start">Custom fields</td>
                <td class="text-center">
                    {% assign pluginTitle = site.data.store.custom-fields-bundle.subscription | append: ' ' | append: site.data[page.lang].translation.per-year %}
                    {% include link-translated-shop.html item="custom-fields-bundle" title=pluginTitle %}
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="text-start">Expense tracking</td>
                <td class="text-center">
                    {% assign pluginTitle = site.data.store.expenses-bundle.subscription | append: ' ' | append: site.data[page.lang].translation.per-year %}
                    {% include link-translated-shop.html item="expenses-bundle" title=pluginTitle %}
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="text-start">Task planning</td>
                <td class="text-center">
                    {% assign pluginTitle = site.data.store.task-management-bundle.subscription | append: ' ' | append: site.data[page.lang].translation.per-year %}
                    {% include link-translated-shop.html item="task-management-bundle" title=pluginTitle %}
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="text-start">Customization of displayed labels</td>
                <td class="text-center">
                    {% assign pluginTitle = site.data.store.translation-bundle.subscription | append: ' ' | append: site.data[page.lang].translation.per-year %}
                    {% include link-translated-shop.html item="translation-bundle" title=pluginTitle %}
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="text-start">Personal support</td>
                <td class="text-center">
                    {% assign supportTitle = 'With additional costs' %}
                    {% include link-translated-menu.html item="support" language=page.lang title=supportTitle %}
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="text-start">Custom domain incl. SSL</td>
                <td class="text-center">
                    With additional costs
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="text-start">Automatic Backups</td>
                <td class="text-center">
                    <i class="bx bx-minus text-danger"></i>
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="text-start">SSL Certificate (TLS) included</td>
                <td class="text-center">
                    <i class="bx bx-minus text-danger"></i>
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="text-start">Access restriction via IP</td>
                <td class="text-center">
                    <i class="bx bx-minus text-danger"></i>
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="text-start">Automatic Updates</td>
                <td class="text-center">
                    <i class="bx bx-minus text-danger"></i>
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="text-start">Server Maintenance</td>
                <td class="text-center">
                    <i class="bx bx-minus text-danger"></i>
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            <tr>
                <td class="text-start">Priority for feature requests</td>
                <td class="text-center">
                    <i class="bx bx-minus text-danger"></i>
                </td>
                <td class="text-center">
                    <i class="bx bx-check text-success"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
