<a target="_blank" href="https://github.com/kimai/kimai" class="btn btn-icon btn-secondary btn-github rounded-circle me-3" aria-label="GitHub">
    <i class="bx bxl-github"></i>
</a>
<a target="_blank" href="https://www.youtube.com/@kimai_org" class="btn btn-icon btn-secondary btn-youtube rounded-circle me-3" aria-label="YouTube">
    <i class="bx bxl-youtube"></i>
</a>
<a target="_blank" href="https://www.linkedin.com/company/kimai-timetracker/" class="btn btn-icon btn-secondary btn-linkedin rounded-circle me-3" aria-label="LinkedIn">
    <i class="bx bxl-linkedin"></i>
</a>
<a target="_blank" href="https://www.instagram.com/kimai_org" class="btn btn-icon btn-secondary btn-instagram rounded-circle me-3" aria-label="Instagram">
    <i class="bx bxl-instagram"></i>
</a>
<a target="_blank" href="https://twitter.com/kimai_org" class="btn btn-icon btn-secondary btn-twitter rounded-circle me-3" aria-label="Twitter / X">
    <i class="bx bxl-twitter"></i>
</a>
<a target="_blank" href="https://www.facebook.com/profile.php?id=61570597485256" class="btn btn-icon btn-secondary btn-facebook rounded-circle me-3" aria-label="Facebook">
    <i class="bx bxl-facebook"></i>
</a>
<a target="_blank" href="https://phpc.social/@kimai" class="btn btn-icon btn-secondary btn-messenger rounded-circle me-3" aria-label="Mastodon">
    <i class="bx bxl-mastodon"></i>
</a>
