<section class="bg-secondary py-5 my-md-2 my-lg-4 my-xl-5">
    <div class="container">
        <div class="row justify-content-center pt-5 pb-1 pb-sm-2 pb-md-3">
            <h3 class="mb-4" id="support-call">{{ site.data[page.lang].translation.support.calendar }}</h3>
            <p class="pb-2 pb-sm-3 mb-3">{{ site.data[page.lang].translation.support.calendar_intro }}</p>
            <p class="pb-2 pb-sm-3 mb-3">{{ site.data[page.lang].translation.support.calendar_refund }}</p>
            <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ0RQYAA682fRAAewrP23tQCXli416WKTICy84PEwhUDUNpfCrJXF9D72VfuKHDM8dnAumEsyEkj?gv=true" style="border: 0" width="100%" height="700" frameborder="0"></iframe>
        </div>
    </div>
</section>
