<ul class="list-unstyled row row-cols-2 gy-sm-2 gy-1 gx-sm-4 gx-2 mt-lg-5 mt-4 mx-md-0 mx-auto pt-lg-0 pt-md-2 mb-md-5 mb-4 pb-xl-4 pb-lg-3 pb-md-2 pb-sm-0 pb-2" style="max-width: 30rem;">
    <li class="col d-flex align-items-start">
        <i class="bx bx-check-circle me-2 fs-5 text-primary"></i>
        {{ site.data[page.lang].translation.highlight.reasons.oss }}
    </li>
    <li class="col d-flex align-items-start">
        <i class="bx bx-check-circle me-2 fs-5 text-primary"></i>
        {{ site.data[page.lang].translation.highlight.reasons.enterprise }}
    </li>
    <li class="col d-flex align-items-start">
        <i class="bx bx-check-circle me-2 fs-5 text-primary"></i>
        {{ site.data[page.lang].translation.highlight.reasons.versions }}
    </li>
    <li class="col d-flex align-items-start">
        <i class="bx bx-check-circle me-2 fs-5 text-primary"></i>
        {{ site.data[page.lang].translation.highlight.reasons.gdpr }}
    </li>
</ul>
