<section class="position-relative py-5{% if include.background %} bg-secondary{% endif %}">
    <div class="container position-relative zindex-5 pb-md-4 pt-md-2 pt-lg-3 pb-lg-5">
        <div class="row justify-content-center text-center pb-3 mb-sm-2 mb-lg-3">
            <div class="col-xl-6 col-lg-7 col-md-9">
                <h2 class="h1 mb-lg-4">{{ site.data[page.lang].translation.highlight.title }}</h2>
                <p class="fs-lg text-muted mb-0">{{ site.data[page.lang].translation.highlight.subtitle }}</p>
            </div>
        </div>
        <div class="row align-items-center justify-content-center py-4 py-md-5 my-1 my-sm-3 my-md-0 my-xl-3">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 offset-lg-1 order-md-2 pb-2 pb-sm-3 pb-md-0 mb-4 mb-md-0">
                <div style="max-width: 636px;">
                    <img src="/images/features/authentication.jpg" class="img-thumbnail">
                </div>
            </div>
            <div class="col-md-5 col-xl-4 offset-xl-1 order-md-1 text-center text-md-start">
                <h3 class="h2 mb-lg-4">{{ site.data[page.lang].translation.feature.auth.name }}</h3>
                <p class="fs-lg pb-lg-2 mb-4">
                    {{ site.data[page.lang].translation.feature.auth.description }}
                </p>
            </div>
        </div>
        <div class="row align-items-center justify-content-center py-4 py-md-5 my-1 my-sm-3 my-md-0 my-xl-3">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 offset-lg-1 pb-2 pb-sm-3 pb-md-0 mb-4 mb-md-0">
                <div style="max-width: 636px;">
                    <img src="/images/features/reports.jpg" class="img-thumbnail">
                </div>
            </div>
            <div class="col-md-5 col-xl-4 offset-xl-1 text-center text-md-start">
                <h3 class="h2 mb-lg-4">{{ site.data[page.lang].translation.feature.reporting.name }}</h3>
                <p class="fs-lg pb-lg-2 mb-4">
                    {{ site.data[page.lang].translation.feature.reporting.description }}
                </p>
            </div>
        </div>
        <div class="row align-items-center justify-content-center py-4 py-md-5 my-1 my-sm-3 my-md-0 my-xl-3">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 offset-lg-1 order-md-2 pb-2 pb-sm-3 pb-md-0 mb-4 mb-md-0">
                <div style="max-width: 636px;">
                    <img src="/images/features/invoice.jpg" class="img-thumbnail">
                </div>
            </div>
            <div class="col-md-5 col-xl-4 offset-xl-1 order-md-1 text-center text-md-start">
                <h3 class="h2 mb-lg-4">{{ site.data[page.lang].translation.feature.invoices.name }}</h3>
                <p class="fs-lg pb-lg-2 mb-4">
                    {{ site.data[page.lang].translation.feature.invoices.description }}
                </p>
            </div>
        </div>
        <div class="row align-items-center justify-content-center py-4 py-md-5 my-1 my-sm-3 my-md-0 my-xl-3">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 offset-lg-1 pb-2 pb-sm-3 pb-md-0 mb-4 mb-md-0">
                <div style="max-width: 636px;">
                    <img src="/images/features/api.jpg" class="img-thumbnail">
                </div>
            </div>
            <div class="col-md-5 col-xl-4 offset-xl-1 text-center text-md-start">
                <h3 class="h2 mb-lg-4">{{ site.data[page.lang].translation.feature.api.name }}</h3>
                <p class="fs-lg pb-lg-2 mb-4">
                    {{ site.data[page.lang].translation.feature.api.description }}
                </p>
            </div>
        </div>
    </div>
</section>
