
<div class="mb-5 pt-5">
    <section class="container pt-3 pb-4 pb-md-5" style="margin-top: -156px; margin-bottom: 120px; transform: translateY(156px);">
        <div class="card border-0 bg-gradient-primary">
            <div class="card-body p-md-5 p-4 bg-size-cover" style="background-image: url(/images/layout/contact-bg.png);">
                <div class="py-md-5 py-4 text-center">
                    <h3 class="h4 fw-normal text-light opacity-75">{{ site.data[page.lang].translation.cta.get-started.question }}</h3>
                    <a href="mailto:{{ site.data.developer.kevinpapst.email }}" class="display-6 text-light">{{ site.data.developer.kevinpapst.email }}</a>
                    <div class="pt-md-5 pt-4 pb-md-2">
                        <a href="{% link _store/keleo-installation-support.md %}" class="btn btn-lg btn-light">{{ site.data[page.lang].translation.cta.get-started.button }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
