{% assign products = include.products | default: site.data.store %}

{% for product in products %}
{% assign featured = false %}
{% assign isNew = false %}
{% assign settings = site.data.store[product.slug] %}
{% if settings.new != nil and settings.new %}
    {% assign isNew = true %}
{% endif %}
{% if settings.featured %}
    {% assign featured = true %}
{% endif %}
{% assign icon = settings.icon %}
{% assign developer = site.data.developer[settings.developer] %}
{% assign translation = site.data[page.lang].store.items[product.slug] %}
<li class="mb-4">
    <p class="h4 mb-2">
        <a href="{{ product.url }}">{{ translation.title }}</a>
    </p>
    <div class="d-flex text-muted pt-1">
        <div class="fs-sm pe-3 me-3 flex-fill">
            {{ translation.intro }}
            <a href="{{ product.url }}" class="d-block mt-3">{{ site.data[page.lang].translation.read-more }}</a>
        </div>
        <p class="fs-sm fw-semibold text-primary mb-0 text-nowrap">
            <a href="{{ product.url }}">
            {% if settings.subscription != nil %}
            <i class="bx bx-cart fs-3"></i>
            {% elsif settings.price == nil %}
            <i class="bx bx-comment fs-4"></i>
            {% elsif settings.price == 0 %}
            <i class="bx bx-gift fs-3"></i>
            {% else %}
            <i class="bx bx-cart fs-3"></i>
            {% endif %}
            </a>
        </p>
    </div>
    {% unless forloop.last %}
    <hr class="my-4">
    {% endunless %}
</li>
{% comment %}
{% if featured %}
{% if isNew %}
<span class="badge bg-green badge-md">{{ site.data[page.lang].translation.new-badge }}</span>
{% endif %}
{% endif %}
{% endcomment %}

{% endfor %}
