{% assign products = include.products | default: site.data.store %}

{% for product in products %}
{% assign featured = false %}
{% assign iconSize = "fa-2x" %}
{% assign imageSize = 'class="h-4"' %}
{% assign isNew = false %}
{% assign settings = site.data.store[product.slug] %}
{% if settings.new != nil and settings.new %}
{% assign isNew = true %}
{% endif %}
{% if settings.featured %}
{% assign featured = true %}
{% assign iconSize = "fa-3x" %}
{% assign imageSize = 'style="width: 15rem"' %}
{% endif %}
{% assign icon = settings.icon | default: "fas fa-question" %}
{% assign developer = site.data.developer[settings.developer] %}
{% assign translation = site.data[page.lang].store.items[product.slug] %}
<li class="mb-4">
    <h3 class="h4 mb-2">
        <a href="{{ product.url | absolute_url }}">{{ translation.title }}</a>
    </h3>
    <div class="d-flex text-muted pt-1">
        <div class="fs-sm pe-3 me-3 flex-fill">{{ translation.intro }}</div>
        <p class="fs-sm fw-semibold text-primary mb-0 text-nowrap">
            {% if settings.subscription != nil %}
            {{ settings.subscription }}
            {% elsif settings.price == nil %}
            <i class="bx bx-comment"></i>
            {% elsif settings.price == 0 %}
            {{ site.data[page.lang].translation.free-badge }}
            {% else %}
            {{ settings.price }}
            {% endif %}
        </p>
    </div>
</li>
{% comment %}
{% if featured %}
{% if isNew %}
<span class="badge bg-green badge-md">{{ site.data[page.lang].translation.new-badge }}</span>
{% endif %}
{% endif %}
{% endcomment %}

{% endfor %}
