{% assign products = include.products | default: site.data.store %}

<div class="card mb-3">
	<table class="table card-table table-vcenter">
		{% for product in products %}
			{% assign featured = false %}
		    {% assign iconSize = "fa-2x" %}
			{% assign imageSize = 'class="h-8"' %}
			{% assign isNew = false %}
			{% assign settings = site.data.store[product.slug] %}
			{% if settings.new != nil and settings.new %}
			    {% assign isNew = true %}
			{% endif %}
			{% if settings.featured %}
				{% assign featured = true %}
		    	{% assign iconSize = "fa-3x" %}
				{% assign imageSize = 'style="width: 15rem"' %}
			{% endif %}
			{% assign icon = settings.icon | default: "fas fa-question" %}
			{% assign developer = site.data.developer[settings.developer] %}
			{% assign translation = site.data[page.lang].store.items[product.slug] %}
			<tr{% if featured %} class="featured-article"{% endif %}>
				<td class="text-center product-icon">
					{% if settings.image != nil %}
					<img src="{{ settings.image }}" alt="Product logo" {{ imageSize }}>
					{% else %}
					<i class="{{ icon }} {{ iconSize }}"></i>
					{% endif %}
				</td>
				{% if featured %}
					<td>
						<h4 class="mb-2">
							<a href="{{ product.url | absolute_url }}">{{ translation.title }}</a>

							{% if isNew %}
							<span class="badge bg-green badge-md">{{ site.data[page.lang].translation.new-badge }}</span>
							{% endif %}
						</h4>

						<div class="row text-muted">
							<div class="col-lg-12">
							{{ translation.intro }}
							</div>
						</div>
					</td>
				{% else %}
					<td>
						<a href="{{ product.url | absolute_url }}">{{ translation.title }}</a>

						{% if isNew %}
						<span class="badge bg-green badge-sm">{{ site.data[page.lang].translation.new-badge }}</span>
						{% endif %}
					</td>
				{% endif %}
				<td class="text-end text-nowrap">
					<strong>
						{% if settings.price == nil %}
                            <i class="far fa-comments fa-lg"></i>
                        {% elsif settings.price == 0 %}
                            {{ site.data[page.lang].translation.free-badge }}
						{% else %}
							{{ settings.price }}
						{% endif %}
					</strong>
				</td>
			</tr>
		{% endfor %}
	</table>
</div>
