<section class="bg-secondary py-5">
    <div class="container py-2 py-md-4 py-lg-5">
        <div class="row">
            <div class="col-md-4">
                <div class="position-relative d-flex h-100">
                    <div class="position-absolute top-0 start-0 w-100 h-100 rounded-3 bg-size-cover bg-repeat-0 bg-position-center" style="background-image: url({{ page.photo }});"></div>
                </div>
            </div>
            <div class="col-md-8">
                <figure class="card position-relative border-0 shadow-sm py-3 p-0 p-lg-4 mb-0 ms-xl-5">
                    <div class="card-body mt-2 mb-0">
                        <p class="fs-lg">{{ page.quote }}</p>
                    </div>
                    <figcaption class="card-footer border-0 d-sm-flex pt-0 mt-n3 mt-lg-0">
                        <div class="d-flex align-items-center border-end-sm pe-sm-4 me-sm-4">
                            <img src="{{ page.photo }}" width="48" class="d-md-none rounded-circle" alt="{{ page.person }}">
                            <div class="ps-3 ps-md-0">
                                <h5 class="fw-semibold lh-base mb-0">{{ page.person }}</h5>
                                <span class="fs-sm text-muted">{{ page.position }}</span>
                            </div>
                        </div>
                        <img src="{{ page.logo }}" width="160" class="d-block mt-2 ms-5 mt-sm-0 ms-sm-0" alt="{{ page.company }}">
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
