{% if include.plugin == nil %}
    <div class="alert alert-danger" role="alert">
    ATTENTION, this include needs the <strong>plugin</strong> variable!
    </div>
{% else %}
    {% assign plugin = include.plugin %}
    <h3>Copy files</h3>

    <p>
        Extract the ZIP file and upload the included directory and all files to your Kimai installation to the new directory:
    </p>

{% highlight plaintext %}
var/plugins/{{ plugin }}/
{% endhighlight %}

    {% if include.clone != nil %}
    <p>Or you can clone it directly to the <code class="language-plaintext highlighter-rouge">var/plugins/</code> directory of your Kimai installation:</p>

{% highlight plaintext %}
cd kimai/var/plugins/
git clone {{ include.clone }}
{% endhighlight %}
    {% endif %}

    <p>The file structure needs to like like this afterwards:</p>

{% highlight plaintext %}
var/plugins/
├── {{ plugin }}
│   ├── {{ plugin }}.php
|   └ ... more files and directories follow here ...
{% endhighlight %}

    <h3>Clear cache</h3>

    <p>
        After uploading the files, Kimai needs to know about the new plugin. It will be found once the <a href="{% link _documentation/updates.md %}">cache was re-built</a>.
        Call these commands from the Kimai directory:
    </p>

    {% include cache-refresh.html %}

    <p>You might have to set file permissions afterwards:</p>

    {% include file-permissions.html %}

    {% if include.command != nil %}
        <h3>Create database</h3>

        <p>Run the following command:</p>

        {% highlight plaintext %}bin/console {{ include.command }}{% endhighlight %}

        <p>This will create the required database tables and update them to the latest version.</p>

{% capture error_faq %}
If you see an error like `There are no commands defined in the "kimai:bundle:XYZ" namespace.`,
then either the directory has a wrong name (must be **var/plugins/{{ plugin }}/**) or you forgot to clear the cache (look above).
{% endcapture %}
{% assign error_faq = error_faq|markdownify %}
{% include alert.html icon="fas fa-exclamation" type="warning" alert=error_faq %}
    {% endif %}

    {% if include.assets != nil %}
        <h3>Install plugin assets</h3>

        <p>The following command will install the required assets (images, javascripts, styles):</p>

        {% highlight plaintext %}bin/console assets:install{% endhighlight %}
    {% endif %}
{% endif %}
