
<div class="row">
    {% for testimonial in testimonials %}
    <div class="col-12 col-md-4 text-center p-3">
        <img src="/images/testimonials/{{ testimonial.avatar }}" class="d-inline-block rounded-circle mb-2" width="60" alt="{{ testimonial.name }}">
        {% assign highlight = testimonial.text | split: '<mark>' | slice: 1 | first | split: '</mark>' | slice: 0 | first %}
        {{ highlight | markdownify }}
        <div class="text-nowrap">
            {% for i in (1..testimonial.rating) %}
            <i class="bx bxs-star text-warning"></i>
            {% endfor %}
        </div>
        <div class="mt-1">
            <p class="fs-base mb-0">{{ testimonial.name }}</p>
            <p class="fs-xs text-muted">{{ testimonial.position }}</p>
        </div>
    </div>
    {% endfor %}
</div>
