{% if page.lang == "de" %}
<div class="senja-embed" data-id="223d13ff-cf5e-4887-8633-270788c6869a" data-mode="shadow" data-lazyload="false"></div>
<script async type="text/javascript" src="https://widget.senja.io/widget/223d13ff-cf5e-4887-8633-270788c6869a/platform.js"></script>
{% else %}
<div class="senja-embed" data-id="78a8191e-9a25-43bc-83e1-9c2884cf57e6" data-mode="shadow" data-lazyload="false"></div>
<script async type="text/javascript" src="https://widget.senja.io/widget/78a8191e-9a25-43bc-83e1-9c2884cf57e6/platform.js"></script>
{% endif %}
