{% for testimonial in include.testimonials %}
<div class="swiper-slide h-auto pt-4 pb-3 px-2">
    <div class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
        {{ testimonial.text | markdownify }}
        <div class="d-flex align-items-center border-0 pt-3">
            {% if testimonial.avatar == '' %}
                {{ site.avatar_fallback }}
            {% else %}
                <img src="/images/testimonials/{{ testimonial.avatar }}" width="48" class="rounded-circle ms-n1" alt="{{ testimonial.name }}">
            {% endif %}
            <div class="ps-2 ms-1">
                <h6 class="fs-base fw-semibold mb-0">{{ testimonial.name }}</h6>
                <span class="fs-sm text-muted">
                    {% if testimonial.url != '' and testimonial.company == '' %}
                        <a href="{{ testimonial.url }}" target="_blank" class="text-muted text-decoration-none">{{ testimonial.position }}</a>
                    {% elsif testimonial.position != '' %}
                        {{ testimonial.position }}
                    {% endif %}
                    {% if testimonial.url != '' and testimonial.company != '' %}
                        &ndash; <a href="{{ testimonial.url }}" target="_blank" class="text-muted text-decoration-none">{{ testimonial.company }}</a>
                    {% elsif testimonial.company != '' %}
                        &ndash; {{ testimonial.company }}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endfor %}
