{% assign title = include.title | default: site.data[page.lang].translation.testimonials.title %}
<section class="bg-secondary py-5 mb-2 mb-md-4 mb-lg-5">
    <div class="container pt-lg-4 mt-1">
        <h2 class="h1 text-center pb-2 pb-md-3 pb-xl-4">{{ title }}</h2>
        {% if include.introduction %}
            <p class="mb-5 text-center">{{ include.introduction }}</p>
        {% endif %}
    </div>
    <div class="pb-lg-3 px-2 px-sm-0">
        <div class="swiper" data-swiper-options='{
                "slidesPerView": 1,
                "centeredSlides": true,
                "spaceBetween": 8,
                "loop": true,
                "pagination": {
                    "el": ".swiper-pagination",
                    "clickable": true
                },
                "breakpoints": {
                    "500": {
                        "slidesPerView": 2,
                        "spaceBetween": 24
                    },
                    "1000": {
                        "slidesPerView": 4,
                        "spaceBetween": 24
                    },
                    "1500": {
                        "slidesPerView": 6,
                        "spaceBetween": 24
                    }
                }
            }'>
            <div class="swiper-wrapper">
                {% for testimonial in include.testimonials %}
                <div class="swiper-slide h-auto pt-4">
                    <figure class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                        <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                            <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                                <i class="bx bxs-quote-left"></i>
                            </span>
                            <div class="card-body pb-3 mb-0">
                                <div class="mb-0">
                                    {% assign testimonial_text = testimonial.text %}
                                    {% if include.language and testimonial.translations[include.language] %}
                                        {% assign testimonial_text = testimonial.translations[include.language] %}
                                    {% endif %}

                                    {{ testimonial_text | slice: 0, 750 | markdownify }}

                                    {% assign title_length = testimonial_text | size %}
                                    {% if title_length > 750 %}
                                        ...
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-footer border-0 text-nowrap pt-0">
                                {% for i in (1..testimonial.rating) %}
                                <i class="bx bxs-star text-warning"></i>
                                {% endfor %}
                                {% assign remaining = 5 | minus: testimonial.rating %}
                                {% for i in (1..remaining) %}
                                <i class="bx bx-star text-muted opacity-75"></i>
                                {% endfor %}
                            </div>
                        </div>
                        <figcaption class="d-flex align-items-center ps-4 pt-4">
                            {% if testimonial.avatar == '' %}
                            {{ site.avatar_fallback }}
                            {% else %}
                            <img src="/images/testimonials/{{ testimonial.avatar }}" width="48" class="rounded" alt="{{ testimonial.name }}">
                            {% endif %}
                            <div class="ps-3">
                                <h6 class="fs-sm fw-semibold mb-0">{{ testimonial.name }}</h6>
                                <span class="fs-xs text-muted">{{ testimonial.position }}</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                {% endfor %}
            </div>

            <div
                class="swiper-pagination position-relative pt-1 pt-sm-3 mt-5 swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span
                class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span
                class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span><span
                class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span><span
                class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 6"></span><span
                class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 7"></span></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    </div>
</section>
