<section class="container mb-5 pt-md-1 pt-lg-4 pt-xl-5">
    <div class="mt-4 py-2 pb-sm-3 pb-md-4 pb-lg-5 mx-auto text-center" style="max-width: 46.625rem;">
        <h2 class="h1 mb-4">{{ site.data[page.lang].translation.history.early-days-title }}</h2>
        <p class="mb-4">{{ site.data[page.lang].translation.history.early-days-subtitle }}</p>
    </div>

    <div class="steps steps-center steps-sm steps-horizontal-lg" style="--si-steps-number-size-sm: 1.5rem; --si-steps-number-inner-size-sm: 1rem; --si-steps-number-bg: rgba(99,102,241,.2); --si-steps-number-inner-bg: #6366f1;">

        <div class="step w-100 mx-auto" style="max-width: 26rem;">
            <div class="step-number"><div class="step-number-inner"></div></div>
            <div class="step-body">
                <h3 class="mb-3">2006</h3>
                <p class="mb-0">{{ site.data[page.lang].translation.history.year-2006 }}</p>
            </div>
        </div>

        <div class="step w-100 mx-auto" style="max-width: 26rem;">
            <div class="step-number"><div class="step-number-inner"></div></div>
            <div class="step-body">
                <h3 class="mb-3">2009</h3>
                <p class="mb-0">{{ site.data[page.lang].translation.history.year-2009 }}</p>
            </div>
        </div>

        <div class="step w-100 mx-auto" style="max-width: 26rem;">
            <div class="step-number"><div class="step-number-inner"></div></div>
            <div class="step-body">
                <h3 class="mb-3">2014</h3>
                <p class="mb-0">{{ site.data[page.lang].translation.history.year-2014 }}</p>
            </div>
        </div>
    </div>
</section>
