
<section class="container mb-5 pt-md-1 pt-lg-4 pt-xl-5">
    <div class="mt-4 py-2 pb-sm-3 pb-md-4 pb-lg-5 mx-auto text-center" style="max-width: 46.625rem;">
        <h2 class="h1 mb-4">
            {{ site.data[page.lang].translation.about.name }}
        </h2>
        <p class="mb-4">{{ site.data[page.lang].translation.history.intro }}</p>
    </div>

    <div class="steps steps-center steps-sm steps-horizontal-lg" style="--si-steps-number-size-sm: 1.5rem; --si-steps-number-inner-size-sm: 1rem; --si-steps-number-bg: rgba(99,102,241,.2); --si-steps-number-inner-bg: #6366f1;">

        <div class="step">
            <div class="step-number"><div class="step-number-inner"></div></div>
            <div class="step-body">
                <h3 class="mb-3">2018</h3>
                <p class="mb-0">{{ site.data[page.lang].translation.history.year-2018 }}</p>
            </div>
        </div>

        <div class="step">
            <div class="step-number"><div class="step-number-inner"></div></div>
            <div class="step-body">
                <h3 class="mb-3">2019</h3>
                <p class="mb-0">{{ site.data[page.lang].translation.history.year-2019 }}</p>
            </div>
        </div>

        <div class="step">
            <div class="step-number"><div class="step-number-inner"></div></div>
            <div class="step-body">
                <h3 class="mb-3">2020</h3>
                <p class="mb-0">{{ site.data[page.lang].translation.history.year-2020 }}</p>
            </div>
        </div>

        <div class="step">
            <div class="step-number"><div class="step-number-inner"></div></div>
            <div class="step-body">
                <h3 class="mb-3">2023</h3>
                <p class="mb-0">{{ site.data[page.lang].translation.history.year-2023 }}</p>
            </div>
        </div>

    </div>
</section>
