
<section class="position-relative pt-5">
    <div class="container position-relative zindex-5 pb-md-4 pt-md-2 pt-lg-3 pb-lg-5">
        <div class="row justify-content-center text-center pb-3 mb-sm-2 mb-lg-3">
            <div class="col-xl-6 col-lg-7 col-md-9">
                <h2 class="h1 mb-lg-4">{{ site.data[page.lang].translation.comparison.finding }}</h2>
                <p class="fs-lg text-muted mb-0">{{ site.data[page.lang].translation.alternatives.description }}</p>
            </div>
        </div>
        <div class="row align-items-center justify-content-center py-4 py-md-5 my-1 my-sm-3 my-md-0 my-xl-3">
            <div class="row row-cols-1 row-cols-sm-2 g-4 pb-xl-3">
                {% assign tools = site.alternatives | where_exp: "alt", "alt.lang == 'en'" | sort: slug %}
                {% for tool in tools %}
                <div class="col text-{% cycle 'end', 'start' %}">
                    <a href="{{ tool.url }}" class="btn btn-outline-secondary btn-lg w-50">{{ tool.name }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

