{% assign introduction = site.data[page.lang].translation.changelogs.intro %}
{% assign title = site.data[page.lang].translation.changelogs.title %}
{% assign changelogs = site.changelogs | reverse %}

{% include hero-text-round-dark.html title=title intro=introduction %}

<section class="container py-5 my-md-2 my-lg-4 my-xl-5">
    <div class="row justify-content-center pt-5 pb-1 pb-sm-2 pb-md-3">

        <table class="table">
            <thead>
            <tr>
                <th style="min-width: 140px; max-width: 200px">Date</th>
                <th>Title</th>
            </tr>
            </thead>
            <tbody>
            {% for changelog in changelogs %}
            <tr>
                <td style="max-width: 200px">{{ changelog.date | date_to_string }}</td>
                <td>
                    <a href="{{ changelog.url }}" class="text-decoration-none">
                        {%- if changelog.intro != nil %}
                            {{ changelog.intro|strip_html }}
                        {% else %}
                            {{ changelog.title }}
                        {% endif -%}
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</section>

{% include cta-begin-journey.html %}
