{% assign masterTitle = site.data[page.lang].translation.demo-master-title %}
{% assign masterDescription = site.data[page.lang].translation.demo-master-description %}
{% assign stableTitle = site.data[page.lang].translation.demo-stable-title %}
{% assign stableDescription = site.data[page.lang].translation.demo-stable-description|append:site.kimai_v2_version %}
{% assign pluginsTitle = site.data[page.lang].translation.demo-plugins-title %}
{% assign pluginsDescription = site.data[page.lang].translation.demo-plugins-description %}

<div class="row row-cards row-deck mb-3">
    <div class="col-sm-6 col-lg-4">
        {% include card-demo.html id="plugins" title=pluginsTitle description=pluginsDescription url="https://demo-plugins.kimai.org" %}
    </div>
    <div class="col-sm-6 col-lg-4">
        {% include card-demo.html id="master" title=masterTitle description=masterDescription url=site.kimai_v2_demo %}
    </div>
    <div class="col-sm-6 col-lg-4">
        {% include card-demo.html id="stable" title=stableTitle description=stableDescription url="https://demo-stable.kimai.org" %}
    </div>
</div>
