{% assign masterTitle = site.data[page.lang].translation.demo-master-title %}
{% assign masterDescription = site.data[page.lang].translation.demo-master-description %}
{% assign stableTitle = site.data[page.lang].translation.demo-stable-title %}
{% assign stableDescription = site.data[page.lang].translation.demo-stable-description|append:site.kimai_v2_version %}
{% assign pluginsTitle = site.data[page.lang].translation.demo-plugins-title %}
{% assign pluginsDescription = site.data[page.lang].translation.demo-plugins-description %}
{% assign version2Title = site.data[page.lang].translation.demo-v2-title %}
{% assign version2Description = site.data[page.lang].translation.demo-v2-description %}
{% assign emptyTitle = site.data[page.lang].translation.demo-empty-title %}
{% assign emptyDescription = site.data[page.lang].translation.demo-empty-description %}

<div class="row row-cards row-deck mb-3">
    <div class="col-sm-6 col-lg-6">
        {% include card-demo.html id="branch" title=pluginsTitle description=pluginsDescription url="https://demo-branch.kimai.org" ribbon="far fa-star" color="yellow" %}
    </div>
    <div class="col-sm-6 col-lg-6">
        {% include card-demo.html id="empty" title=masterTitle description=masterDescription url="https://demo-empty.kimai.org" color="blue-lt" %}
    </div>
    {% comment %}
    <div class="col-sm-6 col-lg-4">
        {% include card-demo.html id="stable" title=stableTitle description=stableDescription url="https://demo-stable.kimai.org" color="blue-lt" %}
    </div>
    <div class="col-sm-6 col-lg-6">
        {% include card-demo.html id="branch" title=version2Title description=version2Description url="https://demo-branch.kimai.org" ribbon="far fa-star" color="yellow" %}
    </div>
    <div class="col-sm-6 col-lg-6">
        {% include card-demo.html id="empty" title=emptyTitle description=emptyDescription url="https://demo-empty.kimai.org" %}
    </div>
    {% endcomment %}
</div>
