
<section class="container pb-5 mb-md-2 mb-lg-4 mb-xl-5">
    <div class="row justify-content-center">

        <div class="row row-cols-1 row-cols-sm-3 justify-content-center g-4 pb-xl-3 mt-0">
            <div class="col text-center border-end px-5">
                {% assign pluginsTitle = site.data[page.lang].translation.demo.plugins-title %}
                {% assign pluginsDescription = site.data[page.lang].translation.demo.plugins-description %}
                {% include card-demo.html id="plugins" title=pluginsTitle description=pluginsDescription url="https://demo.kimai.org" color="success" icon="featured" %}
            </div>
            <div class="col text-center border-end px-5">
                {% assign emptyTitle = site.cloud.title %}
                {% assign emptyDescription = site.data[page.lang].translation.demo.empty-description %}
                {% include card-demo.html id="empty" title=emptyTitle description=emptyDescription url="https://demo-empty.kimai.org" color="secondary" icon="plugins" %}
            </div>
            <div class="col text-center px-5">
                {% assign stableTitle = site.data[page.lang].translation.on-premise.name %}
                {% assign stableDescription = site.data[page.lang].translation.demo.stable-description %}
                {% include card-demo.html id="stable" title=stableTitle description=stableDescription url="https://demo-stable.kimai.org" color="secondary" icon="default" %}
            </div>
        </div>

        <h3 class="mt-5">{{ site.data[page.lang].translation.demo.user }}</h3>

        <p>{{ site.data[page.lang].translation.demo.accounts }}</p>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ site.data[page.lang].translation.username }}</th>
                <th>{{ site.data[page.lang].translation.password }}</th>
                <th>{{ site.data[page.lang].translation.description }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><strong>john_user</strong></td>
                <td><strong>password</strong></td>
                <td>User</td>
            </tr>
            <tr>
                <td><strong>tony_teamlead</strong></td>
                <td><strong>password</strong></td>
                <td>Teamlead</td>
            </tr>
            <tr>
                <td><strong>anna_admin</strong></td>
                <td><strong>password</strong></td>
                <td>Administrator</td>
            </tr>
            <tr>
                <td><strong>susan_super</strong></td>
                <td><strong>password</strong></td>
                <td>Super-Admin</td>
            </tr>
            <tr>
                <td><strong>admin</strong></td>
                <td><strong>password</strong></td>
                <td>Super-Admin</td>
            </tr>
            </tbody>
        </table>

    </div>
</section>
