<section class="hero container pt-md-1 pt-lg-4 pt-xl-5">
    <div class="mt-4 py-2 pb-sm-3 pb-md-4 pb-lg-5 mx-auto text-center title-header">
        <h1 class="page-title {% if subtitle %} mb-lg-4 mb-3{% endif %}">
            {{ site.data[page.lang].translation.cta.best-features.question }}
        </h1>
        <p class="mb-4">
            {{ site.data[page.lang].translation.cta.best-features.answer }}
        </p>
    </div>
</section>

<div class="container mb-5 pb-lg-5 text-center">
    {% assign btnText = site.data[page.lang].translation.cta.best-features.button %}
    {% include link-translated-menu.html language=page.lang item="store" class="btn btn-primary btn-lg" title=btnText %}
</div>

<section class="bg-secondary pb-md-2 pb-lg-5">
    <div class="container pb-4 pt-5">
        <div class="row row-cols-1 row-cols-md-2">
            {% assign features = site.data.feature %}
            {% for feature in features %}
                {% assign feature_key = feature.name %}
                {% assign feature_icon = feature.icon | default: 'clock' %}
                {% assign feature_documentation = feature.documentation %}
                {% assign lang_replacer = page.lang | append: '/' %}
                {% assign feature_documentation = feature.documentation | replace: '%language%', lang_replacer %}
                {% assign feature_title = site.data[page.lang].translation.feature[feature_key].name %}
                {% assign feature_description = site.data[page.lang].translation.feature[feature_key].description %}

                <div class="col py-4 my-2 my-sm-3">
                    {% if feature_documentation != nil and feature_documentation != '' %}
                        <a href="{% link {{ feature_documentation }} %}" class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 me-xl-2">
                            <div class="card-body pt-3">
                                <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
                                    <i class="{{ feature_icon | icon }} fs-3 text-white"></i>
                                </div>
                                <h2 class="h4 d-inline-flex align-items-center">
                                    {{ feature_title }}
                                    <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
                                </h2>
                                <p class="fs-sm text-body mb-0">{{ feature_description }}</p>
                            </div>
                        </a>
                    {% else %}
                        <div class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 me-xl-2">
                            <div class="card-body pt-3">
                                <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
                                    <i class="{{ feature_icon | icon }} fs-3 text-white"></i>
                                </div>
                                <h2 class="h4 d-inline-flex align-items-center">
                                    {{ feature_title }}
                                </h2>
                                <p class="fs-sm text-body mb-0">{{ feature_description }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>

            {% endfor %}
        </div>
    </div>
</section>

{% include section-newsletter.html %}
