{% include header-navigation.html absolute=true dark=true %}

<section class="position-relative bg-dark pt-lg-4 pt-xl-5" style="background: linear-gradient(90deg, #0B0F19 0%, #172033 51.04%, #0B0F19 100%);">
    <div class="jarallax position-absolute top-0 start-0 w-100 h-100" data-jarallax data-speed="0.4">
        <div class="jarallax-img" style="background-image: url(/images/layout/hero-bg-pattern.jpg);"></div>
    </div>
    <div class="container position-relative zindex-2 pt-2 pt-sm-4 pt-md-5">
        <div class="row justify-content-center pt-5">
            <div class="col-lg-9 col-xl-8 text-center pt-5 mt-1">
                <a href="{% link _posts/2023-05-20-kimai-release-2.md %}" class="d-inline-flex align-items-center fs-sm fw-semibold text-decoration-none border border-primary border-opacity-50 rounded-pill py-1 px-3">
                    <span class="text-gradient-primary lh-lg">{{ site.data[page.lang].translation.new-badge }}: Kimai 2.0</span>
                    <i class="bx bx-right-arrow-alt text-gradient-primary fs-lg ms-2 me-n1"></i>
                </a>
                <h1 class="display-4 text-white pt-3 mt-3 mb-4">{{ site.data[page.lang].translation.homepage.title }}</h1>
                <p class="text-white opacity-70 fs-xl">{{ site.data[page.lang].translation.homepage.intro }}</p>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block" style="height: 480px;"></div>
    <div class="d-lg-none" style="height: 400px;"></div>
    <div class="d-flex position-absolute bottom-0 start-0 w-100 overflow-hidden mb-n1" style="color: var(--si-body-bg);">
        <div class="position-relative start-50 translate-middle-x flex-shrink-0" style="width: 3774px;">
            <svg width="3774" height="201" viewBox="0 0 3774 201" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 200.003C0 200.003 1137.52 0.188224 1873.5 0.000134392C2614.84 -0.189325 3774 200.003 3774 200.003H0Z" fill="currentColor"/></svg>
        </div>
    </div>
</section>
{% include section-screenshots.html %}
{% comment %}
{% include section-teaser.html %}
{% endcomment %}
