<main class="page-wrapper">
{% include header-navigation.html %}

{% assign header_title = site.data[page.lang].translation.industry.name %}
{% assign header_subtitle = site.data[page.lang].translation.industry.subtitle %}
{% assign header_intro = site.data[page.lang].translation.industry.intro %}
{% assign header_image = "/images/industry/header.webp" %}
{% include hero-large-image.html image=header_image title=header_title subtitle=header_subtitle intro=header_intro %}

<section class="container mt-2 mt-md-4 mt-lg-5 mb-5">
    <p class="fs-lg text-muted text-center pb-4 mb-2 mb-lg-3">{{ site.data[page.lang].translation.industry.office }}</p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 justify-content-center g-4 pb-xl-3">
        <div class="col text-center px-3">
            <div class="card d-table border-0 p-3 mx-auto mb-4">
                <i class="bx bx-male-female bx-lg"></i>
            </div>
            <h3 class="h5 mb-3">{{ site.data[page.lang].translation.non-profit.name }}</h3>
            <p>{{ site.data[page.lang].translation.non-profit.intro }}</p>
            <div class="text-center mt-4">
                <a href="{% link _landingpage/en/non-profit.md %}" class="btn btn-secondary w-75">{{ site.data[page.lang].translation.read-more }}</a>
            </div>
        </div>
        {% assign industries = site.industries %}
        {% for industry in industries %}
        <div class="col text-center px-3">
            <div class="card d-table border-0 p-3 mx-auto mb-4">
                <i class="bx {{ industry.icon }} bx-lg"></i>
            </div>
            <h3 class="h5 mb-3">{{ industry.name }}</h3>
            <p>{{ industry.intro }}</p>
            <div class="text-center mt-4">
                <a href="{{ industry.url }}" class="btn btn-secondary w-75 text-wrap">{{ industry.title }}</a>
            </div>
        </div>
        {% assign mod = 1 %}
        {% if forloop.index0 > 3 %}
            {% assign mod = forloop.index0 | modulo: 3 %}
        {% endif %}
        {% if forloop.index0 == 2 or mod == 0 %}
        {% endif %}
        {% endfor %}
    </div>
</section>

</main>

{% include footer.html %}
