
{% assign header_title = site.data[page.lang].translation.industry.name %}
{% assign header_subtitle = site.data[page.lang].translation.industry.subtitle %}
{% assign header_intro = site.data[page.lang].translation.industry.intro %}
{% assign header_image = "/images/industry/header.webp" %}
{% include hero-large-image.html image=header_image title=header_title subtitle=header_subtitle intro=header_intro %}

<section class="container mt-2 mt-md-4 mt-lg-5 mb-5 w-75 w-lg-50">
    <div class="row row-cols-1 row-cols-xs-1 row-cols-lg-2 justify-content-center g-4 pb-xl-3">
        {% assign industries = site.industries | where: "lang", page.lang | sort: "name" %}
        {% for industry in industries %}
            {% assign translated = site.data[page.lang].translation.industries[industry.slug] %}
        <div class="col text-center px-3">
            {% include card-link-hover.html icon=industry.icon name=translated.name title=translated.title description=translated.intro url=industry.url %}
        </div>
        {% endfor %}
    </div>
</section>
