
<article class="mb-5 pt-3">
    <header class="d-flex align-items-center justify-content-between mb-5">
        <span class="badge bg-success shadow-info fs-base fw-normal">{{ site.data[page.lang].translation.store-category-apps }}</span>
    </header>
    {% assign products = site.store | where: "lang", page.lang | where_exp:"product", "product.type == 'app'" | sort: 'title' %}
    {% include store-list-cards.html products=products %}
</article>

<article class="mb-5 pt-3">
    <header class="d-flex align-items-center justify-content-between mb-5">
        <span class="badge bg-primary shadow-info fs-base fw-normal">{{ site.data[page.lang].translation.store-category-desktop }}</span>
    </header>
    {% assign products = site.store | where: "lang", page.lang | where_exp:"product", "product.type == 'desktop'" | sort: 'title' %}
    {% include store-list-cards.html products=products %}
</article>

<article class="mb-5 pt-3">
    <header class="d-flex align-items-center justify-content-between mb-5">
        <span class="badge bg-warning shadow-info fs-base fw-normal">{{ site.data[page.lang].translation.store-category-client }}</span>
    </header>
    {% assign products = site.store | where: "lang", page.lang | where_exp:"product", "product.type == 'client'" %}
    {% include store-list-cards.html products=products %}
</article>

