{% if page.lang == 'de' %}

Heute sage ich Danke an die vielen NGOs und NPOs:

- Gemeinnützige- und Wohltätigkeitsorganisationen
- Öffentliche und freie Schulen, Universitäten, Volkshochschulen
- Behörden und Organisationen mit Sicherheitsaufgaben, Rettungsdienste, Katastrophenschutz, Feuerwehr, THW
- Naturschutz-, Sport und alle anderen Vereine, die das miteinander gestalten und Fähigkeiten vermitteln
- Soziale Dienste und kirchliche Träger, Altenpflege- und Jugendeinrichtungen
- &hellip; und noch so viele andere, die ich hier vergessen habe aufzuzählen

Ihr gebt Eure Zeit, verschenkt kleine und große Wunder und bereichert das Leben von so vielen: Danke, dass Ihr da seid!

Spätestens wenn eine Organisation größer wird, mehr Spendeneinnahmen verzeichnet oder Personal einstellt, wird es wichtig die Arbeitszeiten der Mitarbeiter zu erfassen und auszuwerten.
Arbeitsabläufe sollten analysiert und mögliche Effizienzsteigerungen früh erkannt werden.
Nicht nur um mehr Zeit und Geld für den eigentlichen Zweck freizumachen, sondern auch um nachvollziehbare Rechenschaftsberichte abgeben zu können.

Ich möchte Euch unterstützen und biete daher einen unschlagbar günstigen und jährlich abgerechneten Non-Profit-Tarif an:

{% else %}

Today I want to say thank you to the many NGOs and NPOs:

- Non-profit and charitable organisations
- Public and independent schools, universities, adult education centres
- Authorities and organisations with security tasks, rescue services, civil protection, fire brigade
- Nature conservation, sports and all other community-building and skills-development organisations
- Social services and church organisations, elderly care and youth facilities
- &hellip; and so many others that I have forgotten to mention here

You give your time, work small and big miracles and enrich the lives of so many: Thank you for being there!

As an organisation grows, receives more donations or employs more staff, it becomes important to record and analyse the working hours of employees.
Workflows should be analysed and potential efficiency improvements should be identified at an early stage.
This is not only to free up time and money for the real work, but also to be able to submit transparent accountability reports.

I want to support you and therefore offer an unbeatable and annually billed non-profit rate:

{% endif %}

<div class="table-responsive-lg w-xl-50 w-md-75 w-100">
    <div class="row flex-nowrap pb-4">
        <div class="col">
            {% include pricing-card.html id="nonprofit" %}
        </div>
    </div>
</div>

{% if page.lang == 'de' %}

Wenn Du einen gemeinnützigen Verein bzw. eine Organisation repräsentierst, dann registriere Dich mit einer offiziellen E-Mail-Adresse des Vereins und verfasse eine kurze Support-Nachricht. Der Tarif wird nach manueller Prüfung freigeschaltet.

Es wäre toll, wenn ich Euer Logo und den Namen als Referenz auf [www.kimai.cloud](https://www.kimai.cloud) und [www.kimai.org](https://www.kimai.org) nutzen dürfte.

{% else %}

If you represent a non-profit association or organisation, please register with an official e-mail address of the organisation and write a support message. The plan will be activated after a manual approval.

It would be great if I could use your logo and name as a reference on [www.kimai.cloud](https://www.kimai.cloud) and [www.kimai.org](https://www.kimai.org).

{% endif %}
