{% assign title=site.data[page.lang].translation.reviews.name %}
{% assign intro=site.data[page.lang].translation.reviews.subtitle|newline_to_br %}

{% include hero-text.html title=title intro=intro %}

<div class="text-center mb-2">
    <a href="{{ site.testimonial_add }}" target="_blank" class="btn btn-info rounded-pill">{{ site.data[page.lang].translation.reviews.leave }}</a>
</div>

<section class="container mb-5 pt-md-1 pt-lg-4 pt-xl-5">
    <div class="row gx-5">
        {% assign walloflove = site.data.testimonials | where_exp: "item", "item.tags contains 'WallOfLove'" | sort: 'date' | reverse %}
        {% include testimonials-cards.html testimonials=walloflove %}
    </div>
</section>

{% include cta-begin-journey.html %}

