
<div class="text-center mb-2">

    <a href="{{ site.testimonial_add }}" target="_blank" class="mb-3 btn btn-info rounded-pill">{{ site.data[page.lang].translation.reviews.leave }}</a>
    <br>
    <a href="https://reviews.capterra.com/products/new/988bae39-ba69-4a0e-918e-a753009cf9a6?lang=de" target="_blank" class="btn btn-secondary rounded-pill">Review @ at Capterra</a>
</div>

<section class="container mb-5 pt-md-1 pt-lg-4 pt-xl-5">
    <div class="row gx-5">
        {% assign testimonials = site.data.testimonials | where_exp: "item", "item.tags contains 'WallOfLove'" | sort: 'date' | reverse %}
        {% include testimonials-cards.html testimonials=testimonials %}
    </div>
</section>
