{% assign title=site.data[page.lang].translation.comparison.support %}
{% assign intro=site.data[page.lang].translation.support.intro %}

{% include hero-text-round-dark.html image="/images/layout/support.jpg" image_alt="Support" title=title intro=intro %}

<section class="container py-5 my-md-2 my-lg-4 my-xl-5">
    <div class="row justify-content-center pt-5 pb-1 pb-sm-2 pb-md-3">
        <div class="col-xxl-10 col-xl-11 col-lg-12 pt-sm-2 pt-md-5">
            <div class="d-sm-flex">
                <div class="card w-sm-33 border-0 bg-transparent text-center px-sm-1 px-md-3">
                    <div class="card-body p-0 pb-2 pb-sm-3 mb-3">
                        <div class="d-inline-block bg-secondary text-primary rounded-circle fs-3 lh-1 p-3 mb-3">
                            <i class="bx bx-video"></i>
                        </div>
                        <h3 class="fs-5 mb-4">{{ site.data[page.lang].translation.support.premium }}</h3>
                        {{ site.data[page.lang].translation.support.premium_intro | markdownify }}
                    </div>
                    <div class="card-footer border-0 p-0">
                        <a href="{% link _store/keleo-installation-support.md %}" class="btn btn-lg btn-primary">{{ site.data[page.lang].translation.support.premium_cta }}</a>
                    </div>
                </div>
                <div class="vr text-border d-none d-sm-inline-block m-4"></div>
                <div class="card w-sm-33 border-0 bg-transparent text-center px-sm-1 px-md-3">
                    <div class="card-body p-0 pb-2 pb-sm-3 mb-3">
                        <div class="d-inline-block bg-secondary text-primary rounded-circle fs-3 lh-1 p-3 mb-3">
                            <i class="bx bx-envelope"></i>
                        </div>
                        <h3 class="fs-5 mb-4">{{ site.data[page.lang].translation.support.cloud }}</h3>
                        {{ site.data[page.lang].translation.support.cloud_intro | markdownify }}
                    </div>
                    <div class="card-footer border-0 p-0">
                        <a href="{{ site.cloud.support }}" class="btn btn-lg btn-primary">{{ site.data[page.lang].translation.support.cloud_cta }}</a>
                    </div>
                </div>
                <div class="vr text-border d-none d-sm-inline-block m-4"></div>
                <div class="card w-sm-33 border-0 bg-transparent text-center px-sm-1 px-md-3">
                    <div class="card-body p-0 pb-2 pb-sm-3 mb-3">
                        <div class="d-inline-block bg-secondary text-primary rounded-circle fs-3 lh-1 p-3 mb-3">
                            <i class="bx bx-conversation"></i>
                        </div>
                        <h3 class="fs-5 mb-4">{{ site.data[page.lang].translation.support.community }}</h3>
                        {{ site.data[page.lang].translation.support.community_intro | markdownify }}
                    </div>
                    <div class="card-footer border-0 p-0">
                        <a href="{{ site.kimai_v2_forum }}" class="btn btn-lg btn-primary">{{ site.data[page.lang].translation.support.community_cta }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include section-support-calendar.html %}

{% include section-contact-colored.html %}
