{% assign title=site.data[page.lang].translation.comparison.support %}
{% assign intro=site.data[page.lang].translation.support.intro %}

{% include hero-text-round-dark.html title=title intro=intro %}

<section class="container py-5 my-md-2 my-lg-4 my-xl-5">
    <div class="row justify-content-center pt-5 pb-1 pb-sm-2 pb-md-3">
        <div class="col-xxl-10 col-xl-11 col-lg-12 pt-sm-2 pt-md-5">
            <div class="d-sm-flex">
                <div class="card w-sm-33 border-0 bg-transparent text-center px-sm-1 px-md-3 mt-4">
                    <div class="card-body p-0 pb-2 pb-sm-3 mb-3">
                        <div class="d-inline-block bg-secondary text-primary rounded-circle fs-3 lh-1 p-3 mb-3">
                            <i class="bx bx-video"></i>
                        </div>
                        <h3 class="fs-5 mb-4">{{ site.data[page.lang].translation.support.premium }}</h3>
                        {{ site.data[page.lang].translation.support.premium_intro | markdownify }}
                    </div>
                    <div class="card-footer border-0 p-0 text-center m-0 w-100">
                        {% assign install_support_btn = site.data[page.lang].translation.support.get_in_touch %}
                        <a href="mailto:{{ site.support_email }}" class="btn btn-lg btn-primary">{{ install_support_btn }}</a>
                    </div>
                    {% comment %}
                    <div class="card-footer border-0 p-0 text-center m-0 w-100">
                        {% assign install_support_btn = site.data[page.lang].translation.support.premium_cta %}
                        <a href="#support-call" class="btn btn-lg btn-primary">{{ install_support_btn }}</a>
                    </div>
                    {% endcomment %}
                </div>
                <div class="vr text-border d-none d-sm-inline-block m-4"></div>
                <div class="card w-sm-33 border-0 bg-transparent text-center px-sm-1 px-md-3 mt-4">
                    <div class="card-body p-0 pb-2 pb-sm-3 mb-3">
                        <div class="d-inline-block bg-secondary text-primary rounded-circle fs-3 lh-1 p-3 mb-3">
                            <i class="bx bx-envelope"></i>
                        </div>
                        <h3 class="fs-5 mb-4">{{ site.data[page.lang].translation.support.cloud }}</h3>
                        {{ site.data[page.lang].translation.support.cloud_intro | markdownify }}
                    </div>
                    <div class="card-footer border-0 p-0 text-center m-0 w-100">
                        <a href="mailto:{{ site.cloud.support_email }}" class="btn btn-lg btn-success">{{ site.data[page.lang].translation.support.cloud_cta }}</a>
                    </div>
                </div>
                <div class="vr text-border d-none d-sm-inline-block m-4"></div>
                <div class="card w-sm-33 border-0 bg-transparent text-center px-sm-1 px-md-3 mt-4">
                    <div class="card-body p-0 pb-2 pb-sm-3 mb-3">
                        <div class="d-inline-block bg-secondary text-primary rounded-circle fs-3 lh-1 p-3 mb-3">
                            <i class="bx bx-conversation"></i>
                        </div>
                        <h3 class="fs-5 mb-4">{{ site.data[page.lang].translation.support.community }}</h3>
                        {{ site.data[page.lang].translation.support.community_intro | markdownify }}
                    </div>
                    <div class="card-footer border-0 p-0 text-center m-0 w-100">
                        <a href="{{ site.kimai_v2_forum }}" class="btn btn-lg btn-primary">{{ site.data[page.lang].translation.support.community_cta }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %}
<section class="py-5 my-md-2 my-lg-4 my-xl-5 ">
    <div class="container">
        <div class="row justify-content-center pt-5 pb-1 pb-sm-2 pb-md-3">
            <h3 class="mb-4" id="support-call">{{ site.data[page.lang].translation.support.calendar }}</h3>
            <p class="pb-2 pb-sm-3 mb-3">{{ site.data[page.lang].translation.support.calendar_intro }}</p>
            <p class="pb-2 pb-sm-3 mb-3">{{ site.data[page.lang].translation.support.calendar_refund }}</p>
            <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ0tq6DWdpcoJiyXSOehx2IccOF_WIcLt7NlaP6Qefa9ANJ8gagBE1Xl4T715YjdNF9TcSn0jJTS?gv=true" style="border: 0" width="100%" height="750" frameborder="0"></iframe>
        </div>
    </div>
</section>
{% endcomment %}

<section class="py-5 my-md-2 my-lg-4 my-xl-5 bg-secondary">
    <div class="container">
        <div class="row justify-content-center pt-5 pb-1 pb-sm-2 pb-md-3">
            <h3 class="mb-4" id="installation-support">{{ site.data[page.lang].store.items.installation-support.title }}</h3>
            <p class="pb-2 pb-sm-3 mb-3">{{ site.data[page.lang].store.items.installation-support.intro }}</p>
{% capture html %}
{% if page.lang == 'de' %}
Auch wenn alle notwendigen Schritte dokumentiert sind, können sie bei Nutzern ohne Erfahrung mit Serversystemen zu Problemen führen.
In über 25 Jahren Berufserfahrung habe ich viele verschiedene Serversysteme kennengelernt und weiß, dass es nicht immer einfach ist, neue Software in eine bestehende Umgebung zu integrieren.

Wenn du den Kimai-Entwickler für die Installation oder ein Update beauftragen möchtest, [nimm bitte per E-Mail Kontakt auf](mailto:{{ site.support_email }}).

**Benötigte Informationen**

Je nach Art deines Setups benötige ich möglicherweise unterschiedliche Zugangsdaten und Informationen. Dazu können gehören:
- SSH-Zugangsdaten und Benutzerkonto
- Zugang zur Datenbank und das zugehörige Konto
- Eine vorbereitete Domain mit SSL-Zertifikat
- Zugang zum Webinterface deines Hosting-Anbieters

Wenn du einen Shared Hoster nutzt und mit diesen Begriffen nichts anfangen kannst – kein Problem, schreib mir einfach eine E-Mail.

**Preise**
- Updates dauern in der Regel 30–60 Minuten
- Die Migration von Kimai v1 dauert etwa 2 Stunden
- Eine Neuinstallation dauert ca. 1–2 Stunden (je nach Setup/Hoster)
- Ich biete einen regelmäßigen Update-Service an, damit du immer die neueste Kimai-Version verwendest
{% else %}
Although all necessary steps are documented, they may cause problems for users who are not familiar with server systems.
In 25+ years of work experience I have seen a lot of different server systems and know that it is not always easy to integrate new software into your existing setup.

If you want to hire the Kimai developer for installation or updates, please [get in touch via email](mailto:{{ site.support_email }}).

**Required information**

Depending on the type of setup, I might ask you for different types of credentials and information. These might be:

- SSH connection details and user account
- the database connection and account
- a prepared domain with SSL certificate
- login to your hosters web interface

If you use a shared hoster and don't know what all that means, don't worry - just drop me an email.

**Pricing**

- Updates take roughly 30-60 minutes
- Migration from Kimai v1 takes around 2 hours
- Installation takes around 1-2 hours (depending on your setup / hoster)
- I offer a recurring update service, so you always have the latest version of Kimai
{% endif %}
{% endcapture %}
{{ html | markdownify | replace: '<ul>', '<ul class="ms-5">' }}
        </div>
    </div>
</section>

<section class="py-5 my-md-2 my-lg-4 my-xl-5">
    <div class="container">
        <div class="row justify-content-center pb-1 pb-sm-2 pb-md-3">
            <h3 class="mb-4" id="custom-plugins">{{ site.data[page.lang].store.items.custom-plugins.title }}</h3>
            <p class="pb-2 pb-sm-3 mb-3">{{ site.data[page.lang].store.items.custom-plugins.intro }}</p>
{% capture html %}
{% if page.lang == 'de' %}
Bitte kontaktiere mich unter [{{ site.support_email }}](mailto:{{ site.support_email }}), wenn du:
- regelmäßig Statistiken an deine Kunden senden möchtest
- zusätzliche Auswertungen für die Arbeit deiner Nutzer und Projekte benötigst
- deine Rechnungssoftware mit Kimai verbinden willst
- dich über ein Kiosk-Terminal anmelden möchtest
- oder andere ausgefallene Ideen hast, wie sich deine Zeiterfassung noch besser gestalten lässt
{% else %}
Please contact me via [{{ site.support_email }}](mailto:{{ site.support_email }}) if you want to:

- send regular statistics to your customers
- generate additional reports for the work of your users and projects
- connect your invoicing software with Kimai
- login with your kiosk terminal
- or have other funky ideas how to make your time-tracking experience even better
{% endif %}
{% endcapture %}
{{ html | markdownify | replace: '<ul>', '<ul class="ms-5">' }}
        </div>
    </div>
</section>

<div class="pt-5">
    {% include section-contact-colored.html %}
</div>
