---
---

@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import 'source-sans-pro';
@import 'font-awesome/fontawesome';
@import 'font-awesome/regular';
@import 'font-awesome/solid';
@import 'font-awesome/brands';
@import 'dashboard/dashboard';

.page-header {
    padding-left: $grid-gutter-width / 2;
    margin: 1rem 0 1rem;
}
.sidebar {
    padding-left: $card-spacer-x;
    padding-right: $card-spacer-x;
    a.list-group-item {
        padding: .3rem .8rem;
    }
}

.btn-list {
    margin-top: $grid-gutter-width / 2;
}
.card {
    border-left-width: 0;
    border-right-width: 0;
}
.footer {
    padding: $grid-gutter-width / 2;
}
.header {
    padding: $grid-gutter-width / 2;
}
.nav-tabs {
    margin: 0;
}

.header-toggler {
    margin-left: 0 !important;
}
@media (max-width: map-get($grid-breakpoints, "md")) {
    .card-options a.btn span {
        display: none;
    }
}

@media (min-width: map-get($grid-breakpoints, "sm")) {
    .nav-tabs {
        margin: unquote("0 -#{$grid-gutter-width / 2}");
    }
    .card {
        border-left-width: 1px;
        border-right-width: 1px;
    }
    .footer {
        padding: 1.25rem 0;
    }
    .header {
        padding: 0;
    }
    .sidebar {
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
    }
    .page-header {
        padding-left: 0;
        margin: $grid-gutter-width 0 $grid-gutter-width;
    }
}

tr.featured-article td {
    strong {
        font-weight: 700;
        font-size: 140%;
    }
    h4 a {
        color: $link-color;
    }
}

.donation:hover .icon-donation:before {
    content: "\f4be";
    color: red;
    font-size: 1.5rem;
    transition: font-size 0.35s ease;
}

.language-switch {
    a, span {
        padding-left: 0;
        padding-right: 0;
    }
    span {
        cursor: auto;
    }
    .first:after {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        content: "|"
    }
}

footer.footer {
    .row {

    }
}

pre code {
    word-wrap: normal;
}

/* for permission names in tables */
table.table td code.highlighter-rouge
{
    white-space: nowrap;
}

