@import '@tabler/core/src/scss/variables';

/* make all markdown tables look as if they have the "table" class */
table {
    @extend .table;
}

.store-screenshots-slider {
    margin-bottom: 15px;
    img.slider {
        background: rgba(0,0,0,0.2);
    }
    .carousel-caption {
        background: rgba(0,0,0,0.8);
        padding: 20px;
    }
    .carousel-item {
        /* max-height: 800px; */
    }
    .carousel-item-background {
        background: rgba(0,0,0,0.01);
    }
    .carousel-control-prev,
    .carousel-control-next {
        font-size: 30px;
        color: #000;
        opacity: 1;
    }
}

/* only show the store items on larger screens */
.product-icon {
    display: none;
}

/* only show the badges on larger screens */
table.product-listing .badge {
    display: none;
}

@media (max-width: map-get($grid-breakpoints, "md")) {
    #documentation-content ul {
        padding-left: 3px;
        list-style-position: inside;
    }
}

@media (min-width: map-get($grid-breakpoints, "sm")) {
    .product-icon {
        display: table-cell;
        width: 100px;
    }

    table.product-listing .badge {
        display: inline-block;
    }
}

/* make sure the article names are colored link a link */
tr.featured-article td {
    h4 a {
        color: $link-color;
    }
}

/* for permission names in tables */
table.table td code.highlighter-rouge
{
    white-space: nowrap;
}

/* for navigation icon links in mobile view */
a.nav-link.icon {
    padding: 0.5rem;
}

/* markdown content in table cells always is always wrapped in <p> */
table.feature-list td p {
    margin-bottom: 0;
}

/* as long as the name "kimai" is not included in an image */
.header-brand {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: unset;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

/* Make buttons with fontawesome icons work */
a.btn i.fas,
a.btn i.far,
a.btn i.fab {
    margin-right: 5px;
}

/* apply a default margin to all code blocks */
div.highlighter-rouge {
    margin-bottom: 1.5rem;
}

/* Fixing a tabler bug, the first character in a code block has padding */
figure.highlight pre code,
div.highlighter-rouge code {
    padding-left: 0;
}

/* some basic styling for the TOC plugin */
.toc {
    background-color: #f8f9fa;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0,40,100,0.12);
    border-radius: 3px;
    list-style: none;
}
.toc_new {
    background-color: #f8f9fa;
    margin: 1rem 0;
    padding: 1rem 2rem;
    border: 1px solid rgba(0,40,100,0.12);
    border-radius: 3px;
    ul {
        margin-bottom: 0;
        padding-left: 1rem;
    }
}

/* Fix alerts overlapping table of contents */
#documentation-content {
    .alert {
        position: unset;
    }
}

footer ul.list-unstyled li {
    line-height: 24px;
}

/* Collapsible cards, like store item pages (installation) */
.btn-icon {
    padding-left: 20px;
}
