<!doctype html>
<html lang="{{ page.lang }}" dir="{% if site.rtl contains page.lang %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="{{ page.lang }}" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="robots" content="{{ page.robots | default: "index,follow" }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icon/apple-touch-icon.png' | absolute_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icon/icon_32x32.png' | absolute_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icon/icon_16x16.png' | absolute_url }}">
    <title>
        {%- assign page_title = page.title %}
        {%- assign prefix = ' – Kimai' %}
        {%- if site.data[page.lang].translation.menu.default[page.slug].title != nil -%}
            {% assign page_title = site.data[page.lang].translation.menu.default[page.slug].title %}
            {%- assign prefix = '' %}
        {%- elsif site.data[page.lang].translation.menu.default[page.slug].name != nil -%}
            {% assign page_title = site.data[page.lang].translation.menu.default[page.slug].name %}
        {%- elsif site.data[page.lang].store.items[page.slug].title != nil -%}
            {% assign page_title = site.data[page.lang].store.items[page.slug].title %}
        {%- endif -%}
        {{- page_title }}{% unless page_title contains 'Kimai'%}{{ prefix -}}{% endunless -%}
    </title>
    {% assign description = page.excerpt %}
    {%- if site.data[page.lang].translation.menu.default[page.slug].description != nil -%}
        <meta name="description" content="{{ site.data[page.lang].translation.menu.default[page.slug].description }}">
    {%- elsif site.data[page.lang].store.items[page.slug].intro != nil -%}
        <meta name="description" content="{{ site.data[page.lang].store.items[page.slug].intro }}">
    {%- elsif page.description != nil -%}
        <meta name="description" content="{{ page.description | strip_html | strip_newlines | strip }}">
    {%- endif %}
    <link href="{% if site.rtl contains page.lang %}{{ '/assets/build/main.rtl.css' | absolute_url }}{% else %}{{ '/assets/build/main.css' | absolute_url }}{% endif %}?{{site.time | date: '%s%N'}}" rel="stylesheet" />
    <script src="{{ '/assets/build/main.js' | absolute_url }}?{{site.time | date: '%s%N'}}"></script>
    <link type="application/atom+xml" rel="alternate" href="{% link feed.xml %}" title="Kimai Time-Tracking" />
    {%- if page.canonical != nil %}
    <link rel="canonical" href="{{ page.canonical | absolute_url }}" />
    {%- endif %}
    {%- if page.lang != nil %}
    {%- assign langPages = site[page.collection] | where: "slug", page.slug -%}
    {%- if langPages and langPages.size > 1 %}
    {%- for langPage in langPages %}
    <link rel="alternate" hreflang="{{ langPage.lang }}" href="{{ langPage.url | absolute_url }}">
    {%- endfor %}
    {%- endif %}
    {%- endif %}
</head>
<body class="{{ page.body-class }}">

<div class="page">
	{{ content }}
</div>

</body>
</html>
