<!doctype html>
<html lang="{{ page.lang }}" dir="{% if site.rtl contains page.lang %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="robots" content="{{ page.robots | default: 'index,follow' }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon.png' | absolute_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/icon_32x32.png' | absolute_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/icon_16x16.png' | absolute_url }}">
    <title>
        {%- assign page_title = page.title %}
        {%- assign prefix = ' – Kimai' %}
        {%- if page.translation_key != nil -%}
            {% assign page_title = site.data[page.lang].translation[page.translation_key] %}
        {%- elsif layout.translation_key != nil -%}
            {% assign page_title = site.data[page.lang].translation[layout.translation_key] %}
        {%- elsif site.data[page.lang].translation[page.slug].title != nil -%}
            {% assign page_title = site.data[page.lang].translation[page.slug].title %}
            {%- assign prefix = '' %}
        {%- elsif site.data[page.lang].translation[page.slug].name != nil -%}
            {% assign page_title = site.data[page.lang].translation[page.slug].name %}
        {%- elsif site.data[page.lang].store.items[page.slug].title != nil -%}
            {% assign page_title = site.data[page.lang].store.items[page.slug].title %}
        {%- endif -%}
        {{- page_title }}{% unless page_title contains 'Kimai'%}{{ prefix -}}{% endunless -%}
    </title>
    {% assign page_description = page.excerpt %}
    {%- if site.data[page.lang].translation[page.slug].description != nil -%}
        {% assign page_description = site.data[page.lang].translation[page.slug].description %}
    {%- elsif site.data[page.lang].store.items[page.slug].intro != nil -%}
        {% assign page_description = site.data[page.lang].store.items[page.slug].intro %}
    {%- elsif page.description != nil -%}
        {% assign page_description = page.description %}
    {%- endif %}
    {%- if page_description != nil and page_description != '' %}
        {% assign page_description = page_description | strip_html | strip_newlines | strip | replace: "    ", " " | replace: "  ", " " | strip | truncate: 156 %}
    {%- endif %}
    {%- if page_description != nil and page_description != '' %}
        <meta name="description" content="{{ page_description }}">
    {%- endif %}
    <link type="application/atom+xml" rel="alternate" href="{% link feed.xml %}" title="Kimai Time-Tracking" />
    <meta property="og:locale" content="{{ page.lang }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Kimai Time-Tracking">
    <meta property="og:description" content="{{ page_description }}">
    <meta property="og:image" content="{{ '/images/social-preview.jpg' | absolute_url }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Kimai Time-Tracking">
    <meta name="twitter:site" content="@kimai_org">
    <meta name="twitter:description" content="{{ page_description }}">
    <meta name="twitter:image" content="{{ '/images/social-preview.jpg' | absolute_url }}">
    {%- if page.canonical != nil %}
    <link rel="canonical" href="{{ page.canonical | absolute_url }}" />
    {%- endif %}
    {%- if page.lang != nil %}
    {%- assign langPages = site[page.collection] | where: "slug", page.slug -%}
    {%- if langPages and langPages.size > 1 %}
    {%- for langPage in langPages %}
    <link rel="alternate" hreflang="{{ langPage.lang }}" href="{{ langPage.url | absolute_url }}">
    {%- endfor %}
    {%- endif %}
    {%- endif %}
    <script src="/assets/build/theme.js"></script>
    <link href="/assets/build/main{% if site.rtl contains page.lang %}.rtl{% endif %}.css" rel="stylesheet" />
</head>
<body class="{{ page.body-class }}">

{{ content }}

<a href="#top" class="btn-scroll-top" data-scroll>
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
    <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
</a>

<script src="/assets/build/main.js"></script>
<script async defer src="https://sa.kimai.org/latest.js"></script>
<noscript><img src="https://sa.kimai.org/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
</html>
