---
layout: base
top_menu: true
---

{% comment %}
{% include aside.html %}
{% endcomment %}

<div class="flex-fill">
    {% if layout.top_menu == true %}
    <div class="header py-4">
        <div class="container">
            <div class="d-flex">
                <a class="header-brand" href="{{ site.data.trans-menu[page.lang].home.url }}">
                    <img src="{{ '/assets/icon/apple-touch-icon.png' | absolute_url }}" class="header-brand-img" alt="Kimai logo"> {{ site.data.trans[page.lang].kimai-time-tracker }}
                </a>

                <div class="d-flex order-lg-2 ml-auto">
                    <div class="d-none d-sm-flex language-switch">
                        {% if page.lang == 'en' %}
                            <a href="{{ site.data.trans-menu['de'].home.url }}" title="{{ site.data.trans-menu['de'].home.title }}" class="nav-link">DE</a>
                            <span class="nav-link" style="text-decoration: underline">EN</span>
                            <a href="{{ site.data.trans-menu['fr'].home.url }}" title="{{ site.data.trans-menu['fr'].home.title }}" class="last nav-link">FR</a>
                        {% elsif page.lang == 'de' %}
                            <span class="nav-link" style="text-decoration: underline">DE</span>
                            <a href="{{ site.data.trans-menu['en'].home.url }}" title="{{ site.data.trans-menu['en'].home.title }}" class="nav-link">EN</a>
                            <a href="{{ site.data.trans-menu['fr'].home.url }}" title="{{ site.data.trans-menu['fr'].home.title }}" class="last nav-link">FR</a>
                        {% else %}
                            <a href="{{ site.data.trans-menu['de'].home.url }}" title="{{ site.data.trans-menu['de'].home.title }}" class="nav-link">DE</a>
                            <a href="{{ site.data.trans-menu['en'].home.url }}" title="{{ site.data.trans-menu['en'].home.title }}" class="nav-link">EN</a>
                            <span class="last nav-link" style="text-decoration: underline">FR</span>
                        {% endif %}
                    </div>
                    {% comment %}
                    <div class="d-none d-sm-flex">
                        <a href="{{ site.data.trans-menu[page.lang].donate.url }}" title="{{ site.data.trans-menu[page.lang].donate.title }}" class="nav-link icon donation"><i class="icon-donation {{ site.data.trans-menu[page.lang].donate.icon }}"></i></a>
                    </div>
                    <div class="d-none d-sm-flex">
                        <a href="{{ site.data.trans-menu[page.lang].twitter.url }}" title="{{ site.data.trans-menu[page.lang].twitter.title }}" class="nav-link icon" target="_blank"><i class="{{ site.data.trans-menu[page.lang].twitter.icon }}"></i></a>
                    </div>
                    {% endcomment %}
                    <div class="d-flex d-sm-none">
                        <a href="{{ site.data.trans-menu[page.lang].hosted.url }}" title="{{ site.data.trans-menu[page.lang].hosted.title }}" class="nav-link icon"><i class="{{ site.data.trans-menu[page.lang].hosted.icon }}"></i></a>
                    </div>
                    <div class="nav-item d-none d-sm-flex">
                        <a href="{{ site.data.trans-menu[page.lang].hosted.url }}" title="{{ site.data.trans-menu[page.lang].hosted.title }}" class="btn btn-sm btn-primary"> {{ site.data.trans-menu[page.lang].hosted.name }}</a>
                    </div>
                </div>

                <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                    <span class="header-toggler-icon"></span>
                </a>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
        <div class="container">
            <div class="row align-items-center">
                {% comment %}
                <div class="col-lg-3 ml-auto">
                    <form class="input-icon my-3 my-lg-0">
                        <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
                        <div class="input-icon-addon">
                            <i class="fe fe-search"></i>
                        </div>
                    </form>
                </div>
                {% endcomment %}
                <div class="col-lg order-lg-first">
                    {% if layout.main_menu != nil %}
                        {% include menu-documentation.html %}
                    {% else %}
                        {% include menu.html %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="my-3 my-md-5">
		{% if page.page-title %}
		<div class="container">
			<div class="page-header">
				<h1 class="page-title">{{ page.page-title }}</h1>
			</div>
		</div>
		{% endif %}

		{{ content }}
	</div>
</div>

{% comment %}{% include footer-sub.html %}{% endcomment %}

<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-auto ml-lg-auto">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item"><a href="{{ site.data.trans-menu[page.lang].twitter.url }}" title="{{ site.data.trans-menu[page.lang].twitter.title }}">{{ site.data.trans-menu[page.lang].twitter.name }}</a></li>
                            <li class="list-inline-item"><a href="{{ site.data.trans-menu[page.lang].site-notice.url }}" rel="nofollow">{{ site.data.trans-menu[page.lang].site-notice.name }}</a></li>
                            <li class="list-inline-item"><a href="{{ site.data.trans-menu[page.lang].privacy-policy.url }}" rel="nofollow">{{ site.data.trans-menu[page.lang].privacy-policy.name }}</a></li>
                        </ul>
                    </div>
                    {% comment %}
                    <div class="col-auto">
                        <a href="{% link _pages/download.md %}" class="btn btn-sm btn-outline-danger">Download</a>
                    </div>
                    {% endcomment %}
                </div>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                <ul class="list-inline list-inline-dots mb-0">
                    {% comment %}<li class="list-inline-item">© {{ site.time | date: '%Y' }} <a href="{{ site.base }}" title="Free and open-source time-tracking for freelancer and agencies">{{ site.title }}</a></li>{% endcomment %}
                    <li class="list-inline-item">
                        {{ site.data.trans[page.lang].made-with-love }} <a href="https://www.kevinpapst.de" target="_blank">Kevin Papst</a>
                        @ <a href="{{ site.kimai_v2_repo }}" target="_blank">GitHub</a>
                    </li>
                    <li class="list-inline-item"><a href="{{ site.data.trans-menu[page.lang].donate.url }}" title="{{ site.data.trans-menu[page.lang].donate.title }}">♥ {{ site.data.trans-menu[page.lang].donate.name }}</a></li>
                    <li class="list-inline-item"><a href="{{ site.data.trans-menu[page.lang].kimai1.url }}" title="{{ site.data.trans-menu[page.lang].kimai1.name }}">{{ site.data.trans-menu[page.lang].kimai1.name }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
