---
layout: base
---

<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark">
            <a href="{% link _pages/documentation.md %}" class="header-brand">
                <img src="{{ '/assets/icon/apple-touch-icon.png' | absolute_url }}" height="32"
                     class="navbar-brand-image me-1" alt="Kimai"> Kimai – Docs
            </a>
        </h1>
        <div class="navbar-nav flex-row d-lg-none">
            {% include docs-chooser.html class="nav-link" %}
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">

            <ul class="navbar-nav pt-lg-3">
                {% assign menu = nil %}
                {% for group in site.data.menu-documentation %}
                    {% assign group_key = group[0] %}
                    {% for group2 in group[1] %}
                        {% if group2[0] == 'slug' %}
                            {% if group2[1] == page.slug %}
                                {% assign menu = group[1] %}
                            {% endif %}
                        {% else %}
                            {% for group_name in group2[1].pages %}
                                {% if group_name == page.slug %}
                                    {% assign menu = group[1] %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {% if menu != nil %}
                    {% include docs-navi.html navigation=menu %}
                {% else %}
                    {% comment %} if menu is nil then this is the documentation start page OR a page that is not linked in the navigation {% endcomment %}
                    {% for group in site.data.menu-documentation %}
                        {% assign docs_page = site.documentation | where: "slug", group[1].slug | first %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ docs_page.url }}">
                                <span class="nav-link-title">{{ docs_page.title }}</span>
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>

        </div>
    </div>
</aside>

<header class="navbar navbar-expand-md navbar-light d-none d-lg-flex d-print-none">
    <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav flex-row ms-auto">
            <div class="d-none d-md-flex">
                {% include docs-chooser.html %}
            </div>
        </div>
    </div>
</header>

<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    {% if page.description != nil %}
                    <div class="page-pretitle">
                        {{ page.description }}
                    </div>
                    {% endif %}
                    <h2 class="page-title">
                        {{ page.title }}
                    </h2>
                </div>
                <div class="col-12 col-md-auto ms-auto d-print-none">
                    <div class="btn-list">
                        {% include docs-version-chooser.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">

                <div class="markdown">
                    {% capture page_content %}
                        {{ content }}

                        {% if page.related != nil %}
                        <h2 id="related-articles">Related articles</h2>
                        <ul>
                            {% for p in page.related %}
                            {% assign doc = site.documentation | where: "slug", p | first %}
                            <li>
                                <a href="{{ doc.url }}">{{ doc.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endcapture %}

                    {% if page.toc == nil or page.toc == true %}
                        {% include table-of-contents.html html=page_content %}
                    {% endif %}

                    {% comment %} THE id "documentation-content" MAY NEVER BE DELETED, IT IS USED IN KIMAI TO REMOTE FETCH THE ARTICLE {% endcomment %}
                    <div id="documentation-content">
                        {{ page_content }}
                    </div>
                    {% comment %} THE id "documentation-content" MAY NEVER BE DELETED, IT IS USED IN KIMAI TO REMOTE FETCH THE ARTICLE {% endcomment %}
                </div>

            </div>
        </div>
    </div>
    {% include footer.html %}
</div>

