---
layout: default
menu: menu-documentation
type: documentation
github: kimai_v2_repo
toc: true
main_page: documentation
top_menu: false
main_menu: documentation
---
{% assign headerTitle = page.header | default: layout.title | default: page.title | default: "Documentation" %}
{% assign headerSubTitle = page.subtitle | default: layout.subtitle | default: page.description %}

<div class="container">
    {% include page-title.html title=headerTitle subtitle=headerSubTitle %}

    {% if page.lang != 'en' %}
        {% assign alertMsg = site.data.trans[page.lang].docu-alert-english %}
        {% include alert.html type="warning" alert=alertMsg %}
    {% endif %}

    <div class="row row-cards">
    {% for group in site.data.menu-documentation %}
        {% assign modulo = forloop.index0 | modulo: 2 %}
        <div class="col-sm-{{ group.size }}{% if group.size != 12 %} col-12{% endif %}">
            <div class="card">
                <div class="card-body">
                    <div class="text-wrap p-lg-6 text-center">
                        <div class="mb-5">
                            <i class="{{ group.icon }} fa-5x"></i>
                        </div>

                        <h2 class="mt-0 mb-4">
                            {{ group.name }}
                        </h2>

                        <p class="empty-subtitle text-muted">
                            {{ group.description }}
                        </p>

                        {% for p in group.pages %}
                            {% assign doc = site.documentation | where: "slug", p | first %}
                            <a class="btn btn-primary btn-sm" href="{{ doc.url }}">{{ doc.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="row">
       <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="text-wrap p-lg-6">
                        {{ page.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
