---
layout: page-empty
menu: menu-documentation
type: documentation
github: kimai_v2_repo
toc: true
main_page: documentation
homepage: documentation
with_languages: false
---

<div class="row row-cards row-deck">
{% for group in site.data.menu-documentation %}
    {% assign group_key = group[0] %}
    {% assign group_setting = group[1] %}
    {% assign group_name = site.data[page.lang].translation.menu.menu-documentation[group_key].name %}
    {% assign group_desc = site.data[page.lang].translation.menu.menu-documentation[group_key].description %}
    <div class="col-sm-{{ group_setting.size }}{% if group_setting.size != 12 %} col-12{% endif %}">
        <div class="card">
            <div class="card-body">
                <div class="text-wrap p-lg-6 text-center">
                    <div class="mt-2 mb-3">
                        <i class="{{ group_setting.icon }} fa-5x"></i>
                    </div>

                    <h2 class="mt-0 mb-4">
                        {{ group_name }}
                    </h2>

                    <p class="empty-subtitle text-muted mb-3">
                        {{ group_desc }}
                    </p>

                    <div class="btn-list d-flex justify-content-center mt-auto">
                    {% for p in group_setting.pages %}
                        {% if p != "-" %}
                            {% assign doc = site.documentation | where: "slug", p | first %}
                            <a class="btn btn-primary" href="{{ doc.url }}">{{ doc.title }}</a>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
   <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="text-wrap p-lg-6 pt-3">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </div>
</div>
