---
layout: default
---
{% assign error = site.data.errors[page.error] %}

<section class="container d-flex flex-column h-100 align-items-center position-relative zindex-5 pt-5 pb-5">
    <div class="text-center pt-5 pb-3">

        <h1 class="visually-hidden">{{ error.name }}</h1>
        <h2 class="display-5">Ooops!</h2>
        <p class="fs-xl pb-3 pb-md-0 mb-md-5">{{ error.description }}</p>
        <a href="/" class="btn btn-lg btn-primary shadow-primary w-sm-auto w-100">
            <i class="bx bx-home-alt me-2 ms-n1 lead"></i>
            Go to homepage
        </a>
    </div>
</section>
