---
layout: base
---

<main class="page-wrapper">

    {% include pages/homepage-hero.html %}

    {% include section-compare-os-saas.html %}

    <div class="mt-5">
        {% include testimonials-horizontal.html %}
    </div>

    {% include section-features-images.html %}

{% comment %}
    {% include section-testimonials.html %}
{% endcomment %}

    {% include section-features.html %}

{% comment %}
    {% include section-numbers.html %}

    {% include section-latest-news.html %}
{% endcomment %}

    {% include cta-begin-journey.html %}

</main>

{% include footer.html %}
