---
layout: base
---

<main class="page-wrapper">

    {% include pages/homepage-hero.html %}

    {% include section-compare-os-saas.html %}

    {% include section-features-images.html %}

{% comment %}{% include section-testimonials.html %}{% endcomment %}

    {% include section-features.html %}

{% comment %}{% include section-numbers.html %}{% endcomment %}

    {% include section-latest-news.html %}

    {% include section-newsletter.html background=true %}

</main>

{% include footer.html %}

