---
layout: base
---

<main class="page-wrapper">
    {% include header-navigation.html %}

    <section class="container pt-4 pb-5 mb-lg-5">

        <!-- Breadcrumb mobile -->
        <nav class="d-md-none pb-3 mb-2 mb-lg-3" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Industries</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
            </ol>
        </nav>

        <div class="row row-cols-1 row-cols-md-2 g-0 pb-2">

            <div class="col order-md-2 position-relative bg-position-center bg-size-cover bg-repeat-0 zindex-2" style="background-image: url({{ page.image }}); border-radius: .5rem .5rem .5rem 0;">
                <div style="height: 250px;"></div>
            </div>

            <div class="col order-md-1">
                <nav class="d-none d-md-block py-3 mb-2 mb-lg-3" aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="index.html"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Industries</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                    </ol>
                </nav>

                <div class="bg-secondary rounded-3 p-4 p-lg-5 mt-n2 mt-md-0 me-md-n2">
                    <div class="px-sm-3 px-xl-4 pt-4 py-md-3 py-lg-4 py-xl-5">
                        <h1 class="pb-2 pb-xxl-3">{{ page.title }}</h1>
                        <h3>{{ page.subtitle }}</h3>
                        <div class="pb-2 mb-4 mb-xxl-5">{{ page.introduction|markdownify }}</div>
                        <div class="d-xxl-flex align-items-center">
                            <a href="#" class="btn btn-primary shadow-primary btn-lg">Try Kimai for free</a>
                        {% comment %}
                            <ul class="list-unstyled ps-xxl-4 pt-4 pt-xxl-0 ms-xxl-2">
                                <li><strong>Mon — Fri:</strong> 9:00 am — 22:00 am</li>
                                <li><strong>Sat — Sun:</strong> 9:00 am — 20:00 am</li>
                            </ul>
                        {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container pb-5 mb-md-2 mb-lg-5">
        <div class="row">
            <div class="col-lg-4 text-center text-lg-start pb-3 pb-lg-0 mb-4 mb-lg-0">
                <h2 class="h1 mb-lg-4">{{ page.features.title }}</h2>
                <div class="pb-4 mb-0 mb-lg-3">{{ page.features.introduction|markdownify }}</div>
                <a href="#" class="btn btn-primary shadow-primary btn-lg">All features</a>
            </div>
            <div class="col-xl-7 col-lg-8 offset-xl-1">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col">
                    {% for name in page.features.list %}
                        {% assign features = site.data.feature | where_exp: "feature", "feature.name == name" %}
                        {% for feature in features %}
                            {% include feature-box.html feature=feature %}
                        {% endfor %}
                        {% assign mod = forloop.index1 | modulo: 2 %}
                        {% if mod == 0 %}
                    </div>
                    <div class="col">
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% assign testimonial_tag = page.testimonials.tag %}
    {% assign testimonial_title = page.testimonials.title %}
    {% assign testimonial_intro = page.testimonials.introduction %}
    {% assign testimonials = site.data.testimonials | where_exp: "item", "item.tags contains testimonial_tag" | sample: 5 %}
    {% include testimonials-slider.html testimonials=testimonials title=testimonial_title introduction=testimonial_intro %}

    {% comment %}
    https://silicon.createx.studio/landing-medical.html
    {% endcomment %}
    <section class="container text-center pb-5 mb-3 mb-md-4 mb-lg-5">
        <h2 class="h1 pt-1 mb-4">{{ page.about.title }}</h2>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="fs-lg text-muted mb-lg-0">{{ page.about.introduction|markdownify }}</div>
            </div>
        </div>
        {% comment %}
        <div class="position-relative rounded-3 overflow-hidden mb-lg-3">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center zindex-5">
                <a href="https://www.youtube.com/watch?v=wJC1LFT_GD0" class="btn btn-video btn-icon btn-xl stretched-link bg-white" data-bs-toggle="video" aria-label="Play video" data-lg-id="1ab3fbc9-3ad4-48b6-93b7-eef9d8c09a39">
                    <i class="bx bx-play"></i>
                </a>
            </div>
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-35"></span>
            <img src="assets/img/landing/medical/video-cover.jpg" alt="Cover image">
        </div>
        {% endcomment %}
    </section>

    <section class="container py-5 my-1 my-md-4 my-lg-5">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-lg-0">
                <div class="pe-lg-4 me-lg-3 pe-xl-0 me-xl-0">
                    <div class="mb-0">
                        {% assign cta_question = page.cta.question %}
                        {% assign cta_title = page.cta.title %}
                        {% include cta-customizable.html question=cta_question title=cta_title %}
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

{% include footer.html %}
