---
layout: base
---

<main class="page-wrapper">

    {% include header-navigation.html absolute=true light=false %}

    <section class="position-relative py-5">
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary opacity-10"></div>
        <div class="container position-relative zindex-2 py-lg-4 pt-xxl-5">
            <div class="row">
                <div class="col-xl-5 d-flex flex-column">
                    <h1 class="display-3 mb-4">
                        {{ site.data[page.lang].translation.integrations.title }}
                    </h1>
                    <p class="fs-lg mb-5">
                        {{ site.data[page.lang].translation.integrations.subtitle }}
                    </p>
                </div>
                <div class="col-xl-7">
                    <div class="d-none d-xl-block mx-auto me-lg-0" style="max-width: 648px;">
                        <div class="align-self-end ms-xl-0 ms-md-4 p-lg-4 p-sm-3 p-2 rounded-4 overflow-hidden" style="background: linear-gradient(153.32deg, rgba(255, 255, 255, .3) -65.62%, rgba(255, 255, 255, .1) 83.28%); box-shadow: 0 .25rem 1.5rem -.0625rem rgba(0, 0, 0, .2); backdrop-filter: blur(25px);">
                            <img src="{{ page.image }}" alt="Integrations" class="rounded-4" style="box-shadow: 0 0 7.5rem rgba(0, 0, 0, .1);">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container mb-lg-4 pb-5 pt-3">

        {{ content }}

    </section>

</main>

{% include section-newsletter.html background=true %}

{% include footer.html %}
