{% include header.html %}

<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        <div class="breaking-news">
            <p>
                <span>Exciting news:</span>
                We are working on the next major version <strong>Kimai 2</strong> and invite you to
                <a href="/blog/2018/kimai-v2-announcement/">read the announcement</a>,
                <a href="https://v2.kimai.org">visit the new website</a>
                and <a href="https://github.com/kevinpapst/kimai2/">participate at Github</a>.
            </p>
        </div>
        {{ content }}
    </section>
</div>

{% include footer.html %}