---
layout: base
---

<main class="page-wrapper">

    {% include header-navigation.html %}

    {% assign pagetitle = page.title %}
    {% assign subtitle = '' %}
    {% assign eyebrow = site.slogan %}

    {% include hero-plain-text.html %}

    <section class="container mt-3 mb-5 pt-lg-5" id="benefits">
        <div class="row align-items-center pt-4">

            {% for feature in page.features %}
            <div class="col col-xs-12 {% unless forloop.last %}border-end-lg{% endunless %} px-2">
                <div class="text-center">
                    <img src="{{ feature.image }}" width="48" alt="{{ feature.text }} logo" class="d-block mb-4 mx-auto">
                    <h4 class="mb-2 pb-1">{{ feature.title }}</h4>
                    <p class="mx-auto" style="max-width: 336px;">{{ feature.text }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="container mt-3 mb-5 pt-lg-5" id="benefits">
        <div class="row align-items-center pt-4">

            {{ content }}

        </div>
    </section>

    {% assign testimonials = site.data.testimonials | where_exp: "item", "item.tags contains page.review_tags" | sample: 8 %}
    {% include testimonials-horizontal-swipe.html testimonials=testimonials title=testimonial_title introduction=testimonial_intro %}

    <section class="container pb-3 pb-md-4 pb-lg-5">
        <div class="row gy-4 py-xl-2 mt-5">
            <div class="col-md-4">
                <h2 class="mb-3 text-md-start text-center">{{ page.contributions.title }}</h2>
                <p>{{ page.contributions.text }}</p>
            </div>
            <div class="col-lg-7 offset-lg-1 col-md-8">
                <div class="row row-cols-sm-4 row-cols-2 gy-4">
                    {% for project in page.contributions.projects %}
                    <div class="col">
                        <div class="position-relative text-center card card-body card-hover px-2 mx-2">
                            <img src="{{ project.image }}" width="100" alt="{{ project.title }} logo" class="d-block mx-auto mb-3">
                            <a href="{{ project.url }}" target="_blank" class="text-body justify-content-center fs-sm stretched-link text-decoration-none">{{ project.title }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

</main>

{% include footer.html %}
