---
layout: default
---

{% assign pagetitle = page.title %}
{% if site.data[page.lang].translation.menu.default[page.slug].title != nil %}
    {% assign pagetitle = site.data[page.lang].translation.menu.default[page.slug].title %}
{% elsif site.data[page.lang].translation.menu.default[page.slug].name != nil %}
    {% assign pagetitle = site.data[page.lang].translation.menu.default[page.slug].name %}
{% endif %}
{% assign subtitle = nil %}
{% if page.subtitle != nil %}
    {% assign subtitle = page.subtitle %}
{% endif %}
{% if site.data[page.lang].translation.menu.default[page.slug].subtitle != nil %}
    {% assign subtitle = site.data[page.lang].translation.menu.default[page.slug].subtitle %}
{% endif %}
{% include page-title.html title=pagetitle subtitle=subtitle options=layout.options %}

<div class="page-body">
    <div class="container-xl">
        {% if page.warn_language != nil and page.lang != 'en' %}
        {% assign warning = site.data[page.lang].translation.docu-alert-english %}
        {% include alert.html icon="fas fa-globe" alert=warning type="danger" %}
        {% endif %}

        {{ content }}
    </div>
</div>
