---
layout: default
---

{% assign pagetitle = page.title %}
{% if page.title_trans != nil %}
    {% assign pagetitle = site.data[page.lang].translation[page.title_trans] %}
{% endif %}
{% assign subtitle = nil %}
{% if page.subtitle != nil %}
    {% assign subtitle = page.subtitle %}
{% endif %}
{% if site.data[page.lang].translation.menu.default[page.slug].subtitle != nil %}
    {% assign subtitle = site.data[page.lang].translation.menu.default[page.slug].subtitle %}
{% endif %}
{% include page-title.html title=pagetitle subtitle=subtitle options=layout.options %}

<div class="page-body">
    <div class="container-xl">
        {{ content }}
    </div>
</div>
