---
layout: page-empty
---
{% assign author = site.data.users[page.author] %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex px-2">
                    <div class="avatar avatar-rounded me-3" style="background-image: url({{ author.photo }})"></div>
                    <div>
                        <div>{{ author.name }} <small>@{{ author.username }}</small></div>
                        <small class="d-block text-muted">{{ page.date | date_to_string }}</small>
                    </div>
                </div>
                <div class="card-options">
                    <a href="/feed.xml" class="btn btn-link"><i class="fa fa-rss"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="markdown p-4">
                    {{ content }}
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex px-2">
                {% if page.previous.url %}
                        <a class="me-auto" href="{{page.previous.url}}"><i class="fas fa-arrow-circle-left"></i> {{page.previous.title}}</a>
                {% endif %}
                {% if page.next.url %}
                        <a href="{{page.next.url}}">{{page.next.title}} <i class="fas fa-arrow-circle-right"></i></a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
