---
layout: content
---
{% assign settings = site.data.store[page.slug] %}
{% assign translation = site.data[page.lang].store.items[page.slug] %}
{% assign developer = site.data.developer[settings.developer] %}
{% assign icon = settings.icon | default: "fas fa-question" %}
{% assign buyLink = '' %}
{% assign buyBtnIcon = 'fas fa-download' %}
{% assign buyIcon = 'fas fa-shopping-cart' %}
{% assign pricing = 0 %}
{% assign buyTitle = site.data[page.lang].translation.download %}
{% assign buySubTitle = '' %}
{% assign purchase_details = nil %}
{% assign documentation = nil %}
{% if settings.documentation %}
    {% assign documentation = settings.documentation %}
{% endif %}
{% assign screenshot = nil %}
{% if settings.screenshot %}
    {% assign screenshot = settings.screenshot %}
{% endif %}
{% assign screenshots = nil %}
{% if settings.screenshots %}
    {% assign screenshots = settings.screenshots %}
{% endif %}
{% if settings.download %}
    {% assign buyLink = settings.download %}
    {% assign buyBtnIcon = 'fas fa-download' %}
    {% assign buyTitle = site.data[page.lang].translation.download %}
{% elsif settings.email %}
    {% assign buyLink = 'mailto:' | append: settings.email %}
    {% assign buyBtnIcon = 'fas fa-at' %}
    {% assign buyTitle = site.data[page.lang].translation.contact %}
{% elsif settings.play-store %}
    {% assign buyLink = settings.play-store %}
    {% assign buyBtnIcon = 'fab fa-google-play' %}
    {% assign buyTitle = 'Play Store' %}
{% elsif settings.app-store %}
    {% assign buyLink = settings.app-store %}
    {% assign buyBtnIcon = 'fab fa-app-store-ios' %}
    {% assign buyTitle = 'App Store' %}
{% elsif settings.lemonsqueezy %}
    {% if developer.purchase_details %}
        {% assign purchase_details = developer.purchase_details %}
    {% endif %}
    {% assign buyLink = settings.lemonsqueezy %}
    {% assign buyBtnIcon = 'fas fa-shopping-cart' %}
{% elsif settings.gumroad %}
    {% if developer.purchase_details %}
        {% assign purchase_details = developer.purchase_details %}
    {% endif %}
    {% assign buyLink = 'https://gum.co/' | append: settings.gumroad %}
    {% assign buyBtnIcon = 'fas fa-shopping-cart' %}
{% elsif settings.github %}
    {% assign buyLink = settings.github | append: '/releases' %}
    {% assign buyBtnIcon = 'fab fa-github' %}
    {% assign buyTitle = site.data[page.lang].translation.download %}
{% endif %}

{% if settings.price == nil %}
    {% assign buyIcon = 'fas fa-comments' %}
{% elsif settings.price != nil and settings.price == 0 %}
    {% assign buyIcon = 'fas fa-gift' %}
{% endif %}

{% if settings.subscription != nil and settings.subscription != 0 %}
    {% assign buyTitle = site.data[page.lang].translation.store-buy-button %}
    {% assign pricing = settings.subscription | append: ' per year' %}
    {% assign buySubTitle = site.data[page.lang].translation.price-without-vat %}
{% elsif settings.price == nil %}
    {% assign pricing = site.data[page.lang].translation.price-contract %}
{% elsif settings.price != nil and settings.price != 0 %}
    {% assign buyTitle = site.data[page.lang].translation.store-buy-button %}
    {% assign pricing = settings.price %}
    {% assign buySubTitle = site.data[page.lang].translation.price-without-vat %}
{% else %}
    {% assign buyTitle = site.data[page.lang].translation.download %}
    {% assign pricing = site.data[page.lang].translation.free-badge %}
{% endif %}

{% include page-title.html title=translation.title %}

<div class="page-body">
    <div class="container-xl">

        <div class="store-item">

            <div class="row row-cards">
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-md-6 col-lg-12">
                            <div class="card p-3 mb-3">
                                <div class="d-flex align-items-center">
                                    {% if buyLink != '' %}
                                    <a href="{{ buyLink }}">
                                        <span class="avatar text-white bg-blue me-2">
                                          <i class="fas fa-euro-sign"></i>
                                        </span>
                                    </a>
                                    {% else %}
                                        <span class="avatar text-white bg-blue me-3">
                                            <i class="{{ buyIcon }}"></i>
                                        </span>
                                    {% endif %}
                                    <div>
                                        <h4 class="m-0">
                                            {{ pricing }}
                                        </h4>
                                        <small class="text-muted">
                                            {{ buySubTitle }}
                                        </small>
                                    </div>
                                </div>
                            </div>

                            {% if page.type == 'featured' or page.type == 'plugin' %}
                            <div class="card mb-3">
                                <div class="card-body p-0">
                                    {% assign compatibleWithTwo = false %}
                                    {% for version in settings.bundle.versions %}
                                        {% assign startsVersion = version[1] | slice: 0, 2 %}
                                        {% if startsVersion == '2.' %}
                                            {% assign compatibleWithTwo = true %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if compatibleWithTwo == false %}
                                        {% include alert.html type="danger" alert="The developer did not yet confirm compatibility with Kimai 2.0" %}
                                    {% else %}
                                        {% include alert.html type="success" alert="Compatible with Kimai 2.0" %}
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}

                            <div class="card mb-3">
                                <div class="card-body text-center">
                                    <h4 class="card-title text-center">{{ site.data[page.lang].translation.store-offered-by }}</h4>
                                    <div class="mb-3">
                                        <img src="{{ developer.image }}" alt="Logo - {{ developer.name }}" class="avatar avatar-xl avatar-rounded">
                                    </div>
                                    <h3 class="mb-3">{{ developer.name }}</h3>
                                    <p class="mb-3">
                                        {{ developer.description }}
                                    </p>
                                    {% if developer.homepage or developer.email %}
                                    <div class="hr-text">{{ site.data[page.lang].translation.contact }}</div>
                                    <div class="mb-4">
                                        {{ site.data[page.lang].translation.contact-developer }}
                                    </div>
                                    {% endif %}
                                    <ul class="social-links list-inline mb-0 mt-2">
                                        {% if developer.homepage %}
                                        <li class="avatar avatar-rounded">
                                            <a href="{{ developer.homepage }}" title="Homepage" target="_blank"><i class="fa fa-home"></i></a>
                                        </li>
                                        {% endif %}
                                        {% if developer.email %}
                                        <li class="avatar avatar-rounded">
                                            <a href="mailto:{{ developer.email }}" title="Email"><i class="fa fa-envelope"></i></a>
                                        </li>
                                        {% endif %}
                                        {% if developer.github %}
                                        <li class="avatar avatar-rounded">
                                            <a href="{{ developer.github }}" title="GitHub" target="_blank"><i class="fab fa-github"></i></a>
                                        </li>
                                        {% endif %}
                                        {% if developer.twitter %}
                                        <li class="avatar avatar-rounded">
                                            <a href="{{ developer.twitter }}" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        {% endif %}
                                        {% if developer.mastodon %}
                                        <li class="avatar avatar-rounded">
                                            <a href="{{ developer.mastodon }}" title="Mastodon" target="_blank"><i class="fab fa-mastodon"></i></a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>

                            {% if settings.demo %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h4 class="mb-3 text-center alert alert-important bg-blue-lt">
                                        {{ site.data[page.lang].translation.try-it }}
                                    </h4>
                                    <p class="mb-3">
                                        {{ site.data[page.lang].translation.plugin-demo-at }} <a href="https://demo-branch.kimai.org">demo-branch.kimai.org</a>:
                                    </p>
                                    <p>
                                        {{ site.data[page.lang].translation.username }}: <strong>susan_super</strong>
                                        <br>
                                        {{ site.data[page.lang].translation.password }}: <strong>kitten</strong>
                                    </p>
                                    <p class="mb-2">
                                        <a href="{% link _pages/demo.md %}">{{ site.data[page.lang].translation.plugin-demo-accounts }}</a>.
                                    </p>
                                </div>
                            </div>
                            {% endif %}

                            {% comment %}
                            {% if settings.bundle %}
                            <div class="card p-1 mb-3">
                                <div class="card-body">
                                    <strong>{{ site.data[page.lang].translation.table-of-contents }}</strong>
                                    <ul class="list-unstyled">
                                        <li><a href="#features">{{ site.data[page.lang].translation.store-features }}</a></li>
                                        {% if screenshots %}
                                        <li><a href="#screenshots">{{ site.data[page.lang].translation.screenshots-title }}</a></li>
                                        {% endif %}
                                        {%- if purchase_details %}
                                        <li><a href="#purchase">{{ site.data[page.lang].translation.store-purchase }}</a></li>
                                        {% endif %}
                                        {% if settings.bundle and settings.bundle.versions %}
                                        <li><a href="#compatibility">{{ site.data[page.lang].translation.compatibility }}</a></li>
                                        {% endif %}
                                        <li><a href="#installation">{{ site.data[page.lang].translation.installation }}</a></li>
                                        <li><a href="#updates">{{ site.data[page.lang].translation.updates }}</a></li>
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            {% endcomment %}

                            {% if screenshot != nil %}
                            <div class="card p-3 mb-3">
                                <div id="carousel-controls" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        {% for s in screenshot %}
                                        <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                            <a href="{{ s }}" target="_blank"><img class="d-block w-100" alt="" src="{{ s }}" data-holder-rendered="true"></a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="#carousel-controls" role="button" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-controls" role="button" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <div class="d-flex align-items-center px-2">
                                    <div>
                                        <div>Screenshot{% if screenshot.size > 1 %}s{% endif %}</div>
                                        <small class="d-block text-muted">Click to enlarge</small>
                                    </div>
                                    {% if screenshot.size > 1 %}
                                    <div class="ms-auto text-muted">
                                        {% for s in screenshot %}
                                        <a href="javascript:void(0)" data-bs-target="#carousel-controls" data-bs-slide-to="{{ forloop.index0 }}" class="icon">[{{ forloop.index }}]</a>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="d-flex align-items-center px-2">
                                {% if settings.image %}
                                <div class="avatar avatar-md me-3" style="background-image: url({{ settings.image }})"></div>
                                {% else %}
                                <i class="{{ icon }} fa-2x me-3"></i>
                                {% endif %}
                                <div>
                                    <div>{{ translation.intro }}</div>
                                </div>
                            </div>
                            <div class="card-options">
                                {% if settings.github %}
                                    <a href="{{ settings.github }}" class="btn btn-outline-primary">
                                        <i class="fab fa-github"></i>
                                        <span class="text-nowrap">GitHub</span>
                                    </a>
                                {% endif %}

                                {% if buyLink != '' %}
                                    <a href="{{ buyLink }}" class="btn btn-success ms-2" target="_blank">
                                        <i class="{{ buyBtnIcon }}"></i>
                                        <span class="text-nowrap">{{ buyTitle }}</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                            {% if documentation %}
                                {% include documentation-link.html chapter=documentation %}
                            {% endif %}

                            {{ content }}
                        </div>
                    </div>

                    {% if screenshots %}
                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="d-flex align-items-center px-2">
                                    <h3 id="screenshots" class="card-title">{{ site.data[page.lang].translation.screenshots-title }}</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                {% include store-screenshots.html slides=screenshots %}
                            </div>
                        </div>
                    {% endif %}

                    {%- if purchase_details %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="d-flex align-items-center px-2">
                                <h3 id="purchase" class="card-title">{{ site.data[page.lang].translation.store-purchase }}</h3>
                            </div>
                            <div class="card-options">
                                <a href="{{ buyLink }}" class="btn btn-success ms-2" target="_blank">
                                    <i class="{{ buyBtnIcon }}"></i>
                                    <span class="text-nowrap">{{ buyTitle }}</span>
                                </a>
                            </div>
                        </div>
                        <div class="card-body p-4">
                            <ul>
                                {% for detail in purchase_details %}
                                <li>{{ detail }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if settings.bundle %}
                        {% if settings.bundle.versions %}
                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="d-flex align-items-center px-2">
                                    <h3 id="compatibility" class="card-title">{{ site.data[page.lang].translation.compatibility }}</h3>
                                </div>
                                <div class="card-actions">
                                    <a class="btn btn-icon collapsed" href="#" data-bs-toggle="collapse" data-bs-target=".collapse_compatibility" data-bs-placement="top" title="Toggle" aria-expanded="false"><i class="icon fas fa-chevron-down"></i></a>
                                </div>
                            </div>
                            <div class="card-body collapse_compatibility collapse">
                                <p>{{ site.data[page.lang].translation.compatibility-info }}</p>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            {{ site.data[page.lang].translation.compatibility-bundle }}
                                        </th>
                                        <th>
                                            {{ site.data[page.lang].translation.compatibility-kimai }}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for version in settings.bundle.versions %}
                                        <tr>
                                            <td>{{ version[0] }}</td>
                                            <td>{{ version[1] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endif %}

                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="d-flex align-items-center px-2">
                                    <h3 id="installation" class="card-title">{{ site.data[page.lang].translation.installation }}</h3>
                                </div>
                                <div class="card-actions">
                                    <a class="btn btn-icon collapsed" href="#" data-bs-toggle="collapse" data-bs-target=".collapse_installation" data-bs-placement="top" title="Toggle" aria-expanded="false"><i class="icon fas fa-chevron-down"></i></a>
                                </div>
                            </div>
                            <div class="card-body collapse_installation collapse">
                                {% include store-plugin-installation.html clone=settings.bundle.clone plugin=settings.bundle.name command=settings.bundle.command assets=settings.bundle.assets %}
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="d-flex align-items-center px-2">
                                    <h3 id="updates" class="card-title">{{ site.data[page.lang].translation.updates }}</h3>
                                </div>
                                <div class="card-actions">
                                    <a class="btn btn-icon collapsed" href="#" data-bs-toggle="collapse" data-bs-target=".collapse_update" data-bs-placement="top" title="Toggle" aria-expanded="false"><i class="icon fas fa-chevron-down"></i></a>
                                </div>
                            </div>
                            <div class="card-body collapse_update collapse">
                                {% include store-plugin-update.html plugin=settings.bundle.name command=settings.bundle.command assets=settings.bundle.assets %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% comment %}
            <div class="row row-cards">
                <div class="col-lg-3"></div>
                <div class="col-lg-9">
                    <h4>All items by {{ developer.name }}</h4>

                    {% assign products = site.store | where: "lang", page.lang | where: "developer", settings.developer | sort: 'title' %}
                    {% include store-list.html products=products %}
                </div>
            </div>
            {% endcomment %}

        </div>

    </div>
</div>
