---
layout: base
translation_key: store-hero-title
---

<main class="page-wrapper">

    {% include header-navigation.html absolute=true light=false %}

    <section class="position-relative py-5">
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary opacity-10"></div>
        <div class="container position-relative zindex-2 py-lg-4 pt-xxl-5">
            <div class="row">
                <div class="col-xl-5 d-flex flex-column">
                    <h5 class="my-2">{{ site.data[page.lang].translation.store-hero-subtitle }}</h5>
                    <h1 class="display-3 mb-4">
                        {{ site.data[page.lang].translation.store-hero-title | replace: ':', ":<br>" }}
                    </h1>
                    <p class="fs-lg mb-5">
                        {{ site.data[page.lang].translation.store-hero-intro }}
                    </p>
                    <div class="d-flex align-items-center mt-auto mb-3 mb-lg-0 pb-4 pb-lg-0 pb-xl-5">
                        <div class="d-flex me-3">
                            {% assign testimonials = site.data.testimonials | sample: 5 %}
                            {% for testimonial in testimonials %}
                            <div class="d-flex align-items-center justify-content-center bg-light rounded-circle ms-n3" style="width: 52px; height: 52px;">
                                <img src="{{ testimonial.image }}" class="rounded-circle" width="48" alt="{{ testimonial.position }}">
                            </div>
                            {% endfor %}
                        </div>
                        {% assign customer_count = '<span class="text-primary fw-semibold">%number%+</span>' | replace: '%number%', site.kimai_customers %}
                        <span class="fs-sm">{{ site.data[page.lang].translation.store-hero-counter | replace: '%number%', customer_count }}</span>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="d-none d-xl-block parallax mx-auto me-lg-0" style="max-width: 648px;">
                        <div class="align-self-end ms-xl-0 ms-md-4 p-lg-4 p-sm-3 p-2 rounded-4 overflow-hidden" style="background: linear-gradient(153.32deg, rgba(255, 255, 255, .3) -65.62%, rgba(255, 255, 255, .1) 83.28%); box-shadow: 0 .25rem 1.5rem -.0625rem rgba(0, 0, 0, .2); backdrop-filter: blur(25px);">
                            <img src="/images/layout/shop-hero.png" alt="Shop" class="rounded-4" style="box-shadow: 0 0 7.5rem rgba(0, 0, 0, .1);">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container mb-lg-4 pb-5">
        <article class="mb-5 pt-3">
            <header class="d-flex align-items-center justify-content-between mb-5">
                <span class="badge bg-primary shadow-info fs-base fw-normal">Featured</span>
            </header>
            <ul class="list-unstyled mb-0">
                {% assign products = site.store | where: "lang", page.lang | where_exp:"product", "product.type == 'featured'" | sort: 'order', 'last' %}
                {% include store-list.html products=products %}
            </ul>
        </article>
        <article class="mb-5 pt-3">
            <header class="d-flex align-items-center justify-content-between mb-5">
                <span class="badge bg-success shadow-info fs-base fw-normal">Support</span>
            </header>
            <ul class="list-unstyled mb-0">
                {% assign products =  site.store | where: "lang", page.lang | where_exp:"product", "product.type == 'support'" | sort: 'title' %}
                {% include store-list.html products=products %}
            </ul>
        </article>
        <article class="mb-5 pt-3">
            <header class="d-flex align-items-center justify-content-between mb-5">
                <span class="badge bg-info shadow-info fs-base fw-normal">{{ site.data[page.lang].translation.store-category-apps }}</span>
            </header>
            <ul class="list-unstyled mb-0">
                {% assign products =  site.store | where: "lang", page.lang | where_exp:"product", "product.type == 'app'" | sort: 'title' %}
                {% include store-list.html products=products %}
            </ul>
        </article>
        <article class="mb-5 pt-3">
            <header class="d-flex align-items-center justify-content-between mb-5">
                <span class="badge bg-warning shadow-info fs-base fw-normal">{{ site.data[page.lang].translation.store-category-plugins }}</span>
            </header>
            <ul class="list-unstyled mb-0">
                {% assign products =  site.store | where: "lang", page.lang | where_exp:"product", "product.type == 'plugin'" | sort: 'title' %}
                {% include store-list.html products=products %}
            </ul>
        </article>
        <article class="mb-5 pt-3">
            <header class="d-flex align-items-center justify-content-between mb-5">
                <span class="badge bg-danger shadow-info fs-base fw-normal">{{ site.data[page.lang].translation.store-category-client }}</span>
            </header>
            <ul class="list-unstyled mb-0">
                {% assign products =  site.store | where: "lang", page.lang | where_exp:"product", "product.type == 'client'" %}
                {% include store-list.html products=products %}
            </ul>
        </article>
    </section>

</main>

{% include footer.html %}

