---
subtitle: "Legacy documentation for Kimai 1"
menu: menu-v1
type: v1
intro: true
github: kimai_v1_repo
title_postfix: "Kimai v1"
main_page: v1
layout: default
---
{% assign collectionMenu = layout.menu %}
{% assign collectionType = layout.type %}
{% assign headerTitle = page.header | default: layout.title | default: page.title | default: "Documentation" %}
{% assign headerSubTitle = page.subtitle | default: layout.subtitle | default: page.description %}

<div class="container">
    {% include page-title.html title=headerTitle subtitle=headerSubTitle %}

    <div class="row">
        <div class="col-lg-3 order-lg-1 mb-4 sidebar">
            {% for group in site.data[collectionMenu] %}
            <strong>{{ group.title }}</strong>
            <div class="list-group list-group-transparent mb-3">
                {% for p in group.pages %}
                    {% assign doc = site[collectionType] | where: "slug", p | first %}
                    <a href="{{ doc.url }}" class="list-group-item list-group-item-action{% if page.url == doc.url %} active{% endif %}">{{ doc.title }}</a>
                {% endfor %}
            </div>
            {% endfor %}

            <div class="d-none d-lg-block mt-6">
                <a href="{{ site.kimai_v2_website }}/blob/master/{{ page.path }}" class="text-muted">Edit this page</a>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card">

                {% if page.skip_back == nil %}
                <div class="card-header">
                    <div class="d-flex align-items-center px-2">
                        <a href="{% link _pages/v1.md %}" class="btn btn-link">
                            <i class="fas fa-arrow-circle-left"></i> Back to Kimai v1
                        </a>
                    </div>
                </div>
                {% endif %}

                <div class="card-body">
                    <div class="text-wrap p-lg-6">
                        {% if page.url_v2 != nill %}
                            <div class="alert alert-success" role="alert">
                                This documentation page exists <a href="{{ page.url_v2 }}">for version 2 here</a>.
                            </div>
                        {% endif %}

                        <h2 class="mt-0 mb-4">
                            {{ page.title }}
                        </h2>

                        {% if page.toc %}
                            {% include toc.html html=page.content class="section-nav" h_min=2 h_max=3 %}
                        {% endif %}

                        {{ page.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
