---
layout: documentation
---

{% capture unmaintained %}
Kimai 1 is not maintained any longer, please <a href="{% link _documentation/migration-v1.md %}">upgrade to Kimai 2</a> now!
There is <a href="{% link _store/keleo-installation-support.md %}">paid support</a> available and you can even move to our <a href="https://www.kimai.cloud" target="_blank">hosted cloud</a>.
{% endcapture %}
{% include alert.html type="danger" alert=unmaintained %}

{% if page.url_v2 != nil %}
    {% capture docs2 %}
        This documentation page exists <a href="{{ page.url_v2 }}">for version 2 here</a>.
    {% endcapture %}
    {% include alert.html type="success" alert=docs2 %}
{% endif %}

{{ content }}
