$pre-padding-y:             0.1rem !default;
$pre-padding-x:             0.5rem !default;
$pre-bg:                    #eee !default;
$enable-dark-mode:          false;
$success:                   #14873f !default;

$font-weight-normal:        400 !default;
$font-weight-medium:        500 !default;
$font-weight-semibold:      600 !default;
$font-weight-bold:          600 !default;

$dropdown-link-hover-bg:    #efefef !default;
$font-weight-normal:        400 !default;
$display-font-weight:       $font-weight-normal;
