@if $enable-dark-mode {
/*
    The dark-mode is globally disabled to reduce file size.
    But the theme has a few bugs, as it does not consider .bg-dark as "dark mode"...
 */
} @else {
    .bg-dark {
        --#{$prefix}heading-color: #fff;
        --#{$prefix}body-color: rgba(255, 255, 255, 0.7);
        --#{$prefix}navbar-brand-color: #fff;
        --#{$prefix}navbar-brand-hover-color: #fff;
        --#{$prefix}border-color: rgba(255, 255, 255, 0.14);

        .list-group-item.active {
            box-shadow: none;
        }

        .list-group-item-action {
            --#{$prefix}list-group-action-color: rgba(255, 255, 255, 0.85);
        }

        .nav {
            --#{$prefix}nav-link-color: rgba(255, 255, 255, 0.85);
        }

        .btn-secondary:not(.bg-white) {
            --#{$prefix}btn-color: rgba(#{to-rgb($light)}, .85);
            --#{$prefix}btn-hover-color: #{$light};
            --#{$prefix}btn-active-color: #{$light};
            --#{$prefix}btn-border-color: transparent;
            --#{$prefix}btn-hover-border-color: transparent;
            --#{$prefix}btn-active-border-color: transparent;
            --#{$prefix}btn-bg: rgba(#{to-rgb($light)}, .06);
            --#{$prefix}btn-hover-bg: rgba(#{to-rgb($light)}, .12);
            --#{$prefix}btn-active-bg: rgba(#{to-rgb($light)}, .12);
            --#{$prefix}btn-disabled-bg: rgba(#{to-rgb($light)}, .05);
            --#{$prefix}btn-disabled-border-color: transparent;
        }

        .btn-prev, .btn-next {
            --#{$prefix}carousel-nav-btn-bg: #{$carousel-nav-btn-bg-dark};
            --#{$prefix}carousel-nav-btn-color: #{$carousel-nav-btn-color-dark};
            --#{$prefix}carousel-nav-btn-box-shadow: none;
            --#{$prefix}carousel-nav-btn-disabled-color: rgba(#{to-rgb($carousel-nav-btn-color-dark)}, .5);
        }

        .form-select {
            color: $input-color-dark;
            background-color: $input-bg-dark;
            border-color: $input-border-color-dark;
            &:focus {
                border-color: $input-focus-border-color-dark;
                box-shadow: none;
            }
            &:disabled,
            &[readonly] {
                background-color: $input-disabled-bg-dark;
                border-color: $input-disabled-border-color-dark;
            }
        }

    }

    /* Only used on pricing page on a dark background */
    .form-switch.price-switch {
        .form-check-label {
            color: #fff !important;
        }
    }
}

/* RANDOM STUFF FOLLOWING */

.navbar.navbar-stuck {
    border-bottom: 1px solid #c6c6c6;
}

/* store items */
.btn-buy {
    --si-btn-font-size: 1.2rem;
    text-transform: capitalize;
}

.nav-tabs .nav-link.active {
    background-color: #737272;
}

/* apply a default margin to all code blocks */
div.highlighter-rouge {
    margin-bottom: 1.5rem;
}

.side-nav .nav ul {
    list-style-type: none;
}

pre[class=highlight], figure[class=highlight] pre
{
    border-radius: 0;
}

/* monster icons for homepage */
i.feature-icon {
    font-size: 12rem;
    line-height: 12rem;
}

.card-note, .alert {
    p {
        display: inline;
    }
    div.highlighter-rouge:last-child, p:last-child {
        margin-bottom: 0;
    }
}

@include media-breakpoint-down(sm) {
    .table>:not(caption)>*>* {
        padding: 0.25rem 0;
    }
}

table.table.permissions {
    th:nth-child(1),
    td:nth-child(1) {
        width: 300px;
    }
}

/*
.store-screenshots-slider {
    margin-bottom: 15px;
    img.slider {
        background: rgba(0,0,0,0.2);
    }
    .carousel-caption {
        background: rgba(0,0,0,0.8);
        padding: 20px;
    }
    .carousel-item-background {
        background: rgba(0,0,0,0.01);
    }
    .carousel-control-prev,
    .carousel-control-next {
        font-size: 30px;
        color: #000;
        opacity: 1;
    }
}
*/

/* only show the store items on larger screens */
/*
.product-icon {
    display: none;
}
*/

/* only show the badges on larger screens */
/*
table.product-listing .badge {
    display: none;
}
*/

/*
@media (max-width: map-get($grid-breakpoints, "md")) {
    #documentation-content ul {
        padding-left: 3px;
        list-style-position: inside;
    }
}

@media (min-width: map-get($grid-breakpoints, "sm")) {
    .product-icon {
        display: table-cell;
        width: 100px;
    }

    table.product-listing .badge {
        display: inline-block;
    }
}
*/

/* make sure the article names are colored link a link */
/*
tr.featured-article td {
    h4 a {
        color: $link-color;
    }
}
*/

/* for permission names in tables */
/*
table.table td code.highlighter-rouge
{
    white-space: nowrap;
}
*/

/* for navigation icon links in mobile view */
/*
a.nav-link.icon {
    padding: 0.5rem;
}
*/

/* markdown content in table cells always is always wrapped in <p> */
/*
table.feature-list td p {
    margin-bottom: 0;
}
*/

/* as long as the name "kimai" is not included in an image */
/*
.header-brand {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: unset;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
*/

/* some basic styling for the TOC plugin */
/*
.toc {
    background-color: #f8f9fa;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0,40,100,0.12);
    border-radius: 3px;
    list-style: none;
}
.toc_new {
    background-color: #f8f9fa;
    margin: 1rem 0;
    padding: 1rem 2rem;
    border: 1px solid rgba(0,40,100,0.12);
    border-radius: 3px;
    ul {
        margin-bottom: 0;
        padding-left: 1rem;
    }
}
*/

/* Fix alerts overlapping table of contents */
/*
#documentation-content {
    .alert {
        position: unset;
    }
}
*/

/* Collapsible cards, like store item pages (installation) */
/*
.btn-icon {
    padding-left: 20px;
}
*/

.docsnavi{
    .list-group-item-action {
        font-size: 15px;
        width: 95%;
        padding-top: 2px;
        padding-bottom: 2px;
        &.active {
            border-radius: 4px;
        }
    }
}
.navbar-nav .nav-link.active {
    pointer-events: unset;
}
