name: Generate website with Jekyll

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0' # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          cache-version: 0 # Increment this number if you need to re-download cached gems
#      - name: Setup Pages
#        id: pages
#        uses: actions/configure-pages@v5
      - name: Build with Jekyll
        run: bundle exec jekyll build
        env:
          JEKYLL_ENV: production
      - name: Google verification file
        run: |
          echo "google-site-verification: googleeb5b9accd9e1e7c6.html" > _site/googleeb5b9accd9e1e7c6.html
      - name: Bing verification file
        run: |
          echo "<?xml version=\"1.0\"?><users><user>874E17F27A8EABE9DDAED762FC498BC4</user></users>" > _site/BingSiteAuth.xml
      - name: BlueSky verification file
        run: |
          mkdir _site/.well-known/
          echo "did:plc:honlpxnvzll2rpfcszvgrgw5" > _site/.well-known/atproto-did
      - name: Fix locale Hebrew
        run: |
            find _site/he -type f -exec sed -i'' 's/\/he\//\//g' {} +
            find _site/he -type f -exec sed -i'' 's/href="\/documentation\//href="https:\/\/www.kimai.org\/documentation\//g' {} +
            find _site/he -type f -exec sed -i'' 's/href="\/blog\/2/href="https:\/\/www.kimai.org\/blog\/2/g' {} +
            find _site/he -type f -exec sed -i'' 's/href="\/en\//href="https:\/\/www.kimai.org\/en\//g' {} +
      - name: Fix locale zh_Hant
        run: |
            find _site/zh_Hant -type f -exec sed -i'' 's/\/zh_Hant\//\//g' {} +
            find _site/zh_Hant -type f -exec sed -i'' 's/href="\/documentation\//href="https:\/\/www.kimai.org\/documentation\//g' {} +
            find _site/zh_Hant -type f -exec sed -i'' 's/href="\/blog\/2/href="https:\/\/www.kimai.org\/blog\/2/g' {} +
            find _site/zh_Hant -type f -exec sed -i'' 's/href="\/en\//href="https:\/\/www.kimai.org\/en\//g' {} +
      - name: Commit to branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
            folder: _site
            branch: site
